In [2]:
import helpers, api_request
import pandas as pd

In [3]:
api_request.HMS.login

In [4]:
api_request.HMS.login

In [3]:
#replacing COMIDS from new aoi
df_new_catch = pd.read_excel('NHDFlowlineV2_Merrimack_AttributeTable_Excel_CK_BC_KV.xlsx')
df_new_catch.head()

,FID,COMID,FDATE,RESOLUTION,GNIS_ID,GNIS_NAME,LENGTHKM,REACHCODE,FLOWDIR,WBAREACOMI,FTYPE,FCODE,SHAPE_LENG,ENABLED,GNIS_NBR
0,0,6741978,2008-07-21,Medium,619363,Merrimack River,1.123,1070006001801,With Digitized,120049678,ArtificialPath,55800,0.012973,True,0
1,1,6746018,2008-07-21,Medium,619363,Merrimack River,0.198,1070006000409,With Digitized,120049678,ArtificialPath,55800,0.001960,True,0
2,2,6741876,2008-07-21,Medium,619363,Merrimack River,1.962,1070006001810,With Digitized,120049678,ArtificialPath,55800,0.018477,True,0
3,3,6742162,2008-07-21,Medium,619363,Merrimack River,1.034,1070006000002,With Digitized,120049678,ArtificialPath,55800,0.011660,True,0
4,4,6741964,2008-07-21,Medium,619363,Merrimack River,1.397,1070006001803,With Digitized,120049678,ArtificialPath,55800,0.012969,True,0

In [4]:
new_list = df_new_catch['COMID'].tolist()[0:]
type(new_list)

list

In [5]:
#Back Creek COMID Selection Revising from the use of an excel file or csv as above to extract COMID list. 
#Now provides new listing formation 
new_list = [8625279,8625313,8625375,8625523,8625547,8625615,8625685,8625697,8625717,8625727,8625731,8625735,8625739,8625747,8625775,8627469,8628577,8628579,8628581,8628587,8628591,8628603,8628611,8628623,8628627,8628631,8628641,8628643,8629331]

In [6]:
new_list[0:5] #prints out first five COMIDs in list

[8625279, 8625313, 8625375, 8625523, 8625547]

In [7]:
 len(new_list) #Gets length of the comids in list

29

In [8]:
length = len(new_list)
#Identify how long the COMID list is
print(length)

29

In [9]:
#COMID List of Choice is set here (new from my watershed workflow)
comid_list =[]
comid_list.append(new_list)
print(comid_list)
length = len(comid_list[0])
#Identify how long the COMID list is
print(length) #double checking after resetting to the comid list

[[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]]
29

In [10]:
#https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=9731484 tester for single
#catch_char_url = ('https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=' + str(comid_list[0][0]))
catch_char_url = ('https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=' + str(comid_list[0][0]))
print(catch_char_url)
import requests
#catch_char_url = ('https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=' + str(comid[i]))
response1 = requests.get(catch_char_url)
print(response1.status_code)
print(response1.json())
catch_char = response1.json()
#catch_char_dic = json.loads(catch_char.json())
print(type(catch_char))
#print(catch_char['metadata']['BANKFULL_DEPTH'],catch_char['metadata']['BANKFULL_XSEC_AREA'], catch_char['metadata'])

https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625279
200
{'metadata': {'FROMCOMID': '8625279', 'FROMHYDSEQ': '250021125', 'FROMLVLPAT': '250020754', 'TOCOMID': '8627469', 'TOHYDSEQ': '250020754', 'TOLVLPAT': '250020754', 'NODENUMBER': '250007866', 'DELTALEVEL': '0', 'DIRECTION': '709', 'GAPDISTKM': '0', 'HasGeo': 'Y', 'TotDASqKM': '151.992', 'DivDASqKM': '151.992', 'Region': '03N', 'ComID': '8625279', 'Fdate': '7/3/2012', 'StreamLeve': '2', 'StreamOrde': '3', 'StreamCalc': '3', 'FromNode': '250007202', 'ToNode': '250007866', 'Hydroseq': '250021125', 'LevelPathI': '250020754', 'Pathlength': '556.341', 'TerminalPa': '250002964', 'Divergence': '0', 'StartFlag': '0', 'TerminalFl': '0', 'DnLevel': '2', 'ThinnerCod': '0', 'UpLevelPat': '250020754', 'UpHydroseq': '250021525', 'DnLevelPat': '250020754', 'DnMinorHyd': '0', 'DnDrainCou': '1', 'DnHydroseq': '250020754', 'FromMeas': '1.91088', 'ToMeas': '100', 'ReachCode': '03010101000410', 'LengthKM': '2.41', 'Fcode': '46006', 'RtnDiv': '0', 'OutDiv': '0', 'DivEffect': '0', 'VPUIn': '0', 'VPUOut': '0', 'AreaSqKM': '2.133', 'Tidal': '0', 'TOTMA': '0.07607163305', 'WBAreaType': '', 'CentroidLatitude': '37.22526', 'CentroidLongitude': '-79.85560583', 'WBAREACOMI': 'NA', 'MAXELEVRAW': '-9998', 'MINELEVRAW': '24214', 'MAXELEVSMO': '24952', 'MINELEVSMO': '24337', 'SLOPE': '0.00255186', 'ELEVFIXED': '0', 'HWTYPE': '', 'STATUSFLAG': 'A', 'SLOPELENKM': '2.41', 'COMID': '8625279', 'REACHCODE': '03010101000410', 'HUC12': '030101010405', 'TOHUC': '030101010701', 'Length': '0.0', 'BANKFULL_WIDTH': '25.10', 'BANKFULL_DEPTH': '1.10', 'BANKFULL_XSEC_AREA': '28.17'}}
<class 'dict'>

In [11]:
catch_char['metadata'].keys() #list of all the parameters associated with the json request from HMS

dict_keys(['FROMCOMID', 'FROMHYDSEQ', 'FROMLVLPAT', 'TOCOMID', 'TOHYDSEQ', 'TOLVLPAT', 'NODENUMBER', 'DELTALEVEL', 'DIRECTION', 'GAPDISTKM', 'HasGeo', 'TotDASqKM', 'DivDASqKM', 'Region', 'ComID', 'Fdate', 'StreamLeve', 'StreamOrde', 'StreamCalc', 'FromNode', 'ToNode', 'Hydroseq', 'LevelPathI', 'Pathlength', 'TerminalPa', 'Divergence', 'StartFlag', 'TerminalFl', 'DnLevel', 'ThinnerCod', 'UpLevelPat', 'UpHydroseq', 'DnLevelPat', 'DnMinorHyd', 'DnDrainCou', 'DnHydroseq', 'FromMeas', 'ToMeas', 'ReachCode', 'LengthKM', 'Fcode', 'RtnDiv', 'OutDiv', 'DivEffect', 'VPUIn', 'VPUOut', 'AreaSqKM', 'Tidal', 'TOTMA', 'WBAreaType', 'CentroidLatitude', 'CentroidLongitude', 'WBAREACOMI', 'MAXELEVRAW', 'MINELEVRAW', 'MAXELEVSMO', 'MINELEVSMO', 'SLOPE', 'ELEVFIXED', 'HWTYPE', 'STATUSFLAG', 'SLOPELENKM', 'COMID', 'REACHCODE', 'HUC12', 'TOHUC', 'Length', 'BANKFULL_WIDTH', 'BANKFULL_DEPTH', 'BANKFULL_XSEC_AREA'])

In [12]:
type(catch_char['metadata'])

dict

In [13]:
new_data = catch_char['metadata']
type(new_data)

dict

In [14]:
new_data

{'FROMCOMID': '8625279',
 'FROMHYDSEQ': '250021125',
 'FROMLVLPAT': '250020754',
 'TOCOMID': '8627469',
 'TOHYDSEQ': '250020754',
 'TOLVLPAT': '250020754',
 'NODENUMBER': '250007866',
 'DELTALEVEL': '0',
 'DIRECTION': '709',
 'GAPDISTKM': '0',
 'HasGeo': 'Y',
 'TotDASqKM': '151.992',
 'DivDASqKM': '151.992',
 'Region': '03N',
 'ComID': '8625279',
 'Fdate': '7/3/2012',
 'StreamLeve': '2',
 'StreamOrde': '3',
 'StreamCalc': '3',
 'FromNode': '250007202',
 'ToNode': '250007866',
 'Hydroseq': '250021125',
 'LevelPathI': '250020754',
 'Pathlength': '556.341',
 'TerminalPa': '250002964',
 'Divergence': '0',
 'StartFlag': '0',
 'TerminalFl': '0',
 'DnLevel': '2',
 'ThinnerCod': '0',
 'UpLevelPat': '250020754',
 'UpHydroseq': '250021525',
 'DnLevelPat': '250020754',
 'DnMinorHyd': '0',
 'DnDrainCou': '1',
 'DnHydroseq': '250020754',
 'FromMeas': '1.91088',
 'ToMeas': '100',
 'ReachCode': '03010101000410',
 'LengthKM': '2.41',
 'Fcode': '46006',
 'RtnDiv': '0',
 'OutDiv': '0',
 'DivEffect': '0',
 'VPUIn': '0',
 'VPUOut': '0',
 'AreaSqKM': '2.133',
 'Tidal': '0',
 'TOTMA': '0.07607163305',
 'WBAreaType': '',
 'CentroidLatitude': '37.22526',
 'CentroidLongitude': '-79.85560583',
 'WBAREACOMI': 'NA',
 'MAXELEVRAW': '-9998',
 'MINELEVRAW': '24214',
 'MAXELEVSMO': '24952',
 'MINELEVSMO': '24337',
 'SLOPE': '0.00255186',
 'ELEVFIXED': '0',
 'HWTYPE': '',
 'STATUSFLAG': 'A',
 'SLOPELENKM': '2.41',
 'COMID': '8625279',
 'REACHCODE': '03010101000410',
 'HUC12': '030101010405',
 'TOHUC': '030101010701',
 'Length': '0.0',
 'BANKFULL_WIDTH': '25.10',
 'BANKFULL_DEPTH': '1.10',
 'BANKFULL_XSEC_AREA': '28.17'}

In [15]:
new_data.items()

dict_items([('FROMCOMID', '8625279'), ('FROMHYDSEQ', '250021125'), ('FROMLVLPAT', '250020754'), ('TOCOMID', '8627469'), ('TOHYDSEQ', '250020754'), ('TOLVLPAT', '250020754'), ('NODENUMBER', '250007866'), ('DELTALEVEL', '0'), ('DIRECTION', '709'), ('GAPDISTKM', '0'), ('HasGeo', 'Y'), ('TotDASqKM', '151.992'), ('DivDASqKM', '151.992'), ('Region', '03N'), ('ComID', '8625279'), ('Fdate', '7/3/2012'), ('StreamLeve', '2'), ('StreamOrde', '3'), ('StreamCalc', '3'), ('FromNode', '250007202'), ('ToNode', '250007866'), ('Hydroseq', '250021125'), ('LevelPathI', '250020754'), ('Pathlength', '556.341'), ('TerminalPa', '250002964'), ('Divergence', '0'), ('StartFlag', '0'), ('TerminalFl', '0'), ('DnLevel', '2'), ('ThinnerCod', '0'), ('UpLevelPat', '250020754'), ('UpHydroseq', '250021525'), ('DnLevelPat', '250020754'), ('DnMinorHyd', '0'), ('DnDrainCou', '1'), ('DnHydroseq', '250020754'), ('FromMeas', '1.91088'), ('ToMeas', '100'), ('ReachCode', '03010101000410'), ('LengthKM', '2.41'), ('Fcode', '46006'), ('RtnDiv', '0'), ('OutDiv', '0'), ('DivEffect', '0'), ('VPUIn', '0'), ('VPUOut', '0'), ('AreaSqKM', '2.133'), ('Tidal', '0'), ('TOTMA', '0.07607163305'), ('WBAreaType', ''), ('CentroidLatitude', '37.22526'), ('CentroidLongitude', '-79.85560583'), ('WBAREACOMI', 'NA'), ('MAXELEVRAW', '-9998'), ('MINELEVRAW', '24214'), ('MAXELEVSMO', '24952'), ('MINELEVSMO', '24337'), ('SLOPE', '0.00255186'), ('ELEVFIXED', '0'), ('HWTYPE', ''), ('STATUSFLAG', 'A'), ('SLOPELENKM', '2.41'), ('COMID', '8625279'), ('REACHCODE', '03010101000410'), ('HUC12', '030101010405'), ('TOHUC', '030101010701'), ('Length', '0.0'), ('BANKFULL_WIDTH', '25.10'), ('BANKFULL_DEPTH', '1.10'), ('BANKFULL_XSEC_AREA', '28.17')])

In [16]:
df_new_data = pd.DataFrame.from_dict(new_data.items())
df_new_data.head()

            0          1
0   FROMCOMID    8625279
1  FROMHYDSEQ  250021125
2  FROMLVLPAT  250020754
3     TOCOMID    8627469
4    TOHYDSEQ  250020754

In [17]:
df_nd_2 = df_new_data.transpose()

In [18]:
df_nd_2[0:-1][:].values

array([['FROMCOMID', 'FROMHYDSEQ', 'FROMLVLPAT', 'TOCOMID', 'TOHYDSEQ',
        'TOLVLPAT', 'NODENUMBER', 'DELTALEVEL', 'DIRECTION', 'GAPDISTKM',
        'HasGeo', 'TotDASqKM', 'DivDASqKM', 'Region', 'ComID', 'Fdate',
        'StreamLeve', 'StreamOrde', 'StreamCalc', 'FromNode', 'ToNode',
        'Hydroseq', 'LevelPathI', 'Pathlength', 'TerminalPa',
        'Divergence', 'StartFlag', 'TerminalFl', 'DnLevel', 'ThinnerCod',
        'UpLevelPat', 'UpHydroseq', 'DnLevelPat', 'DnMinorHyd',
        'DnDrainCou', 'DnHydroseq', 'FromMeas', 'ToMeas', 'ReachCode',
        'LengthKM', 'Fcode', 'RtnDiv', 'OutDiv', 'DivEffect', 'VPUIn',
        'VPUOut', 'AreaSqKM', 'Tidal', 'TOTMA', 'WBAreaType',
        'CentroidLatitude', 'CentroidLongitude', 'WBAREACOMI',
        'MAXELEVRAW', 'MINELEVRAW', 'MAXELEVSMO', 'MINELEVSMO', 'SLOPE',
        'ELEVFIXED', 'HWTYPE', 'STATUSFLAG', 'SLOPELENKM', 'COMID',
        'REACHCODE', 'HUC12', 'TOHUC', 'Length', 'BANKFULL_WIDTH',
        'BANKFULL_DEPTH', 'BANKFULL_XSEC_AREA']], dtype=object)

In [19]:
df_nd_2.keys = df_nd_2[0:-1][:].values

In [20]:
df_nd_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 70 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
 3   3       2 non-null      object
 4   4       2 non-null      object
 5   5       2 non-null      object
 6   6       2 non-null      object
 7   7       2 non-null      object
 8   8       2 non-null      object
 9   9       2 non-null      object
 10  10      2 non-null      object
 11  11      2 non-null      object
 12  12      2 non-null      object
 13  13      2 non-null      object
 14  14      2 non-null      object
 15  15      2 non-null      object
 16  16      2 non-null      object
 17  17      2 non-null      object
 18  18      2 non-null      object
 19  19      2 non-null      object
 20  20      2 non-null      object
 21  21      2 non-null      object
 22  22      2 non-null      object
 23  23      2 non-null      object
 24  24      2 non-null      object
 25  25      2 non-null      object
 26  26      2 non-null      object
 27  27      2 non-null      object
 28  28      2 non-null      object
 29  29      2 non-null      object
 30  30      2 non-null      object
 31  31      2 non-null      object
 32  32      2 non-null      object
 33  33      2 non-null      object
 34  34      2 non-null      object
 35  35      2 non-null      object
 36  36      2 non-null      object
 37  37      2 non-null      object
 38  38      2 non-null      object
 39  39      2 non-null      object
 40  40      2 non-null      object
 41  41      2 non-null      object
 42  42      2 non-null      object
 43  43      2 non-null      object
 44  44      2 non-null      object
 45  45      2 non-null      object
 46  46      2 non-null      object
 47  47      2 non-null      object
 48  48      2 non-null      object
 49  49      2 non-null      object
 50  50      2 non-null      object
 51  51      2 non-null      object
 52  52      2 non-null      object
 53  53      2 non-null      object
 54  54      2 non-null      object
 55  55      2 non-null      object
 56  56      2 non-null      object
 57  57      2 non-null      object
 58  58      2 non-null      object
 59  59      2 non-null      object
 60  60      2 non-null      object
 61  61      2 non-null      object
 62  62      2 non-null      object
 63  63      2 non-null      object
 64  64      2 non-null      object
 65  65      2 non-null      object
 66  66      2 non-null      object
 67  67      2 non-null      object
 68  68      2 non-null      object
 69  69      2 non-null      object
dtypes: object(70)
memory usage: 1.2+ KB

In [21]:
df_new_data.head()

            0          1
0   FROMCOMID    8625279
1  FROMHYDSEQ  250021125
2  FROMLVLPAT  250020754
3     TOCOMID    8627469
4    TOHYDSEQ  250020754

In [22]:
catch_char['metadata'].keys()

dict_keys(['FROMCOMID', 'FROMHYDSEQ', 'FROMLVLPAT', 'TOCOMID', 'TOHYDSEQ', 'TOLVLPAT', 'NODENUMBER', 'DELTALEVEL', 'DIRECTION', 'GAPDISTKM', 'HasGeo', 'TotDASqKM', 'DivDASqKM', 'Region', 'ComID', 'Fdate', 'StreamLeve', 'StreamOrde', 'StreamCalc', 'FromNode', 'ToNode', 'Hydroseq', 'LevelPathI', 'Pathlength', 'TerminalPa', 'Divergence', 'StartFlag', 'TerminalFl', 'DnLevel', 'ThinnerCod', 'UpLevelPat', 'UpHydroseq', 'DnLevelPat', 'DnMinorHyd', 'DnDrainCou', 'DnHydroseq', 'FromMeas', 'ToMeas', 'ReachCode', 'LengthKM', 'Fcode', 'RtnDiv', 'OutDiv', 'DivEffect', 'VPUIn', 'VPUOut', 'AreaSqKM', 'Tidal', 'TOTMA', 'WBAreaType', 'CentroidLatitude', 'CentroidLongitude', 'WBAREACOMI', 'MAXELEVRAW', 'MINELEVRAW', 'MAXELEVSMO', 'MINELEVSMO', 'SLOPE', 'ELEVFIXED', 'HWTYPE', 'STATUSFLAG', 'SLOPELENKM', 'COMID', 'REACHCODE', 'HUC12', 'TOHUC', 'Length', 'BANKFULL_WIDTH', 'BANKFULL_DEPTH', 'BANKFULL_XSEC_AREA'])

In [23]:
for key in catch_char['metadata']:
    print (key)

FROMCOMID
FROMHYDSEQ
FROMLVLPAT
TOCOMID
TOHYDSEQ
TOLVLPAT
NODENUMBER
DELTALEVEL
DIRECTION
GAPDISTKM
HasGeo
TotDASqKM
DivDASqKM
Region
ComID
Fdate
StreamLeve
StreamOrde
StreamCalc
FromNode
ToNode
Hydroseq
LevelPathI
Pathlength
TerminalPa
Divergence
StartFlag
TerminalFl
DnLevel
ThinnerCod
UpLevelPat
UpHydroseq
DnLevelPat
DnMinorHyd
DnDrainCou
DnHydroseq
FromMeas
ToMeas
ReachCode
LengthKM
Fcode
RtnDiv
OutDiv
DivEffect
VPUIn
VPUOut
AreaSqKM
Tidal
TOTMA
WBAreaType
CentroidLatitude
CentroidLongitude
WBAREACOMI
MAXELEVRAW
MINELEVRAW
MAXELEVSMO
MINELEVSMO
SLOPE
ELEVFIXED
HWTYPE
STATUSFLAG
SLOPELENKM
COMID
REACHCODE
HUC12
TOHUC
Length
BANKFULL_WIDTH
BANKFULL_DEPTH
BANKFULL_XSEC_AREA

In [25]:
catch_char['metadata'].keys()

dict_keys(['FROMCOMID', 'FROMHYDSEQ', 'FROMLVLPAT', 'TOCOMID', 'TOHYDSEQ', 'TOLVLPAT', 'NODENUMBER', 'DELTALEVEL', 'DIRECTION', 'GAPDISTKM', 'HasGeo', 'TotDASqKM', 'DivDASqKM', 'Region', 'ComID', 'Fdate', 'StreamLeve', 'StreamOrde', 'StreamCalc', 'FromNode', 'ToNode', 'Hydroseq', 'LevelPathI', 'Pathlength', 'TerminalPa', 'Divergence', 'StartFlag', 'TerminalFl', 'DnLevel', 'ThinnerCod', 'UpLevelPat', 'UpHydroseq', 'DnLevelPat', 'DnMinorHyd', 'DnDrainCou', 'DnHydroseq', 'FromMeas', 'ToMeas', 'ReachCode', 'LengthKM', 'Fcode', 'RtnDiv', 'OutDiv', 'DivEffect', 'VPUIn', 'VPUOut', 'AreaSqKM', 'Tidal', 'TOTMA', 'WBAreaType', 'CentroidLatitude', 'CentroidLongitude', 'WBAREACOMI', 'MAXELEVRAW', 'MINELEVRAW', 'MAXELEVSMO', 'MINELEVSMO', 'SLOPE', 'ELEVFIXED', 'HWTYPE', 'STATUSFLAG', 'SLOPELENKM', 'COMID', 'REACHCODE', 'HUC12', 'TOHUC', 'Length', 'BANKFULL_WIDTH', 'BANKFULL_DEPTH', 'BANKFULL_XSEC_AREA'])

In [26]:
df_nd_2[0:-1][:].values

array([['FROMCOMID', 'FROMHYDSEQ', 'FROMLVLPAT', 'TOCOMID', 'TOHYDSEQ',
        'TOLVLPAT', 'NODENUMBER', 'DELTALEVEL', 'DIRECTION', 'GAPDISTKM',
        'HasGeo', 'TotDASqKM', 'DivDASqKM', 'Region', 'ComID', 'Fdate',
        'StreamLeve', 'StreamOrde', 'StreamCalc', 'FromNode', 'ToNode',
        'Hydroseq', 'LevelPathI', 'Pathlength', 'TerminalPa',
        'Divergence', 'StartFlag', 'TerminalFl', 'DnLevel', 'ThinnerCod',
        'UpLevelPat', 'UpHydroseq', 'DnLevelPat', 'DnMinorHyd',
        'DnDrainCou', 'DnHydroseq', 'FromMeas', 'ToMeas', 'ReachCode',
        'LengthKM', 'Fcode', 'RtnDiv', 'OutDiv', 'DivEffect', 'VPUIn',
        'VPUOut', 'AreaSqKM', 'Tidal', 'TOTMA', 'WBAreaType',
        'CentroidLatitude', 'CentroidLongitude', 'WBAREACOMI',
        'MAXELEVRAW', 'MINELEVRAW', 'MAXELEVSMO', 'MINELEVSMO', 'SLOPE',
        'ELEVFIXED', 'HWTYPE', 'STATUSFLAG', 'SLOPELENKM', 'COMID',
        'REACHCODE', 'HUC12', 'TOHUC', 'Length', 'BANKFULL_WIDTH',
        'BANKFULL_DEPTH', 'BANKFULL_XSEC_AREA']], dtype=object)

In [27]:
key_list = [df_nd_2[0:-1][:].values]

In [28]:
key_list[:]

[array([['FROMCOMID', 'FROMHYDSEQ', 'FROMLVLPAT', 'TOCOMID', 'TOHYDSEQ',
         'TOLVLPAT', 'NODENUMBER', 'DELTALEVEL', 'DIRECTION', 'GAPDISTKM',
         'HasGeo', 'TotDASqKM', 'DivDASqKM', 'Region', 'ComID', 'Fdate',
         'StreamLeve', 'StreamOrde', 'StreamCalc', 'FromNode', 'ToNode',
         'Hydroseq', 'LevelPathI', 'Pathlength', 'TerminalPa',
         'Divergence', 'StartFlag', 'TerminalFl', 'DnLevel', 'ThinnerCod',
         'UpLevelPat', 'UpHydroseq', 'DnLevelPat', 'DnMinorHyd',
         'DnDrainCou', 'DnHydroseq', 'FromMeas', 'ToMeas', 'ReachCode',
         'LengthKM', 'Fcode', 'RtnDiv', 'OutDiv', 'DivEffect', 'VPUIn',
         'VPUOut', 'AreaSqKM', 'Tidal', 'TOTMA', 'WBAreaType',
         'CentroidLatitude', 'CentroidLongitude', 'WBAREACOMI',
         'MAXELEVRAW', 'MINELEVRAW', 'MAXELEVSMO', 'MINELEVSMO', 'SLOPE',
         'ELEVFIXED', 'HWTYPE', 'STATUSFLAG', 'SLOPELENKM', 'COMID',
         'REACHCODE', 'HUC12', 'TOHUC', 'Length', 'BANKFULL_WIDTH',
         'BANKFULL_DEPTH', 'BANKFULL_XSEC_AREA']], dtype=object)]

In [29]:
type(key_list)

list

In [30]:
df_test = pd.DataFrame(catch_char['metadata'].items()).transpose()

In [31]:
df_test[0:-1][:]

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,FROMCOMID,FROMHYDSEQ,FROMLVLPAT,TOCOMID,TOHYDSEQ,TOLVLPAT,NODENUMBER,DELTALEVEL,DIRECTION,GAPDISTKM,...,STATUSFLAG,SLOPELENKM,COMID,REACHCODE,HUC12,TOHUC,Length,BANKFULL_WIDTH,BANKFULL_DEPTH,BANKFULL_XSEC_AREA

In [32]:
df_test.columns

RangeIndex(start=0, stop=70, step=1)

In [33]:
catch_char['metadata'].keys

In [34]:
len(catch_char['metadata'].keys())

70

In [35]:
df_test.columns = catch_char['metadata'].keys()
df_test[1:]

,FROMCOMID,FROMHYDSEQ,FROMLVLPAT,TOCOMID,TOHYDSEQ,TOLVLPAT,NODENUMBER,DELTALEVEL,DIRECTION,GAPDISTKM,...,STATUSFLAG,SLOPELENKM,COMID,REACHCODE,HUC12,TOHUC,Length,BANKFULL_WIDTH,BANKFULL_DEPTH,BANKFULL_XSEC_AREA
1,8625279,250021125,250020754,8627469,250020754,250020754,250007866,0,709,0,...,A,2.41,8625279,03010101000410,030101010405,030101010701,0.0,25.10,1.10,28.17

In [36]:
df_test_2 = df_test[1:]
df_test_2

,FROMCOMID,FROMHYDSEQ,FROMLVLPAT,TOCOMID,TOHYDSEQ,TOLVLPAT,NODENUMBER,DELTALEVEL,DIRECTION,GAPDISTKM,...,STATUSFLAG,SLOPELENKM,COMID,REACHCODE,HUC12,TOHUC,Length,BANKFULL_WIDTH,BANKFULL_DEPTH,BANKFULL_XSEC_AREA
1,8625279,250021125,250020754,8627469,250020754,250020754,250007866,0,709,0,...,A,2.41,8625279,03010101000410,030101010405,030101010701,0.0,25.10,1.10,28.17

In [43]:
#Your focus variables
data_2 = [(catch_char['metadata']['ComID'],catch_char['metadata']['BANKFULL_DEPTH'], catch_char['metadata']['BANKFULL_XSEC_AREA'], catch_char['metadata']['SLOPE'], catch_char['metadata']['BANKFULL_WIDTH'], catch_char['metadata']['LengthKM'])] 
data_2

[('8625279', '1.10', '28.17', '0.00255186', '25.10', '2.41')]

In [14]:
data_3 = [('COMID','StrDepth', 'StrSlope', 'StrXArea', 'StrWidth', 'StrLength'), (catch_char['metadata']['ComID'],catch_char['metadata']['BANKFULL_DEPTH'], catch_char['metadata']['BANKFULL_XSEC_AREA'], catch_char['metadata']['SLOPE'], catch_char['metadata']['BANKFULL_WIDTH'], catch_char['metadata']['LengthKM'])] 
data_3

[('COMID', 'StrDepth', 'StrSlope', 'StrXArea', 'StrWidth', 'StrLength'),
 ('6741978', '3.18', '380.72', '0.00001', '116.47', '1.123')]

In [37]:
df_all = pd.DataFrame()
for comid in comid_list:
    for i in range(length):
        print (comid[i])
        catch_char_url1 = ('https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=' + str(comid[i]))
        print(catch_char_url1)
        response2 = requests.get(catch_char_url1)
        catch_char1 = response2.json()
        #Specifying particular parameters
        #print (catch_char1['metadata']['ComID'],catch_char1['metadata']['BANKFULL_DEPTH'], catch_char1['metadata']['BANKFULL_XSEC_AREA'], catch_char1['metadata']['SLOPE'], catch_char1['metadata']['BANKFULL_WIDTH'], catch_char1['metadata']['LengthKM'])
        #data_f = [(catch_char1['metadata']['ComID'],catch_char1['metadata']['BANKFULL_DEPTH'], catch_char1['metadata']['BANKFULL_XSEC_AREA'], catch_char1['metadata']['SLOPE'], catch_char1['metadata']['BANKFULL_WIDTH'], catch_char1['metadata']['LengthKM'])]
        #Taking all data 
        df_test = pd.DataFrame(catch_char1['metadata'].items()).transpose()
        df_test.columns = catch_char1['metadata'].keys()
        #df_test[1:]
        df_test_2 = df_test[1:]
        df_all =  pd.concat([df_test_2, df_all])

8625279
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625279
8625313
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625313
8625375
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625375
8625523
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625523
8625547
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625547
8625615
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625615
8625685
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625685
8625697
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625697
8625717
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625717
8625727
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625727
8625731
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625731
8625735
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625735
8625739
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625739
8625747
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625747
8625775
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8625775
8627469
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8627469
8628577
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628577
8628579
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628579
8628581
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628581
8628587
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628587
8628591
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628591
8628603
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628603
8628611
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628611
8628623
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628623
8628627
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628627
8628631
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628631
8628641
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628641
8628643
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8628643
8629331
https://ceamdev.ceeopdev.net/hms/rest/api/info/catchment?comid=8629331

In [38]:
df_all.head()

,FROMCOMID,FROMHYDSEQ,FROMLVLPAT,TOCOMID,TOHYDSEQ,TOLVLPAT,NODENUMBER,DELTALEVEL,DIRECTION,GAPDISTKM,...,STATUSFLAG,SLOPELENKM,COMID,REACHCODE,HUC12,TOHUC,Length,BANKFULL_WIDTH,BANKFULL_DEPTH,BANKFULL_XSEC_AREA
1,8629331,250033174,250020754,8628623,250031794,250020754,250008257,0,709,0,...,A,3.773,8629331,03010101000425,030101010405,030101010701,0.0,17.15,0.84,14.77
1,8628643,250093396,250020754,8628641,250071641,250020754,250008263,0,709,0,...,A,1.203,8628643,03010101000435,030101010405,030101010701,0.0,4.87,0.35,1.74
1,8628641,250071641,250020754,8628627,250060349,250020754,250008259,0,709,0,...,A,0.84,8628641,03010101000434,030101010405,030101010701,0.0,5.91,0.40,2.43
1,8628631,250132505,250020754,8628643,250093396,250020754,250008264,0,709,0,...,A,1.175,8628631,03010101000435,030101010405,030101010701,0.0,3.87,0.30,1.18
1,8628627,250060349,250020754,8628611,250053061,250020754,250008254,0,709,0,...,A,0.435,8628627,03010101000433,030101010405,030101010701,0.0,8.39,0.52,4.39

In [177]:
#df_all.to_csv('060223_BackCreek_COMID_HMS_Metadata.csv')

In [39]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 1 to 1
Data columns (total 70 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FROMCOMID           29 non-null     object
 1   FROMHYDSEQ          29 non-null     object
 2   FROMLVLPAT          29 non-null     object
 3   TOCOMID             29 non-null     object
 4   TOHYDSEQ            29 non-null     object
 5   TOLVLPAT            29 non-null     object
 6   NODENUMBER          29 non-null     object
 7   DELTALEVEL          29 non-null     object
 8   DIRECTION           29 non-null     object
 9   GAPDISTKM           29 non-null     object
 10  HasGeo              29 non-null     object
 11  TotDASqKM           29 non-null     object
 12  DivDASqKM           29 non-null     object
 13  Region              29 non-null     object
 14  ComID               29 non-null     object
 15  Fdate               29 non-null     object
 16  StreamLeve          29 non-null     object
 17  StreamOrde          29 non-null     object
 18  StreamCalc          29 non-null     object
 19  FromNode            29 non-null     object
 20  ToNode              29 non-null     object
 21  Hydroseq            29 non-null     object
 22  LevelPathI          29 non-null     object
 23  Pathlength          29 non-null     object
 24  TerminalPa          29 non-null     object
 25  Divergence          29 non-null     object
 26  StartFlag           29 non-null     object
 27  TerminalFl          29 non-null     object
 28  DnLevel             29 non-null     object
 29  ThinnerCod          29 non-null     object
 30  UpLevelPat          29 non-null     object
 31  UpHydroseq          29 non-null     object
 32  DnLevelPat          29 non-null     object
 33  DnMinorHyd          29 non-null     object
 34  DnDrainCou          29 non-null     object
 35  DnHydroseq          29 non-null     object
 36  FromMeas            29 non-null     object
 37  ToMeas              29 non-null     object
 38  ReachCode           29 non-null     object
 39  LengthKM            29 non-null     object
 40  Fcode               29 non-null     object
 41  RtnDiv              29 non-null     object
 42  OutDiv              29 non-null     object
 43  DivEffect           29 non-null     object
 44  VPUIn               29 non-null     object
 45  VPUOut              29 non-null     object
 46  AreaSqKM            29 non-null     object
 47  Tidal               29 non-null     object
 48  TOTMA               29 non-null     object
 49  WBAreaType          29 non-null     object
 50  CentroidLatitude    29 non-null     object
 51  CentroidLongitude   29 non-null     object
 52  WBAREACOMI          29 non-null     object
 53  MAXELEVRAW          29 non-null     object
 54  MINELEVRAW          29 non-null     object
 55  MAXELEVSMO          29 non-null     object
 56  MINELEVSMO          29 non-null     object
 57  SLOPE               29 non-null     object
 58  ELEVFIXED           29 non-null     object
 59  HWTYPE              29 non-null     object
 60  STATUSFLAG          29 non-null     object
 61  SLOPELENKM          29 non-null     object
 62  COMID               29 non-null     object
 63  REACHCODE           29 non-null     object
 64  HUC12               29 non-null     object
 65  TOHUC               29 non-null     object
 66  Length              29 non-null     object
 67  BANKFULL_WIDTH      29 non-null     object
 68  BANKFULL_DEPTH      29 non-null     object
 69  BANKFULL_XSEC_AREA  29 non-null     object
dtypes: object(70)
memory usage: 16.1+ KB

In [40]:
df_all['HUC12'].unique()

array(['030101010405'], dtype=object)

In [182]:
import requests

headers = {
    'accept': '*/*',
    'Content-Type': 'application/json-patch+json',
}

data = '{"runoffSource":"nldas","streamHydrology":"constant","aggregation":false,"source":"streamflow","dateTimeSpan":{"startDate":"2014-07-01T00:00:00","endDate":"2014-07-31T00:00:00","dateTimeFormat":"yyyy-MM-dd HH"},"geometry":{"description":null,"comID":0,"hucID":"030101010405","stationID":null,"point":null,"geometryMetadata":{"precipSource":"nldas"},"timezone":null},"dataValueFormat":"E3","temporalResolution":"default","timeLocalized":true,"units":"default","outputFormat":"json","baseURL":null,"inputTimeSeries":null}'

response = requests.post('https://ceamdev.ceeopdev.net/hms/rest/api/workflow/watershed', headers=headers, data=data)

In [183]:
output1 = response.json()

In [184]:
type(output1)

dict

In [185]:
output1.keys()

dict_keys(['dataset', 'dataSource', 'metadata', 'data', 'table'])

In [195]:
output1['metadata']

{'request_url': 'api/workflow/watershed',
 'start_date': '07/01/2014 01:00:00',
 'end_date': '08/08/2014 00:00:00',
 'timestep': 'daily',
 'errors': '',
 'catchments': '8625279,8627469,8625313,8625375,8625523,8625547,8625615,8625685,8625697,8625717,8625739,8625727,8625747,8625735,8625775,8625731,8628623,8629331,8628579,8628577,8628591,8628587,8628581,8628603,8628611,8628627,8628641,8628631,8628643,8625237,8627287,8625383,8625371,8625387,8625369,8625339,8625551,8625687,8625649,8625651,8625703,8625699,8629339,8625483,8628541,8628553,8628575,8628489,8628503,8628571,8628565,8628561,8628543,8628527,8628613,8628585,8628671,8628653,8628713,8628729,8628661,8628633,8628607,8628691,8628675,8629333,8628655,8625733,8625935,8625969,8625949,8625947,8627597,8625867,8626021,8625851,8625927,8625901,8625957,8625869,8625677,8625815,8625771,8625653',
 'connectivity_table_source': 'PlusFlowlineVAA',
 'NHDPlus_url': 'http://www.horizon-systems.com/nhdplus/NHDPlusV2_data.php',
 'Time_elapsed': '0.7646833333333334'}

In [196]:
output1['metadata']['catchments']

'8625279,8627469,8625313,8625375,8625523,8625547,8625615,8625685,8625697,8625717,8625739,8625727,8625747,8625735,8625775,8625731,8628623,8629331,8628579,8628577,8628591,8628587,8628581,8628603,8628611,8628627,8628641,8628631,8628643,8625237,8627287,8625383,8625371,8625387,8625369,8625339,8625551,8625687,8625649,8625651,8625703,8625699,8629339,8625483,8628541,8628553,8628575,8628489,8628503,8628571,8628565,8628561,8628543,8628527,8628613,8628585,8628671,8628653,8628713,8628729,8628661,8628633,8628607,8628691,8628675,8629333,8628655,8625733,8625935,8625969,8625949,8625947,8627597,8625867,8626021,8625851,8625927,8625901,8625957,8625869,8625677,8625815,8625771,8625653'

In [198]:
len(output1['metadata']['catchments']) # must use aqusition by by .loc or by single COMID and year as there are several hundred more sites

671

In [189]:
output1['dataset'] # will not use watershed workflow api. Will apply temp/precip/runoff annually per comid because of volume

'Precipitation, SurfaceRunoff, SubsurfaceRunoff, StreamHydrology'

In [188]:
output1.items()

dict_items([('dataset', 'Precipitation, SurfaceRunoff, SubsurfaceRunoff, StreamHydrology'), ('dataSource', 'nldas, nldas, nldas, constant'), ('metadata', {'request_url': 'api/workflow/watershed', 'start_date': '07/01/2014 01:00:00', 'end_date': '08/08/2014 00:00:00', 'timestep': 'daily', 'errors': '', 'catchments': '8625279,8627469,8625313,8625375,8625523,8625547,8625615,8625685,8625697,8625717,8625739,8625727,8625747,8625735,8625775,8625731,8628623,8629331,8628579,8628577,8628591,8628587,8628581,8628603,8628611,8628627,8628641,8628631,8628643,8625237,8627287,8625383,8625371,8625387,8625369,8625339,8625551,8625687,8625649,8625651,8625703,8625699,8629339,8625483,8628541,8628553,8628575,8628489,8628503,8628571,8628565,8628561,8628543,8628527,8628613,8628585,8628671,8628653,8628713,8628729,8628661,8628633,8628607,8628691,8628675,8629333,8628655,8625733,8625935,8625969,8625949,8625947,8627597,8625867,8626021,8625851,8625927,8625901,8625957,8625869,8625677,8625815,8625771,8625653', 'connectivity_table_source': 'PlusFlowlineVAA', 'NHDPlus_url': 'http://www.horizon-systems.com/nhdplus/NHDPlusV2_data.php', 'Time_elapsed': '0.7646833333333334'}), ('data', {'8625279': {'Precipitation': {'dataset': 'Precipitation', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Precipitation', 'units': 'mm', 'Precipitation_sum': '60.513999999999996', 'Precipitation_mean': '1.952', 'Precipitation_max': '21.43', 'Precipitation_standard_deviation': '4.489', 'Precipitation_variance': '20.153', 'Precipitation_median': '0.071', 'Precipitation_entropy': '3.566', 'Precipitation_geometric_mean': '0', 'Precipitation_skewness': '3.418', 'Precipitation_root_mean_square': '4.828', 'Precipitation_99_percentile': '21.43', 'Precipitation_99_percentile_count': '1', 'Precipitation_95_percentile': '13.627', 'Precipitation_95_percentile_count': '1', 'Precipitation_75_percentile': '1.591', 'Precipitation_75_percentile_count': '8', 'Precipitation_zero_count': '12', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0.139'], '07/02/2014': ['0.854'], '07/03/2014': ['21.43'], '07/04/2014': ['3.311'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['12.76'], '07/10/2014': ['0.655'], '07/11/2014': ['1.361'], '07/12/2014': ['0'], '07/13/2014': ['1.73'], '07/14/2014': ['3.834'], '07/15/2014': ['1.637'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0.04'], '07/19/2014': ['0.731'], '07/20/2014': ['0'], '07/21/2014': ['0.604'], '07/22/2014': ['0.523'], '07/23/2014': ['0.006'], '07/24/2014': ['7.218'], '07/25/2014': ['0.071'], '07/26/2014': ['0'], '07/27/2014': ['3.608'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0.002']}}, 'SurfaceRunoff': {'dataset': 'Runoff', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Runoff', 'units': 'mm', 'Runoff_sum': '2.427', 'Runoff_mean': '0.078', 'Runoff_max': '1.439', 'Runoff_standard_deviation': '0.267', 'Runoff_variance': '0.071', 'Runoff_median': '0', 'Runoff_entropy': '1.979', 'Runoff_geometric_mean': '0', 'Runoff_skewness': '4.758', 'Runoff_root_mean_square': '0.274', 'Runoff_99_percentile': '1.439', 'Runoff_99_percentile_count': '1', 'Runoff_95_percentile': '0.444', 'Runoff_95_percentile_count': '1', 'Runoff_75_percentile': '0.007', 'Runoff_75_percentile_count': '8', 'Runoff_zero_count': '21', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0'], '07/02/2014': ['0'], '07/03/2014': ['1.439'], '07/04/2014': ['0.193'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['0.315'], '07/10/2014': ['0.002'], '07/11/2014': ['0.008'], '07/12/2014': ['0'], '07/13/2014': ['0.011'], '07/14/2014': ['0.035'], '07/15/2014': ['0.005'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0'], '07/19/2014': ['0'], '07/20/2014': ['0'], '07/21/2014': ['0'], '07/22/2014': ['0'], '07/23/2014': ['0'], '07/24/2014': ['0.334'], '07/25/2014': ['0'], '07/26/2014': ['0'], '07/27/2014': ['0.085'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0']}}, 'SubsurfaceRunoff': {'dataset': 'Baseflow', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Baseflow', 'units': 'mm', 'Baseflow_sum': '1.205', 'Baseflow_mean': '0.039', 'Baseflow_max': '0.072', 'Baseflow_standard_deviation': '0.017', 'Baseflow_variance': '0', 'Baseflow_median': '0.036', 'Baseflow_entropy': '4.761', 'Baseflow_geometric_mean': '0.035', 'Baseflow_skewness': '0.448', 'Baseflow_root_mean_square': '0.042', 'Baseflow_99_percentile': '0.072', 'Baseflow_99_percentile_count': '1', 'Baseflow_95_percentile': '0.071', 'Baseflow_95_percentile_count': '2', 'Baseflow_75_percentile': '0.052', 'Baseflow_75_percentile_count': '8', 'Baseflow_zero_count': '0', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0.072'], '07/02/2014': ['0.071'], '07/03/2014': ['0.067'], '07/04/2014': ['0.066'], '07/05/2014': ['0.061'], '07/06/2014': ['0.057'], '07/07/2014': ['0.054'], '07/08/2014': ['0.052'], '07/09/2014': ['0.049'], '07/10/2014': ['0.048'], '07/11/2014': ['0.045'], '07/12/2014': ['0.043'], '07/13/2014': ['0.041'], '07/14/2014': ['0.04'], '07/15/2014': ['0.038'], '07/16/2014': ['0.036'], '07/17/2014': ['0.035'], '07/18/2014': ['0.033'], '07/19/2014': ['0.031'], '07/20/2014': ['0.031'], '07/21/2014': ['0.029'], '07/22/2014': ['0.026'], '07/23/2014': ['0.026'], '07/24/2014': ['0.024'], '07/25/2014': ['0.023'], '07/26/2014': ['0.022'], '07/27/2014': ['0.019'], '07/28/2014': ['0.019'], '07/29/2014': ['0.017'], '07/30/2014': ['0.016'], '07/31/2014': ['0.014']}}, 'StreamHydrology': {'dataset': 'Streamflow', 'dataSource': 'constant', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT)', 'column_2': 'Streamflow', 'units': 'm^3/sec'}, 'data': {'07/01/2014': ['0.279'], '07/02/2014': ['0.302'], '07/03/2014': ['17.441'], '07/04/2014': ['0.465'], '07/05/2014': ['0.301'], '07/06/2014': ['0.326'], '07/07/2014': ['0.343'], '07/08/2014': ['0.355'], '07/09/2014': ['1.894'], '07/10/2014': ['0.426'], '07/11/2014': ['0.42'], '07/12/2014': ['0.388'], '07/13/2014': ['0.394'], '07/14/2014': ['0.42'], '07/15/2014': ['0.427'], '07/16/2014': ['0.394'], '07/17/2014': ['0.378'], '07/18/2014': ['0.361'], '07/19/2014': ['0.369'], '07/20/2014': ['0.352'], '07/21/2014': ['0.338'], '07/22/2014': ['0.333'], '07/23/2014': ['0.304'], '07/24/2014': ['0.822'], '07/25/2014': ['0.282'], '07/26/2014': ['0.262'], '07/27/2014': ['0.714'], '07/28/2014': ['0.233'], '07/29/2014': ['0.216'], '07/30/2014': ['0.201'], '07/31/2014': ['0.186']}}}, '8627469': {'Precipitation': {'dataset': 'Precipitation', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Precipitation', 'units': 'mm', 'Precipitation_sum': '60.513999999999996', 'Precipitation_mean': '1.952', 'Precipitation_max': '21.43', 'Precipitation_standard_deviation': '4.489', 'Precipitation_variance': '20.153', 'Precipitation_median': '0.071', 'Precipitation_entropy': '3.566', 'Precipitation_geometric_mean': '0', 'Precipitation_skewness': '3.418', 'Precipitation_root_mean_square': '4.828', 'Precipitation_99_percentile': '21.43', 'Precipitation_99_percentile_count': '1', 'Precipitation_95_percentile': '13.627', 'Precipitation_95_percentile_count': '1', 'Precipitation_75_percentile': '1.591', 'Precipitation_75_percentile_count': '8', 'Precipitation_zero_count': '12', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0.139'], '07/02/2014': ['0.854'], '07/03/2014': ['21.43'], '07/04/2014': ['3.311'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['12.76'], '07/10/2014': ['0.655'], '07/11/2014': ['1.361'], '07/12/2014': ['0'], '07/13/2014': ['1.73'], '07/14/2014': ['3.834'], '07/15/2014': ['1.637'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0.04'], '07/19/2014': ['0.731'], '07/20/2014': ['0'], '07/21/2014': ['0.604'], '07/22/2014': ['0.523'], '07/23/2014': ['0.006'], '07/24/2014': ['7.218'], '07/25/2014': ['0.071'], '07/26/2014': ['0'], '07/27/2014': ['3.608'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0.002']}}, 'SurfaceRunoff': {'dataset': 'Runoff', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Runoff', 'units': 'mm', 'Runoff_sum': '2.427', 'Runoff_mean': '0.078', 'Runoff_max': '1.439', 'Runoff_standard_deviation': '0.267', 'Runoff_variance': '0.071', 'Runoff_median': '0', 'Runoff_entropy': '1.979', 'Runoff_geometric_mean': '0', 'Runoff_skewness': '4.758', 'Runoff_root_mean_square': '0.274', 'Runoff_99_percentile': '1.439', 'Runoff_99_percentile_count': '1', 'Runoff_95_percentile': '0.444', 'Runoff_95_percentile_count': '1', 'Runoff_75_percentile': '0.007', 'Runoff_75_percentile_count': '8', 'Runoff_zero_count': '21', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0'], '07/02/2014': ['0'], '07/03/2014': ['1.439'], '07/04/2014': ['0.193'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['0.315'], '07/10/2014': ['0.002'], '07/11/2014': ['0.008'], '07/12/2014': ['0'], '07/13/2014': ['0.011'], '07/14/2014': ['0.035'], '07/15/2014': ['0.005'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0'], '07/19/2014': ['0'], '07/20/2014': ['0'], '07/21/2014': ['0'], '07/22/2014': ['0'], '07/23/2014': ['0'], '07/24/2014': ['0.334'], '07/25/2014': ['0'], '07/26/2014': ['0'], '07/27/2014': ['0.085'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0']}}, 'SubsurfaceRunoff': {'dataset': 'Baseflow', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Baseflow', 'units': 'mm', 'Baseflow_sum': '1.205', 'Baseflow_mean': '0.039', 'Baseflow_max': '0.072', 'Baseflow_standard_deviation': '0.017', 'Baseflow_variance': '0', 'Baseflow_median': '0.036', 'Baseflow_entropy': '4.761', 'Baseflow_geometric_mean': '0.035', 'Baseflow_skewness': '0.448', 'Baseflow_root_mean_square': '0.042', 'Baseflow_99_percentile': '0.072', 'Baseflow_99_percentile_count': '1', 'Baseflow_95_percentile': '0.071', 'Baseflow_95_percentile_count': '2', 'Baseflow_75_percentile': '0.052', 'Baseflow_75_percentile_count': '8', 'Baseflow_zero_count': '0', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0.072'], '07/02/2014': ['0.071'], '07/03/2014': ['0.067'], '07/04/2014': ['0.066'], '07/05/2014': ['0.061'], '07/06/2014': ['0.057'], '07/07/2014': ['0.054'], '07/08/2014': ['0.052'], '07/09/2014': ['0.049'], '07/10/2014': ['0.048'], '07/11/2014': ['0.045'], '07/12/2014': ['0.043'], '07/13/2014': ['0.041'], '07/14/2014': ['0.04'], '07/15/2014': ['0.038'], '07/16/2014': ['0.036'], '07/17/2014': ['0.035'], '07/18/2014': ['0.033'], '07/19/2014': ['0.031'], '07/20/2014': ['0.031'], '07/21/2014': ['0.029'], '07/22/2014': ['0.026'], '07/23/2014': ['0.026'], '07/24/2014': ['0.024'], '07/25/2014': ['0.023'], '07/26/2014': ['0.022'], '07/27/2014': ['0.019'], '07/28/2014': ['0.019'], '07/29/2014': ['0.017'], '07/30/2014': ['0.016'], '07/31/2014': ['0.014']}}, 'StreamHydrology': {'dataset': 'Streamflow', 'dataSource': 'constant', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT)', 'column_2': 'Streamflow', 'units': 'm^3/sec'}, 'data': {'07/01/2014': ['0.279'], '07/02/2014': ['0.302'], '07/03/2014': ['17.441'], '07/04/2014': ['0.465'], '07/05/2014': ['0.301'], '07/06/2014': ['0.326'], '07/07/2014': ['0.343'], '07/08/2014': ['0.355'], '07/09/2014': ['1.894'], '07/10/2014': ['0.426'], '07/11/2014': ['0.42'], '07/12/2014': ['0.388'], '07/13/2014': ['0.394'], '07/14/2014': ['0.42'], '07/15/2014': ['0.427'], '07/16/2014': ['0.394'], '07/17/2014': ['0.378'], '07/18/2014': ['0.361'], '07/19/2014': ['0.369'], '07/20/2014': ['0.352'], '07/21/2014': ['0.338'], '07/22/2014': ['0.333'], '07/23/2014': ['0.304'], '07/24/2014': ['0.822'], '07/25/2014': ['0.282'], '07/26/2014': ['0.262'], '07/27/2014': ['0.714'], '07/28/2014': ['0.233'], '07/29/2014': ['0.216'], '07/30/2014': ['0.201'], '07/31/2014': ['0.186']}}}, '8625313': {'Precipitation': {'dataset': 'Precipitation', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Precipitation', 'units': 'mm', 'Precipitation_sum': '60.513999999999996', 'Precipitation_mean': '1.952', 'Precipitation_max': '21.43', 'Precipitation_standard_deviation': '4.489', 'Precipitation_variance': '20.153', 'Precipitation_median': '0.071', 'Precipitation_entropy': '3.566', 'Precipitation_geometric_mean': '0', 'Precipitation_skewness': '3.418', 'Precipitation_root_mean_square': '4.828', 'Precipitation_99_percentile': '21.43', 'Precipitation_99_percentile_count': '1', 'Precipitation_95_percentile': '13.627', 'Precipitation_95_percentile_count': '1', 'Precipitation_75_percentile': '1.591', 'Precipitation_75_percentile_count': '8', 'Precipitation_zero_count': '12', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0.139'], '07/02/2014': ['0.854'], '07/03/2014': ['21.43'], '07/04/2014': ['3.311'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['12.76'], '07/10/2014': ['0.655'], '07/11/2014': ['1.361'], '07/12/2014': ['0'], '07/13/2014': ['1.73'], '07/14/2014': ['3.834'], '07/15/2014': ['1.637'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0.04'], '07/19/2014': ['0.731'], '07/20/2014': ['0'], '07/21/2014': ['0.604'], '07/22/2014': ['0.523'], '07/23/2014': ['0.006'], '07/24/2014': ['7.218'], '07/25/2014': ['0.071'], '07/26/2014': ['0'], '07/27/2014': ['3.608'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0.002']}}, 'SurfaceRunoff': {'dataset': 'Runoff', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Runoff', 'units': 'mm', 'Runoff_sum': '2.427', 'Runoff_mean': '0.078', 'Runoff_max': '1.439', 'Runoff_standard_deviation': '0.267', 'Runoff_variance': '0.071', 'Runoff_median': '0', 'Runoff_entropy': '1.979', 'Runoff_geometric_mean': '0', 'Runoff_skewness': '4.758', 'Runoff_root_mean_square': '0.274', 'Runoff_99_percentile': '1.439', 'Runoff_99_percentile_count': '1', 'Runoff_95_percentile': '0.444', 'Runoff_95_percentile_count': '1', 'Runoff_75_percentile': '0.007', 'Runoff_75_percentile_count': '8', 'Runoff_zero_count': '21', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0'], '07/02/2014': ['0'], '07/03/2014': ['1.439'], '07/04/2014': ['0.193'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['0.315'], '07/10/2014': ['0.002'], '07/11/2014': ['0.008'], '07/12/2014': ['0'], '07/13/2014': ['0.011'], '07/14/2014': ['0.035'], '07/15/2014': ['0.005'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0'], '07/19/2014': ['0'], '07/20/2014': ['0'], '07/21/2014': ['0'], '07/22/2014': ['0'], '07/23/2014': ['0'], '07/24/2014': ['0.334'], '07/25/2014': ['0'], '07/26/2014': ['0'], '07/27/2014': ['0.085'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0']}}, 'SubsurfaceRunoff': {'dataset': 'Baseflow', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Baseflow', 'units': 'mm', 'Baseflow_sum': '1.205', 'Baseflow_mean': '0.039', 'Baseflow_max': '0.072', 'Baseflow_standard_deviation': '0.017', 'Baseflow_variance': '0', 'Baseflow_median': '0.036', 'Baseflow_entropy': '4.761', 'Baseflow_geometric_mean': '0.035', 'Baseflow_skewness': '0.448', 'Baseflow_root_mean_square': '0.042', 'Baseflow_99_percentile': '0.072', 'Baseflow_99_percentile_count': '1', 'Baseflow_95_percentile': '0.071', 'Baseflow_95_percentile_count': '2', 'Baseflow_75_percentile': '0.052', 'Baseflow_75_percentile_count': '8', 'Baseflow_zero_count': '0', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0.072'], '07/02/2014': ['0.071'], '07/03/2014': ['0.067'], '07/04/2014': ['0.066'], '07/05/2014': ['0.061'], '07/06/2014': ['0.057'], '07/07/2014': ['0.054'], '07/08/2014': ['0.052'], '07/09/2014': ['0.049'], '07/10/2014': ['0.048'], '07/11/2014': ['0.045'], '07/12/2014': ['0.043'], '07/13/2014': ['0.041'], '07/14/2014': ['0.04'], '07/15/2014': ['0.038'], '07/16/2014': ['0.036'], '07/17/2014': ['0.035'], '07/18/2014': ['0.033'], '07/19/2014': ['0.031'], '07/20/2014': ['0.031'], '07/21/2014': ['0.029'], '07/22/2014': ['0.026'], '07/23/2014': ['0.026'], '07/24/2014': ['0.024'], '07/25/2014': ['0.023'], '07/26/2014': ['0.022'], '07/27/2014': ['0.019'], '07/28/2014': ['0.019'], '07/29/2014': ['0.017'], '07/30/2014': ['0.016'], '07/31/2014': ['0.014']}}, 'StreamHydrology': {'dataset': 'Streamflow', 'dataSource': 'constant', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT)', 'column_2': 'Streamflow', 'units': 'm^3/sec'}, 'data': {'07/01/2014': ['0.271'], '07/02/2014': ['0.293'], '07/03/2014': ['17.076'], '07/04/2014': ['0.447'], '07/05/2014': ['0.294'], '07/06/2014': ['0.319'], '07/07/2014': ['0.336'], '07/08/2014': ['0.347'], '07/09/2014': ['1.843'], '07/10/2014': ['0.418'], '07/11/2014': ['0.411'], '07/12/2014': ['0.381'], '07/13/2014': ['0.386'], '07/14/2014': ['0.41'], '07/15/2014': ['0.418'], '07/16/2014': ['0.387'], '07/17/2014': ['0.371'], '07/18/2014': ['0.355'], '07/19/2014': ['0.362'], '07/20/2014': ['0.346'], '07/21/2014': ['0.332'], '07/22/2014': ['0.327'], '07/23/2014': ['0.298'], '07/24/2014': ['0.787'], '07/25/2014': ['0.277'], '07/26/2014': ['0.257'], '07/27/2014': ['0.695'], '07/28/2014': ['0.229'], '07/29/2014': ['0.212'], '07/30/2014': ['0.197'], '07/31/2014': ['0.183']}}}, '8625375': {'Precipitation': {'dataset': 'Precipitation', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Precipitation', 'units': 'mm', 'Precipitation_sum': '90.12100000000002', 'Precipitation_mean': '2.907', 'Precipitation_max': '40.2', 'Precipitation_standard_deviation': '7.691', 'Precipitation_variance': '59.148', 'Precipitation_median': '0.01', 'Precipitation_entropy': '3.235', 'Precipitation_geometric_mean': '0', 'Precipitation_skewness': '4.231', 'Precipitation_root_mean_square': '8.105', 'Precipitation_99_percentile': '40.2', 'Precipitation_99_percentile_count': '1', 'Precipitation_95_percentile': '18.627', 'Precipitation_95_percentile_count': '1', 'Precipitation_75_percentile': '2.042', 'Precipitation_75_percentile_count': '8', 'Precipitation_zero_count': '14', 'timeseries_timezone': 'GMT'}, 'data': {'07/01/2014': ['0'], '07/02/2014': ['2.576'], '07/03/2014': ['40.2'], '07/04/2014': ['3.022'], '07/05/2014': ['0'], '07/06/2014': ['0'], '07/07/2014': ['0'], '07/08/2014': ['0'], '07/09/2014': ['16.23'], '07/10/2014': ['1.415'], '07/11/2014': ['1.86'], '07/12/2014': ['0'], '07/13/2014': ['1.146'], '07/14/2014': ['3.328'], '07/15/2014': ['2.078'], '07/16/2014': ['0'], '07/17/2014': ['0'], '07/18/2014': ['0.01'], '07/19/2014': ['1.45'], '07/20/2014': ['0'], '07/21/2014': ['1.149'], '07/22/2014': ['0.514'], '07/23/2014': ['0'], '07/24/2014': ['8.71'], '07/25/2014': ['0.144'], '07/26/2014': ['0'], '07/27/2014': ['6.283'], '07/28/2014': ['0'], '07/29/2014': ['0'], '07/30/2014': ['0'], '07/31/2014': ['0.006']}}, 'SurfaceRunoff': {'dataset': 'Runoff', 'dataSource': 'nldas', 'metadata': {'request_time': '06/02/2023 16:13:59', 'column_1': 'Date (GMT) (GMT)', 'column_2': 'Runoff', 'units': 'mm', 'Runoff_sum': '7.448', 'Runoff_mean': '0.24', 'Runoff_max': '5.93', 'Runoff_standard_deviation': '1.065', 'Runoff_variance': '1.135', 'Runoff_median': '0', 'Runoff_entropy': '2.468', 'Runoff_geometric_mean': '0', 'Runoff_skewness': '5.421', 'Runoff_root_mean_square': '1.075', 'Runoff_9

In [41]:
import datetime as dt

In [42]:
years = (2018 - 1981) +1
years

38

In [43]:
datetime_series = pd.date_range('1981-01-01', periods=years, freq='Y')
datetime_series #setting true date for acquistion period

DatetimeIndex(['1981-12-31', '1982-12-31', '1983-12-31', '1984-12-31',
               '1985-12-31', '1986-12-31', '1987-12-31', '1988-12-31',
               '1989-12-31', '1990-12-31', '1991-12-31', '1992-12-31',
               '1993-12-31', '1994-12-31', '1995-12-31', '1996-12-31',
               '1997-12-31', '1998-12-31', '1999-12-31', '2000-12-31',
               '2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31',
               '2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31',
               '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31',
               '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [44]:
import numpy as np
import requests
import json
np_year = np.linspace(1981, 2018, num=years) #number is (year_last-year_1) + 1
int(np_year[0]) #first year in numpy array for year loop

1981

In [45]:
int(np_year[-1]) # last year

2018

In [46]:
type(new_list[0])

int

In [210]:
import pandas as pd
import numpy as np
import os

In [50]:
#str(comid[i])
for comid in comid_list:
    print (comid)

[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]

In [51]:
comid[i]

8629331

In [62]:
headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }
data = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": null,\n      "longitude": null\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
#data_temp_input = json.loads(data_temp_test)
#qedcloud.net/hms
#test_parse2['geometry'].update(hucID = "null", comID = "190641")
response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/temperature', headers=headers, data=data)
#print(comid)
#response = requests.post('https://qed.epa.gov/hms/rest/api/hydrology/temperature', headers=headers, data=data)
output1 = response.json()
temp_all = output1['data']

In [63]:
output1
#temp_all

{'dataset': '',
 'dataSource': '',
 'metadata': {'ERROR': 'Unable to complete request due to invalid request or unknown error.'},
 'data': {}}

In [52]:
#condensed cleaned code for automation success using HMS 
df_focus_all = pd.DataFrame()
#correct accessibility of location list 
for comid in comid_list:
    for year in np_year:
        start_year = int(year)
        start_date = str('1/1/') +str(start_year)
        end_date = str('12/31/') +str(start_year)
        #print(start_date, end_date)
        year_parse = pd.date_range(start=start_date, end=end_date, freq='D')
        #year_parse chunking to remove possible bottlenecks 
        print(year_parse.min(), year_parse.max()) #now in date time format for call in on api 
        #Temperature Conversion 
        data_temp_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": null,\n      "longitude": null\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_temp_input = json.loads(data_temp_test)
        data_temp_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent date change in scope
        data_temp_input['geometry']['comID'] = str(comid) #correct for comid update
        #updated above comid acquistion rather than latitude and long by cell
        #data_temp_input['geometry']['point'].update({'latitude': str(df_2['lat'].iloc[(int(cell))]), 'longitude': str(df_2['long'].iloc[(int(cell))])}) #correct for point update
        data_temp_new = json.dumps(data_temp_input)
        #print(data_temp_new) 
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }
        data = data_temp_new
        #qedcloud.net/hms
        response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/temperature', headers=headers, data=data)
        print(comid)
        #response = requests.post('https://qed.epa.gov/hms/rest/api/hydrology/temperature', headers=headers, data=data)
        output1 = response.json()
        temp_all = output1['data']
        #for daymet data without Avg Temp daily column needs to be calculated in third column for code to work 
        #df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp'] )
        #df_temp_all['Avg Temp'] = np.mean(df_temp_all.values, axis=1)
        #for nldas
        df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp', 'Avg Temp'] )
        df_temp_all['C'] = df_temp_all['Avg Temp'] - 273.15
        df_temp_all['date']= pd.to_datetime(df_temp_all.index[:])
        #df_temp_all['year'] = df_temp_all.date.dt.year
        #df_temp_all['jday'] = df_temp_all.date.dt.day_of_year 
        # Completes Temperature (working correctly) may need to concatonate df rather than different xlsx
        df_focus = df_temp_all[['C']]
        df_focus.index = df_temp_all.index
        df_focus['COMID'] = comid #Will need to repartition by cell id later using df.loc
        df_focus.info()
        df_focus_all = pd.concat([df_focus, df_focus_all])
        df_focus_all.info() #for testing items in dataframe through iteration

1981-01-01 00:00:00 1981-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
1982-01-01 00:00:00 1982-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]

<ipython-input-52-e1e6ce5fb2f0>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_focus['COMID'] = comid #Will need to repartition by cell id later using df.loc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   58 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 1.4 KB
1983-01-01 00:00:00 1983-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   87 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 2.0 KB
1984-01-01 00:00:00 1984-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   116 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 2.7 KB
1985-01-01 00:00:00 1985-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   145 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 3.4 KB
1986-01-01 00:00:00 1986-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   174 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 4.1 KB
1987-01-01 00:00:00 1987-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   203 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 4.8 KB
1988-01-01 00:00:00 1988-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   232 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 5.4 KB
1989-01-01 00:00:00 1989-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 261 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   261 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 6.1 KB
1990-01-01 00:00:00 1990-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   290 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 6.8 KB
1991-01-01 00:00:00 1991-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 319 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   319 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 7.5 KB
1992-01-01 00:00:00 1992-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 348 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   348 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 8.2 KB
1993-01-01 00:00:00 1993-12-31 00:00:00

[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 377 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   377 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 8.8 KB
1994-01-01 00:00:00 1994-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   406 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 9.5 KB
1995-01-01 00:00:00 1995-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   435 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 10.2 KB
1996-01-01 00:00:00 1996-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   464 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 10.9 KB
1997-01-01 00:00:00 1997-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 493 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   493 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 11.6 KB
1998-01-01 00:00:00 1998-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 522 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   522 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 12.2 KB
1999-01-01 00:00:00 1999-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 551 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   551 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 12.9 KB
2000-01-01 00:00:00 2000-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   580 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 13.6 KB
2001-01-01 00:00:00 2001-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 609 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   609 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 14.3 KB
2002-01-01 00:00:00 2002-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   638 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 15.0 KB
2003-01-01 00:00:00 2003-12-31 00:00:00

[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 667 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   667 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 15.6 KB
2004-01-01 00:00:00 2004-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 696 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   696 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 16.3 KB
2005-01-01 00:00:00 2005-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 725 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   725 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 17.0 KB
2006-01-01 00:00:00 2006-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 754 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   754 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 17.7 KB
2007-01-01 00:00:00 2007-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 783 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   783 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 18.4 KB
2008-01-01 00:00:00 2008-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   812 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 19.0 KB
2009-01-01 00:00:00 2009-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 841 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   841 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 19.7 KB
2010-01-01 00:00:00 2010-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 870 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   870 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 20.4 KB
2011-01-01 00:00:00 2011-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 899 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   899 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 21.1 KB
2012-01-01 00:00:00 2012-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 928 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   928 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 21.8 KB
2013-01-01 00:00:00 2013-12-31 00:00:00

[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 957 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   957 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 22.4 KB
2014-01-01 00:00:00 2014-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   986 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 23.1 KB
2015-01-01 00:00:00 2015-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1015 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   1015 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 23.8 KB
2016-01-01 00:00:00 2016-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   1044 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 24.5 KB
2017-01-01 00:00:00 2017-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1073 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   1073 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 25.1 KB
2018-01-01 00:00:00 2018-12-31 00:00:00
[8625279, 8625313, 8625375, 8625523, 8625547, 8625615, 8625685, 8625697, 8625717, 8625727, 8625731, 8625735, 8625739, 8625747, 8625775, 8627469, 8628577, 8628579, 8628581, 8628587, 8628591, 8628603, 8628611, 8628623, 8628627, 8628631, 8628641, 8628643, 8629331]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   29 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 592.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1102 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   1102 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 25.8 KB

In [215]:
type(data_temp_input['geometry']['comID'])

int

In [64]:
df_focus_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1102 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       0 non-null      float64
 1   COMID   1102 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 25.8 KB

In [65]:
df_focus_all.head()

    C    COMID
0 NaN  8625279
1 NaN  8625313
2 NaN  8625375
3 NaN  8625523
4 NaN  8625547

In [73]:
data_test = '{\n  "source": "nwm",\n  "dateTimeSpan": {\n    "startDate": "01/01/2015 00:00:00",\n    "endDate": "12/31/2015 00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": null,\n    "geometryMetadata": {\n      "gaugestation": null\n    },\n    "timezone": null\n  },\n  "dataValueFormat": "E3",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
data_input  =json.loads(data_test)
data_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent change in scope
print(data_input)
data_new = json.dumps(data_input)
data_new
 
headers = {
    'accept': '*/*',
    'Content-Type': 'application/json-patch+json',
}

data = data_new

response = requests.post('https://ceamdev.ceeopdev.net/hms/rest/api/hydrology/streamflow', headers=headers, data=data)
print(response.json())
output3= response.json()
    
df_nwm_out = pd.DataFrame.from_dict(output3['data'], orient='index',columns=['Strflw', 'Strvel'] )
df_nwm_out # Now we can use dt for unique time series analysis and convert over to the mm/day from streamflow validation in VELMA watershed comparison

{'source': 'nwm', 'dateTimeSpan': {'startDate': '2018-01-01 00:00:00', 'endDate': '2018-12-31 00:00:00', 'dateTimeFormat': 'yyyy-MM-dd HH'}, 'geometry': {'description': None, 'comID': 190641, 'hucID': None, 'stationID': None, 'point': None, 'geometryMetadata': {'gaugestation': None}, 'timezone': None}, 'dataValueFormat': 'E3', 'temporalResolution': 'daily', 'timeLocalized': False, 'units': 'metric', 'outputFormat': 'json', 'baseURL': None, 'inputTimeSeries': None}
{'dataset': 'streamflow', 'dataSource': 'nwm', 'metadata': {'retrieval_timestamp': '2022-08-01T22:10:01.798559', 'source_url': 's3://noaa-nwm-retro-v2-zarr-pds', 'variables': 'streamflow, velocity', 'TITLE': 'OUTPUT FROM WRF-Hydro v5.2.0-beta2', 'code_version': 'v5.2.0-beta2', 'featureType': 'timeSeries', 'model_configuration': 'retrospective', 'proj4': '+proj=lcc +units=m +a=6370000.0 +b=6370000.0 +lat_1=30.0 +lat_2=60.0 +lat_0=40.0 +lon_0=-97.0 +x_0=0 +y_0=0 +k_0=1.0 +nadgrids=@', 'column_1_units': 'm3 s-1', 'column_2_units': 'm s-1', 'column_1': 'streamflow-190641', 'column_2': 'velocity-190641', 'comids': '190641', 'temporal_timestep': 'daily', 'nwm_timeZone': '', 'nwm_tz_offset': '0', 'request_url': '/api/hydrology/streamflow', 'retrievalTime': '1154 ms'}, 'data': {'2018-01-01 00': ['1.000E-002', '2.100E-001'], '2018-01-02 00': ['1.000E-002', '2.100E-001'], '2018-01-03 00': ['1.000E-002', '2.100E-001'], '2018-01-04 00': ['1.000E-002', '2.100E-001'], '2018-01-05 00': ['1.000E-002', '2.100E-001'], '2018-01-06 00': ['1.000E-002', '2.100E-001'], '2018-01-07 00': ['1.000E-002', '2.100E-001'], '2018-01-08 00': ['1.000E-002', '2.100E-001'], '2018-01-09 00': ['1.000E-002', '2.100E-001'], '2018-01-10 00': ['1.000E-002', '2.100E-001'], '2018-01-11 00': ['1.000E-002', '2.100E-001'], '2018-01-12 00': ['1.000E-002', '2.100E-001'], '2018-01-13 00': ['1.000E-002', '2.100E-001'], '2018-01-14 00': ['1.000E-002', '2.100E-001'], '2018-01-15 00': ['1.000E-002', '2.100E-001'], '2018-01-16 00': ['1.000E-002', '2.100E-001'], '2018-01-17 00': ['1.000E-002', '2.100E-001'], '2018-01-18 00': ['1.000E-002', '2.100E-001'], '2018-01-19 00': ['1.000E-002', '2.100E-001'], '2018-01-20 00': ['1.000E-002', '2.100E-001'], '2018-01-21 00': ['1.000E-002', '2.100E-001'], '2018-01-22 00': ['1.000E-002', '2.100E-001'], '2018-01-23 00': ['1.000E-002', '2.100E-001'], '2018-01-24 00': ['1.000E-002', '2.050E-001'], '2018-01-25 00': ['1.000E-002', '2.000E-001'], '2018-01-26 00': ['1.000E-002', '2.000E-001'], '2018-01-27 00': ['1.000E-002', '2.000E-001'], '2018-01-28 00': ['1.000E-002', '2.000E-001'], '2018-01-29 00': ['1.000E-002', '2.000E-001'], '2018-01-30 00': ['1.000E-002', '2.000E-001'], '2018-01-31 00': ['1.000E-002', '2.000E-001'], '2018-02-01 00': ['1.000E-002', '2.000E-001'], '2018-02-02 00': ['1.000E-002', '2.000E-001'], '2018-02-03 00': ['1.000E-002', '2.000E-001'], '2018-02-04 00': ['1.000E-002', '2.000E-001'], '2018-02-05 00': ['1.000E-002', '2.000E-001'], '2018-02-06 00': ['1.000E-002', '2.000E-001'], '2018-02-07 00': ['1.000E-002', '2.000E-001'], '2018-02-08 00': ['1.000E-002', '2.000E-001'], '2018-02-09 00': ['1.000E-002', '2.000E-001'], '2018-02-10 00': ['1.000E-002', '2.000E-001'], '2018-02-11 00': ['1.000E-002', '2.000E-001'], '2018-02-12 00': ['1.000E-002', '2.000E-001'], '2018-02-13 00': ['1.000E-002', '2.000E-001'], '2018-02-14 00': ['1.000E-002', '2.000E-001'], '2018-02-15 00': ['1.000E-002', '2.000E-001'], '2018-02-16 00': ['1.000E-002', '2.000E-001'], '2018-02-17 00': ['1.000E-002', '2.000E-001'], '2018-02-18 00': ['1.000E-002', '2.000E-001'], '2018-02-19 00': ['1.000E-002', '1.900E-001'], '2018-02-20 00': ['1.000E-002', '1.900E-001'], '2018-02-21 00': ['1.000E-002', '1.900E-001'], '2018-02-22 00': ['1.000E-002', '1.900E-001'], '2018-02-23 00': ['1.000E-002', '1.900E-001'], '2018-02-24 00': ['1.000E-002', '1.900E-001'], '2018-02-25 00': ['1.000E-002', '1.900E-001'], '2018-02-26 00': ['1.000E-002', '1.900E-001'], '2018-02-27 00': ['1.000E-002', '1.900E-001'], '2018-02-28 00': ['1.000E-002', '1.900E-001'], '2018-03-01 00': ['1.000E-002', '1.900E-001'], '2018-03-02 00': ['1.000E-002', '1.900E-001'], '2018-03-03 00': ['1.000E-002', '1.900E-001'], '2018-03-04 00': ['7.629E-008', '1.900E-001'], '2018-03-05 00': ['0.000E+000', '1.900E-001'], '2018-03-06 00': ['0.000E+000', '1.900E-001'], '2018-03-07 00': ['0.000E+000', '1.900E-001'], '2018-03-08 00': ['0.000E+000', '1.900E-001'], '2018-03-09 00': ['0.000E+000', '1.900E-001'], '2018-03-10 00': ['0.000E+000', '1.900E-001'], '2018-03-11 00': ['0.000E+000', '1.900E-001'], '2018-03-12 00': ['0.000E+000', '1.900E-001'], '2018-03-13 00': ['0.000E+000', '1.900E-001'], '2018-03-14 00': ['0.000E+000', '1.900E-001'], '2018-03-15 00': ['0.000E+000', '1.900E-001'], '2018-03-16 00': ['0.000E+000', '1.900E-001'], '2018-03-17 00': ['0.000E+000', '1.900E-001'], '2018-03-18 00': ['0.000E+000', '1.900E-001'], '2018-03-19 00': ['0.000E+000', '1.803E-001'], '2018-03-20 00': ['0.000E+000', '1.800E-001'], '2018-03-21 00': ['0.000E+000', '1.800E-001'], '2018-03-22 00': ['0.000E+000', '1.800E-001'], '2018-03-23 00': ['0.000E+000', '1.800E-001'], '2018-03-24 00': ['0.000E+000', '1.800E-001'], '2018-03-25 00': ['0.000E+000', '1.800E-001'], '2018-03-26 00': ['0.000E+000', '1.800E-001'], '2018-03-27 00': ['0.000E+000', '1.800E-001'], '2018-03-28 00': ['0.000E+000', '1.800E-001'], '2018-03-29 00': ['0.000E+000', '1.800E-001'], '2018-03-30 00': ['0.000E+000', '1.800E-001'], '2018-03-31 00': ['0.000E+000', '1.800E-001'], '2018-04-01 00': ['0.000E+000', '1.800E-001'], '2018-04-02 00': ['0.000E+000', '1.800E-001'], '2018-04-03 00': ['0.000E+000', '1.800E-001'], '2018-04-04 00': ['0.000E+000', '1.800E-001'], '2018-04-05 00': ['0.000E+000', '1.800E-001'], '2018-04-06 00': ['0.000E+000', '1.800E-001'], '2018-04-07 00': ['0.000E+000', '1.800E-001'], '2018-04-08 00': ['0.000E+000', '1.800E-001'], '2018-04-09 00': ['0.000E+000', '1.800E-001'], '2018-04-10 00': ['0.000E+000', '1.800E-001'], '2018-04-11 00': ['0.000E+000', '1.800E-001'], '2018-04-12 00': ['0.000E+000', '1.800E-001'], '2018-04-13 00': ['0.000E+000', '1.800E-001'], '2018-04-14 00': ['0.000E+000', '1.800E-001'], '2018-04-15 00': ['0.000E+000', '1.800E-001'], '2018-04-16 00': ['0.000E+000', '1.800E-001'], '2018-04-17 00': ['0.000E+000', '1.800E-001'], '2018-04-18 00': ['0.000E+000', '1.800E-001'], '2018-04-19 00': ['0.000E+000', '1.800E-001'], '2018-04-20 00': ['0.000E+000', '1.800E-001'], '2018-04-21 00': ['0.000E+000', '1.800E-001'], '2018-04-22 00': ['0.000E+000', '1.800E-001'], '2018-04-23 00': ['0.000E+000', '1.800E-001'], '2018-04-24 00': ['0.000E+000', '1.800E-001'], '2018-04-25 00': ['0.000E+000', '1.800E-001'], '2018-04-26 00': ['0.000E+000', '1.800E-001'], '2018-04-27 00': ['0.000E+000', '1.800E-001'], '2018-04-28 00': ['0.000E+000', '1.800E-001'], '2018-04-29 00': ['0.000E+000', '1.800E-001'], '2018-04-30 00': ['0.000E+000', '1.800E-001'], '2018-05-01 00': ['0.000E+000', '1.800E-001'], '2018-05-02 00': ['0.000E+000', '1.800E-001'], '2018-05-03 00': ['0.000E+000', '1.800E-001'], '2018-05-04 00': ['0.000E+000', '1.800E-001'], '2018-05-05 00': ['0.000E+000', '1.800E-001'], '2018-05-06 00': ['0.000E+000', '1.800E-001'], '2018-05-07 00': ['0.000E+000', '1.800E-001'], '2018-05-08 00': ['0.000E+000', '1.800E-001'], '2018-05-09 00': ['0.000E+000', '1.800E-001'], '2018-05-10 00': ['0.000E+000', '1.800E-001'], '2018-05-11 00': ['0.000E+000', '1.800E-001'], '2018-05-12 00': ['0.000E+000', '1.800E-001'], '2018-05-13 00': ['0.000E+000', '1.800E-001'], '2018-05-14 00': ['0.000E+000', '1.800E-001'], '2018-05-15 00': ['0.000E+000', '1.800E-001'], '2018-05-16 00': ['0.000E+000', '1.900E-001'], '2018-05-17 00': ['0.000E+000', '1.900E-001'], '2018-05-18 00': ['0.000E+000', '1.900E-001'], '2018-05-19 00': ['0.000E+000', '1.900E-001'], '2018-05-20 00': ['0.000E+000', '1.900E-001'], '2018-05-21 00': ['0.000E+000', '1.900E-001'], '2018-05-22 00': ['0.000E+000', '1.900E-001'], '2018-05-23 00': ['0.000E+000', '1.900E-001'], '2018-05-24 00': ['0.000E+000', '1.900E-001'], '2018-05-25 00': ['0.000E+000', '1.900E-001'], '2018-05-26 00': ['1.000E-002', '1.900E-001'], '2018-05-27 00': ['1.000E-002', '1.900E-001'], '2018-05-28 00': ['1.000E-002', '1.900E-001'], '2018-05-29 00': ['1.000E-002', '1.900E-001'], '2018-05-30 00': ['1.000E-002', '1.900E-001'], '2018-05-31 00': ['1.000E-002', '1.900E-001'], '2018-06-01 00': ['1.000E-002', '1.900E-001'], '2018-06-02 00': ['1.000E-002', '1.900E-001'], '2018-06-03 00': ['1.000E-002', '1.900E-001'], '2018-06-04 00': ['1.000E-002', '1.900E-001'], '2018-06-05 00': ['1.000E-002', '1.900E-001'], '2018-06-06 00': ['1.000E-002', '1.900E-001'], '2018-06-07 00': ['1.000E-002', '1.900E-001'], '2018-06-08 00': ['1.000E-002', '1.900E-001'], '2018-06-09 00': ['1.000E-002', '1.900E-001'], '2018-06-10 00': ['1.000E-002', '1.900E-001'], '2018-06-11 00': ['1.000E-002', '1.900E-001'], '2018-06-12 00': ['1.000E-002', '1.900E-001'], '2018-06-13 00': ['1.000E-002', '1.900E-001'], '2018-06-14 00': ['1.000E-002', '1.900E-001'], '2018-06-15 00': ['1.000E-002', '1.900E-001'], '2018-06-16 00': ['1.000E-002', '1.900E-001'], '2018-06-17 00': ['1.000E-002', '1.900E-001'], '2018-06-18 00': ['1.000E-002', '1.900E-001'], '2018-06-19 00': ['1.000E-002', '1.900E-001'], '2018-06-20 00': ['1.000E-002', '1.900E-001'], '2018-06-21 00': ['1.000E-002', '1.900E-001'], '2018-06-22 00': ['1.000E-002', '1.900E-001'], '2018-06-23 00': ['1.000E-002', '1.900E-001'], '2018-06-24 00': ['1.000E-002', '1.900E-001'], '2018-06-25 00': ['3.906E-005', '1.900E-001'], '2018-06-26 00': ['0.000E+000', '1.900E-001'], '2018-06-27 00': ['0.000E+000', '1.900E-001'], '2018-06-28 00': ['0.000E+000', '1.900E-001'], '2018-06-29 00': ['0.000E+000', '1.900E-001'], '2018-06-30 00': ['0.000E+000', '1.900E-001'], '2018-07-01 00': ['0.000E+000', '1.900E-001'], '2018-07-02 00': ['0.000E+000', '1.900E-001'], '2018-07-03 00': ['0.000E+000', '1.900E-001'], '2018-07-04 00': ['0.000E+000', '1.900E-001'], '2018-07-05 00': ['7.250E-002', '5.162E-001'], '2018-07-06 00': ['1.073E-008', '1.800E-001'], '2018-07-07 00': ['0.000E+000', '1.800E-001'], '2018-07-08 00': ['0.000E+000', '1.800E-001'], '2018-07-09 00': ['0.000E+000', '1.800E-001'], '2018-07-10 00': ['0.000E+000', '1.800E-001'], '2018-07-11 00': ['0.000E+000', '1.800E-001'], '2018-07-12 00': ['0.000E+000', '1.800E-001'], '2018-07-13 00': ['0.000E+000', '1.800E-001'], '2018-07-14 00': ['0.000E+000', '1.800E-001'], '2018-07-15 00': ['0.000E+000', '1.800E-001'], '2018-07-16 00': ['0.000E+000', '1.800E-001'], '2018-07-17 00': ['0.000E+000', '1.800E-001'], '2018-07-18 00': ['0.000E+000', '1.800E-001'], '2018-07-19 00': ['0.000E+000', '1.800E-001'], '2018-07-20 00': ['0.000E+000', '1.800E-001'], '2018-07-21 00': ['0.000E+000', '1.800E-001'], '2018-07-22 00': ['0.000E+000', '1.800E-001'], '2018-07-23 00': ['0.000E+000', '1.800E-001'], '2018-07-24 00': ['0.000E+000', '1.800E-001'], '2018-07-25 00': ['0.000E+000', '1.701E-001'], '2018-07-26 00': ['0.000E+000', '1.700E-001'], '2018-07-27 00': ['0.000E+000', '1.700E-001'], '2018-07-28 00': ['0.000E+000', '1.700E-001'], '2018-07-29 00': ['0.000E+000', '1.700E-001'], '2018-07-30 00': ['0.000E+000', '1.700E-001'], '2018-07-31 00': ['0.000E+000', '1.700E-001'], '2018-08-01 00': ['0.000E+000', '1.700E-001'], '2018-08-02 00': ['0.000E+000', '1.700E-001'], '2018-08-03 00': ['0.000E+000', '1.700E-001'], '2018-08-04 00': ['0.000E+000', '1.700E-001'], '2018-08-05 00': ['0.000E+000', '1.700E-001'], '2018-08-06 00': ['0.000E+000', '1.700E-001'], '2018-08-07 00': ['0.000E+000', '1.700E-001'], '2018-08-08 00': ['0.000E+000', '1.800E-001'], '2018-08-09 00': ['0.000E+000', '1.800E-001'], '2018-08-10 00': ['0.000E+000', '1.800E-001'], '2018-08-11 00': ['0.000E+000', '1.800E-001'], '2018-08-12 00': ['0.000E+000', '1.800E-001'], '2018-08-13 00': ['0.000E+000', '1.800E-001'], '2018-08-14 00': ['0.000E+000', '1.800E-001'], '2018-08-15 00': ['0.000E+000', '1.800E-001'], '2018-08-16 00': ['0.000E+000', '1.800E-001'], '2018-08-17 00': ['0.000E+000', '1.800E-001'], '2018-08-18 00': ['0.000E+000', '1.800E-001'], '2018-08-19 00': ['0.000E+000', '1.800E-001'], '2018-08-20 00': ['0.000E+000', '1.800E-001'], '2018-08-21 00': ['0.000E+000', '1.800E-001'], '2018-08-22 00': ['0.000E+000', '1.800E-001'], '2018-08-23 00': ['0.000E+000', '1.800E-001'], '2018-08-24 00': ['0.000E+000', '1.800E-001'], '2018-08-25 00': ['0.000E+000', '1.800E-001'], '2018-08-26 00': ['0.000E+000', '1.800E-001'], '2018-08-27 00': ['0.000E+000', '1.800E-001'], '2018-08-28 00': ['0.000E+000', '1.800E-001'], '2018-08-29 00': ['0.000E+000', '1.800E-001'], '2018-08-30 00': ['0.000E+000', '1.887E-001'], '2018-08-31 00': ['0.000E+000', '1.900E-001'], '2018-09-01 00': ['0.000E+000', '1.900E-001'], '2018-09-02 00': ['0.000E+000', '1.900E-001'], '2018-09-03 00': ['0.000E+000', '1.900E-001'], '2018-09-04 00': ['0.000E+000', '1.900E-001'], '2018-09-05 00': ['0.000E+000', '1.900E-001'], '2018-09-06 00': ['0.000E+000', '1.900E-001'], '2018-09-07 00': ['0.000E+000', '1.900E-001'], '2018-09-08 00': ['0.000E+000', '1.900E-001'], '2018-09-09 00': ['0.000E+000', '1.900E-001'], '2018-09-10 00': ['1.000E-002', '1.900E-001'], '2018-09-11 00': ['1.000E-002', '1.900E-001'], '2018-09-12 00': ['1.000E-002', '1.900E-001'], '2018-09-13 00': ['1.000E-002', '1.900E-001'], '2018-09-14 00': ['1.000E-002', '1.900E-001'], '2018-09-15 00': ['1.000E-002', '1.900E-001'], '2018-09-16 00': ['1.000E-002', '1.900E-001'], '2018-09-17 00': ['1.000E-002', '1.900E-001'], '2018-09-18 00': ['1.000E-002', '1.900E-001'], '2018-09-19 00': ['1.000E-002', '1.900E-001'], '2018-09-20 00': ['1.000E-002', '1.900E-001'], '2018-09-21 00': ['1.000E-002', '1.900E-001'], '2018-09-22 00': ['1.000E-002', '1.900E-001'], '2018-09-23 00': ['1.000E-002', '1.900E-001'], '2018-09-24 00': ['1.000E-002', '1.900E-001'], '2018-09-25 00': ['1.000E-002', '1.900E-001'], '2018-09-26 00': ['1.000E-002', '1.900E-001'], '2018-09-27 00': ['1.000E-002', '1.900E-001'], '2018-09-28 00': ['1.000E-002', '1.900E-001'], '2018-09-29 00': ['1.000E-002', '1.900E-001'], '2018-09-30 00': ['1.000E-002', '1.900E-001'], '2018-10-01 00': ['1.000E-002', '1.900E-001'], '2018-10-02 00': ['1.000E-002', '1.900E-001'], '2018-10-03 00': ['1.000E-002', '1.900E-001'], '2018-10-04 00': ['1.000E-002', '1.900E-001'], '2018-10-05 00': ['1.000E-002', '1.900E-001'], '2018-10-06 00': ['1.000E-002', '1.900E-001'], '2018-10-07 00': ['1.000E-002', '1.900E-001'], '2018-10-08 00': ['1.000E-002', '1.900E-001'], '2018-10-09 00': ['1.000E-002', '1.900E-001'], '2018-10-10 00': ['1.000E-002', '1.900E-001'], '2018-10-11 00': ['1.000E-002', '1.900E-001'], '2018-10-12 00': ['1.000E-002', '1.900E-001'], '2018-10-13 00': ['1.000E-002', '1.900E-001'], '2018-10-14 00': ['1.000E-002', '1.900E-001'], '2018-10-15 00': ['1.000E-002', '1.900E-001'], '2018-10-16 00': ['1.000E-002', '1.900E-001'], '2018-10-17 00': ['1.000E-002', '1.900E-001'], '2018-10-18 00': ['1.000E-002', '1.900E-001'], '2018-10-19 00': ['1.000E-002', '1.900E-001'], '2018-10-20 00': ['1.000E-002', '1.900E-001'], '2018-10-21 00': ['1.000E-002', '1.900E-001'], '2018-10-22 00': ['1.000E-002', '1.900E-001'], '2018-10-23 00': ['1.000E-002', '1.900E-001'], '2018-10-24 00': ['1.221E-006', '1.900E-001'], '2018-10-25 00': ['0.000E+000', '1.900E-001'], '2018-10-26 00': ['0.000E+000', '1.900E-001'], '2018-10-27 00': ['0.000E+000', '1.900E-001'], '2018-10-28 00': ['0.000E+000', '1.900E-001'], '2018-10-29 00': ['0.000E+000', '1.900E-001'], '2018-10-30 00': ['0.000E+000', '1.900E-001'], '2018-10-31 00': ['0.000E+000', '1.900E-001'], '2018-11-01 00': ['0.000E+000', '1.900E-001'], '2018-11-02 00': ['0.000E+000', '1.900E-001'], '2018-11-03 00': ['0.000E+000', '1.900E-001'], '2018-11-04 00': ['0.000E+000', '1.900E-001'], '2018-11-05 00': ['0.000E+000', '1.900E-001'], '2018-11-06 00': ['0.000E+000', '1.900E-001'], '2018-11-07 00': ['0.000E+000', '1.900E-001'], '2018-11-08 00': ['0.000E+000', '1.900E-001'], '2018-11-09 00': ['0.000E+000', '1.900E-001'], '2018-11-10 00': ['0.000E+000', '1.900E-001'], '2018-11-11 00': ['0.000E+000', '1.800E-001'], '2018-11-12 00': ['0.000E+000', '1.800E-001'], '2018-11-13 00': ['0.000E+000', '1.800E-001'], '2018-11-14 00': ['0.000E+000', '1.800E-001'], '2018-11-15 00': ['0.000E+000', '1.800E-001'], '2018-11-16 00': ['0.000E+000', '1.800E-001'], '2018-11-17 00': ['0.000E+000', '1.800E-001'], '2018-11-18 00': ['0.000E+000', '1.800E-001'], '2018-11-19 00': ['0.000E+000', '1.800E-001'], '2018-11-20 00': ['0.000E+000', '1.800E-001'], '2018-11-21 00': ['0.000E+000', '1.800E-001'], '2018-11-22 00': ['0.000E+000', '1.800E-001'], '2018-11-23 00': ['0.000E+000', '1.800E-001'], '2018-11-24 00': ['0.000E+000', '1.800E-001'], '2018-11-25 00': ['0.000E+000', '1.800E-001'], '2018-11-26 00': ['0.000E+000', '1.800E-001'], '2018-11-27 00': ['0.000E+000', '1.800E-001'], '2018-11-28 00': ['0.000E+000', '1.800E-001'], '2018-11-29 00': ['0.000E+000', '1.800E-001'], '2018-11-30 00': ['0.000E+000', '1.800E-001'], '2018-12-01 00': ['0.000E+000', '1.800E-001'], '2018-12-02 00': ['0.000E+000', '1.800E-001'], '2018-12-03 00': ['0.000E+000', '1.800E-001'], '2018-12-04 00': ['0.000E+000', '1.800E-001'], '2018-12-05 00': ['0.000E+000', '1.800E-001'], '2018-12-06 00': ['0.000E+000', '1.800E-001'], '2018-12-07 00': ['0.000E+000', '1.800E-001'], '2018-12-08 00': ['0.000E+000', '1.800E-001'], '2018-12-09 00': ['0.000E+000', '1.800E-001'], '2018-12-10 00': ['0.000E+000', '1.800E-001'], '2018-12-11 00': ['0.000E+000', '1.800E-001'], '2018-12-12 00': ['0.000E+000', '1.800E-001'], '2018-12-13 00': ['0.000E+000', '1.800E-001'], '2018-12-14 00': ['0.000E+000', '1.800E-001'], '2018-12-15 00': ['0.000E+000', '1.800E-001'], '2018-12-16 00': ['0.000E+000', '1.800E-001'], '2018-12-17 00': ['0.000E+000', '1.800E-001'], '2018-12-18 00': ['0.000E+000', '1.800E-001'], '2018-12-19 00': ['0.000E+000', '1.800E-001'], '2018-12-20 00': ['0.000E+000', '1.800E-001'], '2018-12-21 00': ['0.000E+000', '1.800E-001'], '2018-12-22 00': ['0.000E+000', '1.800E-001'], '2018-12-23 00': ['0.000E+000', '1.800E-001'], '2018-12-24 00': ['0.000E+000', '1.800E-001'], '2018-12-25 00': ['0.000E+000', '1.800E-001'], '2018-12-26 00': ['0.000E+000', '1.800E-001'], '2018-12-27 00': ['0.000E+000', '1.800E-001'], '2018-12-28 00': ['0.000E+000', '1.800E-001'], '2018-12-29 00': ['0.000E+000', '1.800E-001'], '2018-12-30 00': ['0.000E+000', '1.800E-001'], '2018-12-31 00': ['0.000E+000', '1.800E-001'], '2019-01-01 00': ['0.000E+000', '1.800E-001']}}

                   Strflw      Strvel
2018-01-01 00  1.000E-002  2.100E-001
2018-01-02 00  1.000E-002  2.100E-001
2018-01-03 00  1.000E-002  2.100E-001
2018-01-04 00  1.000E-002  2.100E-001
2018-01-05 00  1.000E-002  2.100E-001
...                   ...         ...
2018-12-28 00  0.000E+000  1.800E-001
2018-12-29 00  0.000E+000  1.800E-001
2018-12-30 00  0.000E+000  1.800E-001
2018-12-31 00  0.000E+000  1.800E-001
2019-01-01 00  0.000E+000  1.800E-001

[366 rows x 2 columns]

In [72]:
output3['data']

{'2018-01-01 00': ['1.000E-002', '2.100E-001'],
 '2018-01-02 00': ['1.000E-002', '2.100E-001'],
 '2018-01-03 00': ['1.000E-002', '2.100E-001'],
 '2018-01-04 00': ['1.000E-002', '2.100E-001'],
 '2018-01-05 00': ['1.000E-002', '2.100E-001'],
 '2018-01-06 00': ['1.000E-002', '2.100E-001'],
 '2018-01-07 00': ['1.000E-002', '2.100E-001'],
 '2018-01-08 00': ['1.000E-002', '2.100E-001'],
 '2018-01-09 00': ['1.000E-002', '2.100E-001'],
 '2018-01-10 00': ['1.000E-002', '2.100E-001'],
 '2018-01-11 00': ['1.000E-002', '2.100E-001'],
 '2018-01-12 00': ['1.000E-002', '2.100E-001'],
 '2018-01-13 00': ['1.000E-002', '2.100E-001'],
 '2018-01-14 00': ['1.000E-002', '2.100E-001'],
 '2018-01-15 00': ['1.000E-002', '2.100E-001'],
 '2018-01-16 00': ['1.000E-002', '2.100E-001'],
 '2018-01-17 00': ['1.000E-002', '2.100E-001'],
 '2018-01-18 00': ['1.000E-002', '2.100E-001'],
 '2018-01-19 00': ['1.000E-002', '2.100E-001'],
 '2018-01-20 00': ['1.000E-002', '2.100E-001'],
 '2018-01-21 00': ['1.000E-002', '2.100E-001'],
 '2018-01-22 00': ['1.000E-002', '2.100E-001'],
 '2018-01-23 00': ['1.000E-002', '2.100E-001'],
 '2018-01-24 00': ['1.000E-002', '2.050E-001'],
 '2018-01-25 00': ['1.000E-002', '2.000E-001'],
 '2018-01-26 00': ['1.000E-002', '2.000E-001'],
 '2018-01-27 00': ['1.000E-002', '2.000E-001'],
 '2018-01-28 00': ['1.000E-002', '2.000E-001'],
 '2018-01-29 00': ['1.000E-002', '2.000E-001'],
 '2018-01-30 00': ['1.000E-002', '2.000E-001'],
 '2018-01-31 00': ['1.000E-002', '2.000E-001'],
 '2018-02-01 00': ['1.000E-002', '2.000E-001'],
 '2018-02-02 00': ['1.000E-002', '2.000E-001'],
 '2018-02-03 00': ['1.000E-002', '2.000E-001'],
 '2018-02-04 00': ['1.000E-002', '2.000E-001'],
 '2018-02-05 00': ['1.000E-002', '2.000E-001'],
 '2018-02-06 00': ['1.000E-002', '2.000E-001'],
 '2018-02-07 00': ['1.000E-002', '2.000E-001'],
 '2018-02-08 00': ['1.000E-002', '2.000E-001'],
 '2018-02-09 00': ['1.000E-002', '2.000E-001'],
 '2018-02-10 00': ['1.000E-002', '2.000E-001'],
 '2018-02-11 00': ['1.000E-002', '2.000E-001'],
 '2018-02-12 00': ['1.000E-002', '2.000E-001'],
 '2018-02-13 00': ['1.000E-002', '2.000E-001'],
 '2018-02-14 00': ['1.000E-002', '2.000E-001'],
 '2018-02-15 00': ['1.000E-002', '2.000E-001'],
 '2018-02-16 00': ['1.000E-002', '2.000E-001'],
 '2018-02-17 00': ['1.000E-002', '2.000E-001'],
 '2018-02-18 00': ['1.000E-002', '2.000E-001'],
 '2018-02-19 00': ['1.000E-002', '1.900E-001'],
 '2018-02-20 00': ['1.000E-002', '1.900E-001'],
 '2018-02-21 00': ['1.000E-002', '1.900E-001'],
 '2018-02-22 00': ['1.000E-002', '1.900E-001'],
 '2018-02-23 00': ['1.000E-002', '1.900E-001'],
 '2018-02-24 00': ['1.000E-002', '1.900E-001'],
 '2018-02-25 00': ['1.000E-002', '1.900E-001'],
 '2018-02-26 00': ['1.000E-002', '1.900E-001'],
 '2018-02-27 00': ['1.000E-002', '1.900E-001'],
 '2018-02-28 00': ['1.000E-002', '1.900E-001'],
 '2018-03-01 00': ['1.000E-002', '1.900E-001'],
 '2018-03-02 00': ['1.000E-002', '1.900E-001'],
 '2018-03-03 00': ['1.000E-002', '1.900E-001'],
 '2018-03-04 00': ['7.629E-008', '1.900E-001'],
 '2018-03-05 00': ['0.000E+000', '1.900E-001'],
 '2018-03-06 00': ['0.000E+000', '1.900E-001'],
 '2018-03-07 00': ['0.000E+000', '1.900E-001'],
 '2018-03-08 00': ['0.000E+000', '1.900E-001'],
 '2018-03-09 00': ['0.000E+000', '1.900E-001'],
 '2018-03-10 00': ['0.000E+000', '1.900E-001'],
 '2018-03-11 00': ['0.000E+000', '1.900E-001'],
 '2018-03-12 00': ['0.000E+000', '1.900E-001'],
 '2018-03-13 00': ['0.000E+000', '1.900E-001'],
 '2018-03-14 00': ['0.000E+000', '1.900E-001'],
 '2018-03-15 00': ['0.000E+000', '1.900E-001'],
 '2018-03-16 00': ['0.000E+000', '1.900E-001'],
 '2018-03-17 00': ['0.000E+000', '1.900E-001'],
 '2018-03-18 00': ['0.000E+000', '1.900E-001'],
 '2018-03-19 00': ['0.000E+000', '1.803E-001'],
 '2018-03-20 00': ['0.000E+000', '1.800E-001'],
 '2018-03-21 00': ['0.000E+000', '1.800E-001'],
 '2018-03-22 00': ['0.000E+000', '1.800E-001'],
 '2018-03-23 00': ['0.000E+000', '1.800E-001'],
 '2018-03-24 00': ['0.000E+000', '1.800E-001'],
 '2018-03-25 00': ['0.000E+000', '1.800E-001'],
 '2018-03-26 00': ['0.000E+000', '1.800E-001'],
 '2018-03-27 00': ['0.000E+000', '1.800E-001'],
 '2018-03-28 00': ['0.000E+000', '1.800E-001'],
 '2018-03-29 00': ['0.000E+000', '1.800E-001'],
 '2018-03-30 00': ['0.000E+000', '1.800E-001'],
 '2018-03-31 00': ['0.000E+000', '1.800E-001'],
 '2018-04-01 00': ['0.000E+000', '1.800E-001'],
 '2018-04-02 00': ['0.000E+000', '1.800E-001'],
 '2018-04-03 00': ['0.000E+000', '1.800E-001'],
 '2018-04-04 00': ['0.000E+000', '1.800E-001'],
 '2018-04-05 00': ['0.000E+000', '1.800E-001'],
 '2018-04-06 00': ['0.000E+000', '1.800E-001'],
 '2018-04-07 00': ['0.000E+000', '1.800E-001'],
 '2018-04-08 00': ['0.000E+000', '1.800E-001'],
 '2018-04-09 00': ['0.000E+000', '1.800E-001'],
 '2018-04-10 00': ['0.000E+000', '1.800E-001'],
 '2018-04-11 00': ['0.000E+000', '1.800E-001'],
 '2018-04-12 00': ['0.000E+000', '1.800E-001'],
 '2018-04-13 00': ['0.000E+000', '1.800E-001'],
 '2018-04-14 00': ['0.000E+000', '1.800E-001'],
 '2018-04-15 00': ['0.000E+000', '1.800E-001'],
 '2018-04-16 00': ['0.000E+000', '1.800E-001'],
 '2018-04-17 00': ['0.000E+000', '1.800E-001'],
 '2018-04-18 00': ['0.000E+000', '1.800E-001'],
 '2018-04-19 00': ['0.000E+000', '1.800E-001'],
 '2018-04-20 00': ['0.000E+000', '1.800E-001'],
 '2018-04-21 00': ['0.000E+000', '1.800E-001'],
 '2018-04-22 00': ['0.000E+000', '1.800E-001'],
 '2018-04-23 00': ['0.000E+000', '1.800E-001'],
 '2018-04-24 00': ['0.000E+000', '1.800E-001'],
 '2018-04-25 00': ['0.000E+000', '1.800E-001'],
 '2018-04-26 00': ['0.000E+000', '1.800E-001'],
 '2018-04-27 00': ['0.000E+000', '1.800E-001'],
 '2018-04-28 00': ['0.000E+000', '1.800E-001'],
 '2018-04-29 00': ['0.000E+000', '1.800E-001'],
 '2018-04-30 00': ['0.000E+000', '1.800E-001'],
 '2018-05-01 00': ['0.000E+000', '1.800E-001'],
 '2018-05-02 00': ['0.000E+000', '1.800E-001'],
 '2018-05-03 00': ['0.000E+000', '1.800E-001'],
 '2018-05-04 00': ['0.000E+000', '1.800E-001'],
 '2018-05-05 00': ['0.000E+000', '1.800E-001'],
 '2018-05-06 00': ['0.000E+000', '1.800E-001'],
 '2018-05-07 00': ['0.000E+000', '1.800E-001'],
 '2018-05-08 00': ['0.000E+000', '1.800E-001'],
 '2018-05-09 00': ['0.000E+000', '1.800E-001'],
 '2018-05-10 00': ['0.000E+000', '1.800E-001'],
 '2018-05-11 00': ['0.000E+000', '1.800E-001'],
 '2018-05-12 00': ['0.000E+000', '1.800E-001'],
 '2018-05-13 00': ['0.000E+000', '1.800E-001'],
 '2018-05-14 00': ['0.000E+000', '1.800E-001'],
 '2018-05-15 00': ['0.000E+000', '1.800E-001'],
 '2018-05-16 00': ['0.000E+000', '1.900E-001'],
 '2018-05-17 00': ['0.000E+000', '1.900E-001'],
 '2018-05-18 00': ['0.000E+000', '1.900E-001'],
 '2018-05-19 00': ['0.000E+000', '1.900E-001'],
 '2018-05-20 00': ['0.000E+000', '1.900E-001'],
 '2018-05-21 00': ['0.000E+000', '1.900E-001'],
 '2018-05-22 00': ['0.000E+000', '1.900E-001'],
 '2018-05-23 00': ['0.000E+000', '1.900E-001'],
 '2018-05-24 00': ['0.000E+000', '1.900E-001'],
 '2018-05-25 00': ['0.000E+000', '1.900E-001'],
 '2018-05-26 00': ['1.000E-002', '1.900E-001'],
 '2018-05-27 00': ['1.000E-002', '1.900E-001'],
 '2018-05-28 00': ['1.000E-002', '1.900E-001'],
 '2018-05-29 00': ['1.000E-002', '1.900E-001'],
 '2018-05-30 00': ['1.000E-002', '1.900E-001'],
 '2018-05-31 00': ['1.000E-002', '1.900E-001'],
 '2018-06-01 00': ['1.000E-002', '1.900E-001'],
 '2018-06-02 00': ['1.000E-002', '1.900E-001'],
 '2018-06-03 00': ['1.000E-002', '1.900E-001'],
 '2018-06-04 00': ['1.000E-002', '1.900E-001'],
 '2018-06-05 00': ['1.000E-002', '1.900E-001'],
 '2018-06-06 00': ['1.000E-002', '1.900E-001'],
 '2018-06-07 00': ['1.000E-002', '1.900E-001'],
 '2018-06-08 00': ['1.000E-002', '1.900E-001'],
 '2018-06-09 00': ['1.000E-002', '1.900E-001'],
 '2018-06-10 00': ['1.000E-002', '1.900E-001'],
 '2018-06-11 00': ['1.000E-002', '1.900E-001'],
 '2018-06-12 00': ['1.000E-002', '1.900E-001'],
 '2018-06-13 00': ['1.000E-002', '1.900E-001'],
 '2018-06-14 00': ['1.000E-002', '1.900E-001'],
 '2018-06-15 00': ['1.000E-002', '1.900E-001'],
 '2018-06-16 00': ['1.000E-002', '1.900E-001'],
 '2018-06-17 00': ['1.000E-002', '1.900E-001'],
 '2018-06-18 00': ['1.000E-002', '1.900E-001'],
 '2018-06-19 00': ['1.000E-002', '1.900E-001'],
 '2018-06-20 00': ['1.000E-002', '1.900E-001'],
 '2018-06-21 00': ['1.000E-002', '1.900E-001'],
 '2018-06-22 00': ['1.000E-002', '1.900E-001'],
 '2018-06-23 00': ['1.000E-002', '1.900E-001'],
 '2018-06-24 00': ['1.000E-002', '1.900E-001'],
 '2018-06-25 00': ['3.906E-005', '1.900E-001'],
 '2018-06-26 00': ['0.000E+000', '1.900E-001'],
 '2018-06-27 00': ['0.000E+000', '1.900E-001'],
 '2018-06-28 00': ['0.000E+000', '1.900E-001'],
 '2018-06-29 00': ['0.000E+000', '1.900E-001'],
 '2018-06-30 00': ['0.000E+000', '1.900E-001'],
 '2018-07-01 00': ['0.000E+000', '1.900E-001'],
 '2018-07-02 00': ['0.000E+000', '1.900E-001'],
 '2018-07-03 00': ['0.000E+000', '1.900E-001'],
 '2018-07-04 00': ['0.000E+000', '1.900E-001'],
 '2018-07-05 00': ['7.250E-002', '5.162E-001'],
 '2018-07-06 00': ['1.073E-008', '1.800E-001'],
 '2018-07-07 00': ['0.000E+000', '1.800E-001'],
 '2018-07-08 00': ['0.000E+000', '1.800E-001'],
 '2018-07-09 00': ['0.000E+000', '1.800E-001'],
 '2018-07-10 00': ['0.000E+000', '1.800E-001'],
 '2018-07-11 00': ['0.000E+000', '1.800E-001'],
 '2018-07-12 00': ['0.000E+000', '1.800E-001'],
 '2018-07-13 00': ['0.000E+000', '1.800E-001'],
 '2018-07-14 00': ['0.000E+000', '1.800E-001'],
 '2018-07-15 00': ['0.000E+000', '1.800E-001'],
 '2018-07-16 00': ['0.000E+000', '1.800E-001'],
 '2018-07-17 00': ['0.000E+000', '1.800E-001'],
 '2018-07-18 00': ['0.000E+000', '1.800E-001'],
 '2018-07-19 00': ['0.000E+000', '1.800E-001'],
 '2018-07-20 00': ['0.000E+000', '1.800E-001'],
 '2018-07-21 00': ['0.000E+000', '1.800E-001'],
 '2018-07-22 00': ['0.000E+000', '1.800E-001'],
 '2018-07-23 00': ['0.000E+000', '1.800E-001'],
 '2018-07-24 00': ['0.000E+000', '1.800E-001'],
 '2018-07-25 00': ['0.000E+000', '1.701E-001'],
 '2018-07-26 00': ['0.000E+000', '1.700E-001'],
 '2018-07-27 00': ['0.000E+000', '1.700E-001'],
 '2018-07-28 00': ['0.000E+000', '1.700E-001'],
 '2018-07-29 00': ['0.000E+000', '1.700E-001'],
 '2018-07-30 00': ['0.000E+000', '1.700E-001'],
 '2018-07-31 00': ['0.000E+000', '1.700E-001'],
 '2018-08-01 00': ['0.000E+000', '1.700E-001'],
 '2018-08-02 00': ['0.000E+000', '1.700E-001'],
 '2018-08-03 00': ['0.000E+000', '1.700E-001'],
 '2018-08-04 00': ['0.000E+000', '1.700E-001'],
 '2018-08-05 00': ['0.000E+000', '1.700E-001'],
 '2018-08-06 00': ['0.000E+000', '1.700E-001'],
 '2018-08-07 00': ['0.000E+000', '1.700E-001'],
 '2018-08-08 00': ['0.000E+000', '1.800E-001'],
 '2018-08-09 00': ['0.000E+000', '1.800E-001'],
 '2018-08-10 00': ['0.000E+000', '1.800E-001'],
 '2018-08-11 00': ['0.000E+000', '1.800E-001'],
 '2018-08-12 00': ['0.000E+000', '1.800E-001'],
 '2018-08-13 00': ['0.000E+000', '1.800E-001'],
 '2018-08-14 00': ['0.000E+000', '1.800E-001'],
 '2018-08-15 00': ['0.000E+000', '1.800E-001'],
 '2018-08-16 00': ['0.000E+000', '1.800E-001'],
 '2018-08-17 00': ['0.000E+000', '1.800E-001'],
 '2018-08-18 00': ['0.000E+000', '1.800E-001'],
 '2018-08-19 00': ['0.000E+000', '1.800E-001'],
 '2018-08-20 00': ['0.000E+000', '1.800E-001'],
 '2018-08-21 00': ['0.000E+000', '1.800E-001'],
 '2018-08-22 00': ['0.000E+000', '1.800E-001'],
 '2018-08-23 00': ['0.000E+000', '1.800E-001'],
 '2018-08-24 00': ['0.000E+000', '1.800E-001'],
 '2018-08-25 00': ['0.000E+000', '1.800E-001'],
 '2018-08-26 00': ['0.000E+000', '1.800E-001'],
 '2018-08-27 00': ['0.000E+000', '1.800E-001'],
 '2018-08-28 00': ['0.000E+000', '1.800E-001'],
 '2018-08-29 00': ['0.000E+000', '1.800E-001'],
 '2018-08-30 00': ['0.000E+000', '1.887E-001'],
 '2018-08-31 00': ['0.000E+000', '1.900E-001'],
 '2018-09-01 00': ['0.000E+000', '1.900E-001'],
 '2018-09-02 00': ['0.000E+000', '1.900E-001'],
 '2018-09-03 00': ['0.000E+000', '1.900E-001'],
 '2018-09-04 00': ['0.000E+000', '1.900E-001'],
 '2018-09-05 00': ['0.000E+000', '1.900E-001'],
 '2018-09-06 00': ['0.000E+000', '1.900E-001'],
 '2018-09-07 00': ['0.000E+000', '1.900E-001'],
 '2018-09-08 00': ['0.000E+000', '1.900E-001'],
 '2018-09-09 00': ['0.000E+000', '1.900E-001'],
 '2018-09-10 00': ['1.000E-002', '1.900E-001'],
 '2018-09-11 00': ['1.000E-002', '1.900E-001'],
 '2018-09-12 00': ['1.000E-002', '1.900E-001'],
 '2018-09-13 00': ['1.000E-002', '1.900E-001'],
 '2018-09-14 00': ['1.000E-002', '1.900E-001'],
 '2018-09-15 00': ['1.000E-002', '1.900E-001'],
 '2018-09-16 00': ['1.000E-002', '1.900E-001'],
 '2018-09-17 00': ['1.000E-002', '1.900E-001'],
 '2018-09-18 00': ['1.000E-002', '1.900E-001'],
 '2018-09-19 00': ['1.000E-002', '1.900E-001'],
 '2018-09-20 00': ['1.000E-002', '1.900E-001'],
 '2018-09-21 00': ['1.000E-002', '1.900E-001'],
 '2018-09-22 00': ['1.000E-002', '1.900E-001'],
 '2018-09-23 00': ['1.000E-002', '1.900E-001'],
 '2018-09-24 00': ['1.000E-002', '1.900E-001'],
 '2018-09-25 00': ['1.000E-002', '1.900E-001'],
 '2018-09-26 00': ['1.000E-002', '1.900E-001'],
 '2018-09-27 00': ['1.000E-002', '1.900E-001'],
 '2018-09-28 00': ['1.000E-002', '1.900E-001'],
 '2018-09-29 00': ['1.000E-002', '1.900E-001'],
 '2018-09-30 00': ['1.000E-002', '1.900E-001'],
 '2018-10-01 00': ['1.000E-002', '1.900E-001'],
 '2018-10-02 00': ['1.000E-002', '1.900E-001'],
 '2018-10-03 00': ['1.000E-002', '1.900E-001'],
 '2018-10-04 00': ['1.000E-002', '1.900E-001'],
 '2018-10-05 00': ['1.000E-002', '1.900E-001'],
 '2018-10-06 00': ['1.000E-002', '1.900E-001'],
 '2018-10-07 00': ['1.000E-002', '1.900E-001'],
 '2018-10-08 00': ['1.000E-002', '1.900E-001'],
 '2018-10-09 00': ['1.000E-002', '1.900E-001'],
 '2018-10-10 00': ['1.000E-002', '1.900E-001'],
 '2018-10-11 00': ['1.000E-002', '1.900E-001'],
 '2018-10-12 00': ['1.000E-002', '1.900E-001'],
 '2018-10-13 00': ['1.000E-002', '1.900E-001'],
 '2018-10-14 00': ['1.000E-002', '1.900E-001'],
 '2018-10-15 00': ['1.000E-002', '1.900E-001'],
 '2018-10-16 00': ['1.000E-002', '1.900E-001'],
 '2018-10-17 00': ['1.000E-002', '1.900E-001'],
 '2018-10-18 00': ['1.000E-002', '1.900E-001'],
 '2018-10-19 00': ['1.000E-002', '1.900E-001'],
 '2018-10-20 00': ['1.000E-002', '1.900E-001'],
 '2018-10-21 00': ['1.000E-002', '1.900E-001'],
 '2018-10-22 00': ['1.000E-002', '1.900E-001'],
 '2018-10-23 00': ['1.000E-002', '1.900E-001'],
 '2018-10-24 00': ['1.221E-006', '1.900E-001'],
 '2018-10-25 00': ['0.000E+000', '1.900E-001'],
 '2018-10-26 00': ['0.000E+000', '1.900E-001'],
 '2018-10-27 00': ['0.000E+000', '1.900E-001'],
 '2018-10-28 00': ['0.000E+000', '1.900E-001'],
 '2018-10-29 00': ['0.000E+000', '1.900E-001'],
 '2018-10-30 00': ['0.000E+000', '1.900E-001'],
 '2018-10-31 00': ['0.000E+000', '1.900E-001'],
 '2018-11-01 00': ['0.000E+000', '1.900E-001'],
 '2018-11-02 00': ['0.000E+000', '1.900E-001'],
 '2018-11-03 00': ['0.000E+000', '1.900E-001'],
 '2018-11-04 00': ['0.000E+000', '1.900E-001'],
 '2018-11-05 00': ['0.000E+000', '1.900E-001'],
 '2018-11-06 00': ['0.000E+000', '1.900E-001'],
 '2018-11-07 00': ['0.000E+000', '1.900E-001'],
 '2018-11-08 00': ['0.000E+000', '1.900E-001'],
 '2018-11-09 00': ['0.000E+000', '1.900E-001'],
 '2018-11-10 00': ['0.000E+000', '1.900E-001'],
 '2018-11-11 00': ['0.000E+000', '1.800E-001'],
 '2018-11-12 00': ['0.000E+000', '1.800E-001'],
 '2018-11-13 00': ['0.000E+000', '1.800E-001'],
 '2018-11-14 00': ['0.000E+000', '1.800E-001'],
 '2018-11-15 00': ['0.000E+000', '1.800E-001'],
 '2018-11-16 00': ['0.000E+000', '1.800E-001'],
 '2018-11-17 00': ['0.000E+000', '1.800E-001'],
 '2018-11-18 00': ['0.000E+000', '1.800E-001'],
 '2018-11-19 00': ['0.000E+000', '1.800E-001'],
 '2018-11-20 00': ['0.000E+000', '1.800E-001'],
 '2018-11-21 00': ['0.000E+000', '1.800E-001'],
 '2018-11-22 00': ['0.000E+000', '1.800E-001'],
 '2018-11-23 00': ['0.000E+000', '1.800E-001'],
 '2018-11-24 00': ['0.000E+000', '1.800E-001'],
 '2018-11-25 00': ['0.000E+000', '1.800E-001'],
 '2018-11-26 00': ['0.000E+000', '1.800E-001'],
 '2018-11-27 00': ['0.000E+000', '1.800E-001'],
 '2018-11-28 00': ['0.000E+000', '1.800E-001'],
 '2018-11-29 00': ['0.000E+000', '1.800E-001'],
 '2018-11-30 00': ['0.000E+000', '1.800E-001'],
 '2018-12-01 00': ['0.000E+000', '1.800E-001'],
 '2018-12-02 00': ['0.000E+000', '1.800E-001'],
 '2018-12-03 00': ['0.000E+000', '1.800E-001'],
 '2018-12-04 00': ['0.000E+000', '1.800E-001'],
 '2018-12-05 00': ['0.000E+000', '1.800E-001'],
 '2018-12-06 00': ['0.000E+000', '1.800E-001'],
 '2018-12-07 00': ['0.000E+000', '1.800E-001'],
 '2018-12-08 00': ['0.000E+000', '1.800E-001'],
 '2018-12-09 00': ['0.000E+000', '1.800E-001'],
 '2018-12-10 00': ['0.000E+000', '1.800E-001'],
 '2018-12-11 00': ['0.000E+000', '1.800E-001'],
 '2018-12-12 00': ['0.000E+000', '1.800E-001'],
 '2018-12-13 00': ['0.000E+000', '1.800E-001'],
 '2018-12-14 00': ['0.000E+000', '1.800E-001'],
 '2018-12-15 00': ['0.000E+000', '1.800E-001'],
 '2018-12-16 00': ['0.000E+000', '1.800E-001'],
 '2018-12-17 00': ['0.000E+000', '1.800E-001'],
 '2018-12-18 00': ['0.000E+000', '1.800E-001'],
 '2018-12-19 00': ['0.000E+000', '1.800E-001'],
 '2018-12-20 00': ['0.000E+000', '1.800E-001'],
 '2018-12-21 00': ['0.000E+000', '1.800E-001'],
 '2018-12-22 00': ['0.000E+000', '1.800E-001'],
 '2018-12-23 00': ['0.000E+000', '1.800E-001'],
 '2018-12-24 00': ['0.000E+000', '1.800E-001'],
 '2018-12-25 00': ['0.000E+000', '1.800E-001'],
 '2018-12-26 00': ['0.000E+000', '1.800E-001'],
 '2018-12-27 00': ['0.000E+000', '1.800E-001'],
 '2018-12-28 00': ['0.000E+000', '1.800E-001'],
 '2018-12-29 00': ['0.000E+000', '1.800E-001'],
 '2018-12-30 00': ['0.000E+000', '1.800E-001'],
 '2018-12-31 00': ['0.000E+000', '1.800E-001'],
 '2019-01-01 00': ['0.000E+000', '1.800E-001']}

In [83]:
data_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "01/01/2015 00:00:00",\n    "endDate": "12/31/2015 00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": null,\n    "geometryMetadata": {\n      "gaugestation": null\n    },\n    "timezone": null\n  },\n  "dataValueFormat": "F5",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
data_input  =json.loads(data_test)
data_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent change in scope
data_input['geometry']['comID'] = str(comid_list[0][-1]) #correct for comid update
print(data_input)
data_new = json.dumps(data_input)
data_new
 
headers = {
    'accept': '*/*',
    'Content-Type': 'application/json-patch+json',
}

data = data_new

response = requests.post('https://ceamdev.ceeopdev.net/hms/rest/api/hydrology/surfacerunoff', headers=headers, data=data)
print(response.json())
output3= response.json()
    
df_nwm_out = pd.DataFrame.from_dict(output3['data'], orient='index',columns=['Sfc_Runoff'] )
df_nwm_out # Now we can use dt for unique time series analysis and convert over to the mm/day from streamflow validation in VELMA watershed comparison

{'source': 'nldas', 'dateTimeSpan': {'startDate': '2018-01-01 00:00:00', 'endDate': '2018-12-31 00:00:00', 'dateTimeFormat': 'yyyy-MM-dd HH'}, 'geometry': {'description': None, 'comID': '8629331', 'hucID': None, 'stationID': None, 'point': None, 'geometryMetadata': {'gaugestation': None}, 'timezone': None}, 'dataValueFormat': 'F5', 'temporalResolution': 'daily', 'timeLocalized': False, 'units': 'metric', 'outputFormat': 'json', 'baseURL': None, 'inputTimeSeries': None}
{'dataset': 'SurfaceRunoff', 'dataSource': 'nldas', 'metadata': {'catchment_comid': '8629331', 'nldas_prod_name': 'NLDAS_NOAH0125_H.002', 'nldas_param_short_name': 'SSRUNsfc', 'nldas_param_name': 'Surface runoff (non-infiltrating)', 'nldas_unit': 'kg/m^2', 'nldas_undef': '  9.9990e+20', 'nldas_begin_time': '2018/01/01/01', 'nldas_end_time': '2019/01/01/00', 'nldas_time_interval[hour]': '1', 'nldas_tot_record': '8760', 'nldas_grid_y': '97', 'nldas_grid_x': '359', 'nldas_elevation[m]': '575.823120', 'nldas_dlat': '0.125000', 'nldas_dlon': '0.125000', 'nldas_ydim(original data set)': '224', 'nldas_xdim(original data set)': '464', 'nldas_start_lat(original data set)': '  25.0625', 'nldas_start_lon(original data set)': '-124.9375', 'nldas_Last_update': 'Mon Jun  5 04:43:06 2023', 'nldas_begin_time_index': '341856', 'nldas_end_time_index': '350615', 'nldas_lat': '  37.1875', 'nldas_lon': ' -80.0625', 'nldas_Request_time': 'Mon Jun  5 17:02:17 2023', 'nldas_temporalresolution': 'daily', 'column_1': 'Date (GMT)', 'column_2': 'Daily Total', 'nldas_timeZone': 'America/New_York', 'nldas_tz_offset': '-5', 'Daily Total_sum': '144.28170000000003', 'Daily Total_mean': '0.395', 'Daily Total_max': '20.413', 'Daily Total_standard_deviation': '1.621', 'Daily Total_variance': '2.628', 'Daily Total_median': '0', 'Daily Total_entropy': '4.534', 'Daily Total_geometric_mean': '0', 'Daily Total_skewness': '8.222', 'Daily Total_root_mean_square': '1.666', 'Daily Total_99_percentile': '10.261', 'Daily Total_99_percentile_count': '3', 'Daily Total_95_percentile': '1.896', 'Daily Total_95_percentile_count': '18', 'Daily Total_75_percentile': '0.086', 'Daily Total_75_percentile_count': '91', 'Daily Total_zero_count': '186', 'timeseries_timezone': 'GMT', 'request_url': '/api/hydrology/surfacerunoff'}, 'data': {'2018-01-01 00': ['0.00000'], '2018-01-02 00': ['0.00000'], '2018-01-03 00': ['0.00000'], '2018-01-04 00': ['0.00000'], '2018-01-05 00': ['0.00000'], '2018-01-06 00': ['0.00000'], '2018-01-07 00': ['0.00000'], '2018-01-08 00': ['0.06600'], '2018-01-09 00': ['0.00630'], '2018-01-10 00': ['0.00000'], '2018-01-11 00': ['0.01410'], '2018-01-12 00': ['0.28120'], '2018-01-13 00': ['0.21670'], '2018-01-14 00': ['0.00000'], '2018-01-15 00': ['0.00000'], '2018-01-16 00': ['0.00000'], '2018-01-17 00': ['0.00000'], '2018-01-18 00': ['0.00320'], '2018-01-19 00': ['0.02530'], '2018-01-20 00': ['0.00250'], '2018-01-21 00': ['0.00010'], '2018-01-22 00': ['0.00000'], '2018-01-23 00': ['0.33560'], '2018-01-24 00': ['0.00000'], '2018-01-25 00': ['0.00000'], '2018-01-26 00': ['0.00000'], '2018-01-27 00': ['0.00000'], '2018-01-28 00': ['0.14940'], '2018-01-29 00': ['0.09810'], '2018-01-30 00': ['0.00000'], '2018-01-31 00': ['0.00000'], '2018-02-01 00': ['0.00000'], '2018-02-02 00': ['0.02800'], '2018-02-03 00': ['0.00000'], '2018-02-04 00': ['0.78190'], '2018-02-05 00': ['0.07780'], '2018-02-06 00': ['0.02120'], '2018-02-07 00': ['1.37850'], '2018-02-08 00': ['0.00000'], '2018-02-09 00': ['0.00000'], '2018-02-10 00': ['0.21440'], '2018-02-11 00': ['3.51040'], '2018-02-12 00': ['0.00000'], '2018-02-13 00': ['0.00400'], '2018-02-14 00': ['0.00000'], '2018-02-15 00': ['0.00000'], '2018-02-16 00': ['0.04650'], '2018-02-17 00': ['0.00830'], '2018-02-18 00': ['0.01140'], '2018-02-19 00': ['0.03920'], '2018-02-20 00': ['0.00000'], '2018-02-21 00': ['0.00000'], '2018-02-22 00': ['0.00000'], '2018-02-23 00': ['0.00000'], '2018-02-24 00': ['0.00020'], '2018-02-25 00': ['0.02820'], '2018-02-26 00': ['0.00820'], '2018-02-27 00': ['0.00000'], '2018-02-28 00': ['0.00020'], '2018-03-01 00': ['0.19040'], '2018-03-02 00': ['0.00400'], '2018-03-03 00': ['0.00000'], '2018-03-04 00': ['0.00000'], '2018-03-05 00': ['0.00000'], '2018-03-06 00': ['0.00000'], '2018-03-07 00': ['0.01770'], '2018-03-08 00': ['0.00000'], '2018-03-09 00': ['0.00000'], '2018-03-10 00': ['0.00000'], '2018-03-11 00': ['0.00000'], '2018-03-12 00': ['0.27620'], '2018-03-13 00': ['0.00150'], '2018-03-14 00': ['0.00070'], '2018-03-15 00': ['0.00000'], '2018-03-16 00': ['0.00000'], '2018-03-17 00': ['0.00240'], '2018-03-18 00': ['0.68290'], '2018-03-19 00': ['0.00000'], '2018-03-20 00': ['0.92950'], '2018-03-21 00': ['1.05850'], '2018-03-22 00': ['0.00000'], '2018-03-23 00': ['0.00000'], '2018-03-24 00': ['0.45560'], '2018-03-25 00': ['0.28060'], '2018-03-26 00': ['0.00000'], '2018-03-27 00': ['0.06050'], '2018-03-28 00': ['0.00000'], '2018-03-29 00': ['0.00000'], '2018-03-30 00': ['0.00930'], '2018-03-31 00': ['0.00000'], '2018-04-01 00': ['0.00000'], '2018-04-02 00': ['0.00400'], '2018-04-03 00': ['0.06760'], '2018-04-04 00': ['0.00450'], '2018-04-05 00': ['0.00000'], '2018-04-06 00': ['0.00000'], '2018-04-07 00': ['0.08880'], '2018-04-08 00': ['0.03440'], '2018-04-09 00': ['0.00320'], '2018-04-10 00': ['0.00000'], '2018-04-11 00': ['0.00000'], '2018-04-12 00': ['0.00000'], '2018-04-13 00': ['0.00000'], '2018-04-14 00': ['0.00000'], '2018-04-15 00': ['1.72060'], '2018-04-16 00': ['1.52610'], '2018-04-17 00': ['0.00000'], '2018-04-18 00': ['0.00000'], '2018-04-19 00': ['0.00030'], '2018-04-20 00': ['0.00000'], '2018-04-21 00': ['0.00000'], '2018-04-22 00': ['0.00000'], '2018-04-23 00': ['0.44960'], '2018-04-24 00': ['4.21120'], '2018-04-25 00': ['0.85620'], '2018-04-26 00': ['0.01430'], '2018-04-27 00': ['0.10770'], '2018-04-28 00': ['0.00000'], '2018-04-29 00': ['0.00000'], '2018-04-30 00': ['0.00000'], '2018-05-01 00': ['0.00000'], '2018-05-02 00': ['0.00000'], '2018-05-03 00': ['0.00000'], '2018-05-04 00': ['0.00000'], '2018-05-05 00': ['0.00010'], '2018-05-06 00': ['0.02630'], '2018-05-07 00': ['0.00020'], '2018-05-08 00': ['0.01220'], '2018-05-09 00': ['0.00000'], '2018-05-10 00': ['0.00000'], '2018-05-11 00': ['0.00020'], '2018-05-12 00': ['0.00000'], '2018-05-13 00': ['0.00000'], '2018-05-14 00': ['0.00960'], '2018-05-15 00': ['0.87860'], '2018-05-16 00': ['0.30330'], '2018-05-17 00': ['0.02800'], '2018-05-18 00': ['3.95550'], '2018-05-19 00': ['0.25730'], '2018-05-20 00': ['0.68320'], '2018-05-21 00': ['1.62640'], '2018-05-22 00': ['3.81700'], '2018-05-23 00': ['0.08840'], '2018-05-24 00': ['0.00000'], '2018-05-25 00': ['0.00000'], '2018-05-26 00': ['2.70100'], '2018-05-27 00': ['0.00480'], '2018-05-28 00': ['0.00260'], '2018-05-29 00': ['0.01000'], '2018-05-30 00': ['0.07440'], '2018-05-31 00': ['0.32360'], '2018-06-01 00': ['0.82240'], '2018-06-02 00': ['0.00000'], '2018-06-03 00': ['0.00000'], '2018-06-04 00': ['0.00000'], '2018-06-05 00': ['0.00000'], '2018-06-06 00': ['0.00000'], '2018-06-07 00': ['0.00000'], '2018-06-08 00': ['0.00000'], '2018-06-09 00': ['0.00000'], '2018-06-10 00': ['10.25460'], '2018-06-11 00': ['0.00000'], '2018-06-12 00': ['0.01560'], '2018-06-13 00': ['0.05150'], '2018-06-14 00': ['0.00640'], '2018-06-15 00': ['0.00000'], '2018-06-16 00': ['0.00000'], '2018-06-17 00': ['0.00000'], '2018-06-18 00': ['0.02680'], '2018-06-19 00': ['0.00000'], '2018-06-20 00': ['0.00000'], '2018-06-21 00': ['0.00540'], '2018-06-22 00': ['2.86990'], '2018-06-23 00': ['0.03800'], '2018-06-24 00': ['0.00060'], '2018-06-25 00': ['0.08390'], '2018-06-26 00': ['0.68220'], '2018-06-27 00': ['0.00580'], '2018-06-28 00': ['0.00000'], '2018-06-29 00': ['0.00000'], '2018-06-30 00': ['0.00000'], '2018-07-01 00': ['0.00000'], '2018-07-02 00': ['0.04470'], '2018-07-03 00': ['0.00000'], '2018-07-04 00': ['0.00000'], '2018-07-05 00': ['0.00020'], '2018-07-06 00': ['1.13180'], '2018-07-07 00': ['0.31980'], '2018-07-08 00': ['0.00000'], '2018-07-09 00': ['0.00000'], '2018-07-10 00': ['0.00000'], '2018-07-11 00': ['1.55500'], '2018-07-12 00': ['0.00000'], '2018-07-13 00': ['0.00000'], '2018-07-14 00': ['0.00000'], '2018-07-15 00': ['0.00020'], '2018-07-16 00': ['0.00160'], '2018-07-17 00': ['0.23580'], '2018-07-18 00': ['0.00000'], '2018-07-19 00': ['0.00000'], '2018-07-20 00': ['0.00000'], '2018-07-21 00': ['0.00000'], '2018-07-22 00': ['10.72510'], '2018-07-23 00': ['0.91600'], '2018-07-24 00': ['0.10550'], '2018-07-25 00': ['2.78180'], '2018-07-26 00': ['0.00000'], '2018-07-27 00': ['0.00000'], '2018-07-28 00': ['0.00000'], '2018-07-29 00': ['0.00000'], '2018-07-30 00': ['0.08940'], '2018-07-31 00': ['0.23930'], '2018-08-01 00': ['0.30040'], '2018-08-02 00': ['1.50420'], '2018-08-03 00': ['0.42330'], '2018-08-04 00': ['0.00000'], '2018-08-05 00': ['0.00000'], '2018-08-06 00': ['0.00000'], '2018-08-07 00': ['0.00040'], '2018-08-08 00': ['0.14560'], '2018-08-09 00': ['0.00000'], '2018-08-10 00': ['0.00000'], '2018-08-11 00': ['0.01710'], '2018-08-12 00': ['0.03900'], '2018-08-13 00': ['0.00000'], '2018-08-14 00': ['0.00000'], '2018-08-15 00': ['0.00000'], '2018-08-16 00': ['0.00000'], '2018-08-17 00': ['0.00260'], '2018-08-18 00': ['0.20000'], '2018-08-19 00': ['0.00020'], '2018-08-20 00': ['0.22960'], '2018-08-21 00': ['0.06840'], '2018-08-22 00': ['0.21860'], '2018-08-23 00': ['0.00000'], '2018-08-24 00': ['0.00000'], '2018-08-25 00': ['0.00000'], '2018-08-26 00': ['0.00000'], '2018-08-27 00': ['0.00070'], '2018-08-28 00': ['0.00000'], '2018-08-29 00': ['0.00000'], '2018-08-30 00': ['0.30990'], '2018-08-31 00': ['0.08560'], '2018-09-01 00': ['0.09580'], '2018-09-02 00': ['0.00180'], '2018-09-03 00': ['0.00000'], '2018-09-04 00': ['0.00000'], '2018-09-05 00': ['0.00000'], '2018-09-06 00': ['0.00000'], '2018-09-07 00': ['0.00000'], '2018-09-08 00': ['1.29480'], '2018-09-09 00': ['2.49440'], '2018-09-10 00': ['0.79100'], '2018-09-11 00': ['0.00960'], '2018-09-12 00': ['1.51600'], '2018-09-13 00': ['0.01740'], '2018-09-14 00': ['0.00520'], '2018-09-15 00': ['2.03880'], '2018-09-16 00': ['4.60000'], '2018-09-17 00': ['13.39520'], '2018-09-18 00': ['0.16710'], '2018-09-19 00': ['0.00000'], '2018-09-20 00': ['0.00000'], '2018-09-21 00': ['0.00000'], '2018-09-22 00': ['0.98120'], '2018-09-23 00': ['4.42510'], '2018-09-24 00': ['0.00420'], '2018-09-25 00': ['0.14150'], '2018-09-26 00': ['0.00000'], '2018-09-27 00': ['0.42990'], '2018-09-28 00': ['1.38190'], '2018-09-29 00': ['0.00000'], '2018-09-30 00': ['0.00000'], '2018-10-01 00': ['0.00000'], '2018-10-02 00': ['0.06060'], '2018-10-03 00': ['0.00000'], '2018-10-04 00': ['0.00000'], '2018-10-05 00': ['0.00220'], '2018-10-06 00': ['0.00000'], '2018-10-07 00': ['0.00020'], '2018-10-08 00': ['0.00000'], '2018-10-09 00': ['0.21980'], '2018-10-10 00': ['1.95330'], '2018-10-11 00': ['20.41320'], '2018-10-12 00': ['0.00160'], '2018-10-13 00': ['0.00000'], '2018-10-14 00': ['0.03480'], '2018-10-15 00': ['0.00000'], '2018-10-16 00': ['0.16120'], '2018-10-17 00': ['0.10650'], '2018-10-18 00': ['0.00000'], '2018-10-19 00': ['0.00000'], '2018-10-20 00': ['0.00030'], '2018-10-21 00': ['0.00000'], '2018-10-22 00': ['0.00000'], '2018-10-23 00': ['0.00000'], '2018-10-24 00': ['0.00000'], '2018-10-25 00': ['0.00000'], '2018-10-26 00': ['1.70840'], '2018-10-27 00': ['0.00000'], '2018-10-28 00': ['0.03290'], '2018-10-29 00': ['0.08970'], '2018-10-30 00': ['0.00000'], '2018-10-31 00': ['0.00000'], '2018-11-01 00': ['0.00000'], '2018-11-02 00': ['0.87210'], '2018-11-03 00': ['0.00000'], '2018-11-04 00': ['0.00000'], '2018-11-05 00': ['0.01770'], '2018-11-06 00': ['0.13930'], '2018-11-07 00': ['0.00000'], '2018-11-08 00': ['0.00000'], '2018-11-09 00': ['0.24880'], '2018-11-10 00': ['0.00000'], '2018-11-11 00': ['0.00000'], '2018-11-12 00': ['0.97730'], '2018-11-13 00': ['0.68140'], '2018-11-14 00': ['0.00000'], '2018-11-15 00': ['0.82080'], '2018-11-16 00': ['0.27000'], '2018-11-17 00': ['0.48190'], '2018-11-18 00': ['0.01170'], '2018-11-19 00': ['0.00000'], '2018-11-20 00': ['0.00000'], '2018-11-21 00': ['0.00000'], '2018-11-22 00': ['0.00000'], '2018-11-23 00': ['0.00000'], '2018-11-24 00': ['2.00100'], '2018-11-25 00': ['0.00000'], '2018-11-26 00': ['0.00000'], '2018-11-27 00': ['0.00000'], '2018-11-28 00': ['0.00000'], '2018-11-29 00': ['0.00000'], '2018-11-30 00': ['0.08760'], '2018-12-01 00': ['0.03670'], '2018-12-02 00': ['0.00280'], '2018-12-03 00': ['0.00000'], '2018-12-04 00': ['0.00000'], '2018-12-05 00': ['0.00600'], '2018-12-06 00': ['0.00000'], '2018-12-07 00': ['0.00000'], '2018-12-08 00': ['0.00000'], '2018-12-09 00': ['0.00000'], '2018-12-10 00': ['0.02410'], '2018-12-11 00': ['0.00330'], '2018-12-12 00': ['0.00980'], '2018-12-13 00': ['0.00070'], '2018-12-14 00': ['0.26140'], '2018-12-15 00': ['0.50370'], '2018-12-16 00': ['0.01360'], '2018-12-17 00': ['0.00000'], '2018-12-18 00': ['0.00000'], '2018-12-19 00': ['0.00000'], '2018-12-20 00': ['1.40330'], '2018-12-21 00': ['1.85790'], '2018-12-22 00': ['0.00000'], '2018-12-23 00': ['0.00000'], '2018-12-24 00': ['0.00000'], '2018-12-25 00': ['0.00000'], '2018-12-26 00': ['0.00000'], '2018-12-27 00': ['0.00000'], '2018-12-28 00': ['3.18380'], '2018-12-29 00': ['0.00000'], '2018-12-30 00': ['0.00000'], '2018-12-31 00': ['0.01660']}}

              Sfc_Runoff
2018-01-01 00    0.00000
2018-01-02 00    0.00000
2018-01-03 00    0.00000
2018-01-04 00    0.00000
2018-01-05 00    0.00000
...                  ...
2018-12-27 00    0.00000
2018-12-28 00    3.18380
2018-12-29 00    0.00000
2018-12-30 00    0.00000
2018-12-31 00    0.01660

[365 rows x 1 columns]

In [76]:
output3

{'dataset': 'SurfaceRunoff',
 'dataSource': 'nldas',
 'metadata': {'catchment_comid': '190641',
  'nldas_prod_name': 'NLDAS_NOAH0125_H.002',
  'nldas_param_short_name': 'SSRUNsfc',
  'nldas_param_name': 'Surface runoff (non-infiltrating)',
  'nldas_unit': 'kg/m^2',
  'nldas_undef': '  9.9990e+20',
  'nldas_begin_time': '2018/01/01/01',
  'nldas_end_time': '2019/01/01/00',
  'nldas_time_interval[hour]': '1',
  'nldas_tot_record': '8760',
  'nldas_grid_y': '114',
  'nldas_grid_x': '158',
  'nldas_elevation[m]': '2199.096924',
  'nldas_dlat': '0.125000',
  'nldas_dlon': '0.125000',
  'nldas_ydim(original data set)': '224',
  'nldas_xdim(original data set)': '464',
  'nldas_start_lat(original data set)': '  25.0625',
  'nldas_start_lon(original data set)': '-124.9375',
  'nldas_Last_update': 'Mon Jun  5 04:43:06 2023',
  'nldas_begin_time_index': '341856',
  'nldas_end_time_index': '350615',
  'nldas_lat': '  39.3125',
  'nldas_lon': '-105.1875',
  'nldas_Request_time': 'Mon Jun  5 16:09:54 2023',
  'nldas_temporalresolution': 'daily',
  'column_1': 'Date (GMT)',
  'column_2': 'Daily Total',
  'nldas_timeZone': 'America/Denver',
  'nldas_tz_offset': '-7',
  'Daily Total_sum': '51.67270000000005',
  'Daily Total_mean': '0.142',
  'Daily Total_max': '33.75',
  'Daily Total_standard_deviation': '1.779',
  'Daily Total_variance': '3.163',
  'Daily Total_median': '0',
  'Daily Total_entropy': '4.587',
  'Daily Total_geometric_mean': '0',
  'Daily Total_skewness': '18.656',
  'Daily Total_root_mean_square': '1.782',
  'Daily Total_99_percentile': '1.221',
  'Daily Total_99_percentile_count': '3',
  'Daily Total_95_percentile': '0.256',
  'Daily Total_95_percentile_count': '18',
  'Daily Total_75_percentile': '0.006',
  'Daily Total_75_percentile_count': '91',
  'Daily Total_zero_count': '166',
  'timeseries_timezone': 'GMT',
  'request_url': '/api/hydrology/surfacerunoff'},
 'data': {'2018-01-01 00': ['1.300E-003'],
  '2018-01-02 00': ['1.000E-003'],
  '2018-01-03 00': ['7.000E-004'],
  '2018-01-04 00': ['8.000E-004'],
  '2018-01-05 00': ['1.600E-003'],
  '2018-01-06 00': ['3.300E-003'],
  '2018-01-07 00': ['2.700E-003'],
  '2018-01-08 00': ['5.000E-004'],
  '2018-01-09 00': ['1.400E-003'],
  '2018-01-10 00': ['1.000E-002'],
  '2018-01-11 00': ['9.200E-003'],
  '2018-01-12 00': ['1.070E-002'],
  '2018-01-13 00': ['2.300E-003'],
  '2018-01-14 00': ['2.360E-002'],
  '2018-01-15 00': ['0.000E+000'],
  '2018-01-16 00': ['1.010E-002'],
  '2018-01-17 00': ['4.460E-002'],
  '2018-01-18 00': ['1.990E-002'],
  '2018-01-19 00': ['1.190E-002'],
  '2018-01-20 00': ['9.700E-003'],
  '2018-01-21 00': ['0.000E+000'],
  '2018-01-22 00': ['2.780E-002'],
  '2018-01-23 00': ['5.280E-002'],
  '2018-01-24 00': ['5.460E-001'],
  '2018-01-25 00': ['6.675E-001'],
  '2018-01-26 00': ['3.710E-002'],
  '2018-01-27 00': ['1.138E-001'],
  '2018-01-28 00': ['3.853E-001'],
  '2018-01-29 00': ['1.883E-001'],
  '2018-01-30 00': ['3.190E-002'],
  '2018-01-31 00': ['1.460E-002'],
  '2018-02-01 00': ['3.500E-003'],
  '2018-02-02 00': ['6.500E-003'],
  '2018-02-03 00': ['3.100E-002'],
  '2018-02-04 00': ['2.780E-002'],
  '2018-02-05 00': ['2.840E-002'],
  '2018-02-06 00': ['1.000E-003'],
  '2018-02-07 00': ['7.000E-004'],
  '2018-02-08 00': ['4.700E-003'],
  '2018-02-09 00': ['5.000E-003'],
  '2018-02-10 00': ['1.419E-001'],
  '2018-02-11 00': ['3.133E-001'],
  '2018-02-12 00': ['2.621E-001'],
  '2018-02-13 00': ['7.000E-002'],
  '2018-02-14 00': ['2.240E-002'],
  '2018-02-15 00': ['2.740E-002'],
  '2018-02-16 00': ['1.684E-001'],
  '2018-02-17 00': ['4.100E-003'],
  '2018-02-18 00': ['3.500E-003'],
  '2018-02-19 00': ['4.100E-003'],
  '2018-02-20 00': ['4.000E-004'],
  '2018-02-21 00': ['1.300E-003'],
  '2018-02-22 00': ['6.000E-003'],
  '2018-02-23 00': ['8.400E-003'],
  '2018-02-24 00': ['0.000E+000'],
  '2018-02-25 00': ['0.000E+000'],
  '2018-02-26 00': ['7.800E-003'],
  '2018-02-27 00': ['5.100E-003'],
  '2018-02-28 00': ['2.200E-003'],
  '2018-03-01 00': ['3.300E-003'],
  '2018-03-02 00': ['5.800E-003'],
  '2018-03-03 00': ['5.900E-003'],
  '2018-03-04 00': ['1.300E-003'],
  '2018-03-05 00': ['0.000E+000'],
  '2018-03-06 00': ['1.200E-003'],
  '2018-03-07 00': ['1.700E-003'],
  '2018-03-08 00': ['1.000E-003'],
  '2018-03-09 00': ['4.700E-003'],
  '2018-03-10 00': ['2.200E-003'],
  '2018-03-11 00': ['1.000E-003'],
  '2018-03-12 00': ['1.900E-003'],
  '2018-03-13 00': ['2.300E-003'],
  '2018-03-14 00': ['5.400E-003'],
  '2018-03-15 00': ['1.890E-002'],
  '2018-03-16 00': ['1.193E-001'],
  '2018-03-17 00': ['2.200E-003'],
  '2018-03-18 00': ['7.270E-002'],
  '2018-03-19 00': ['9.560E-001'],
  '2018-03-20 00': ['1.243E-001'],
  '2018-03-21 00': ['3.900E-003'],
  '2018-03-22 00': ['7.400E-003'],
  '2018-03-23 00': ['1.080E-002'],
  '2018-03-24 00': ['3.300E-003'],
  '2018-03-25 00': ['2.700E-003'],
  '2018-03-26 00': ['1.129E-001'],
  '2018-03-27 00': ['3.340E+000'],
  '2018-03-28 00': ['1.024E+000'],
  '2018-03-29 00': ['1.456E-001'],
  '2018-03-30 00': ['1.800E-003'],
  '2018-03-31 00': ['8.000E-004'],
  '2018-04-01 00': ['2.000E-004'],
  '2018-04-02 00': ['5.000E-004'],
  '2018-04-03 00': ['7.600E-003'],
  '2018-04-04 00': ['7.000E-004'],
  '2018-04-05 00': ['1.000E-004'],
  '2018-04-06 00': ['3.524E-001'],
  '2018-04-07 00': ['5.420E-002'],
  '2018-04-08 00': ['8.040E-002'],
  '2018-04-09 00': ['0.000E+000'],
  '2018-04-10 00': ['0.000E+000'],
  '2018-04-11 00': ['0.000E+000'],
  '2018-04-12 00': ['2.600E-003'],
  '2018-04-13 00': ['2.523E-001'],
  '2018-04-14 00': ['2.000E-003'],
  '2018-04-15 00': ['4.000E-004'],
  '2018-04-16 00': ['0.000E+000'],
  '2018-04-17 00': ['1.000E-004'],
  '2018-04-18 00': ['0.000E+000'],
  '2018-04-19 00': ['0.000E+000'],
  '2018-04-20 00': ['4.716E-001'],
  '2018-04-21 00': ['1.828E-001'],
  '2018-04-22 00': ['1.800E-003'],
  '2018-04-23 00': ['3.000E-004'],
  '2018-04-24 00': ['3.367E-001'],
  '2018-04-25 00': ['8.960E-002'],
  '2018-04-26 00': ['0.000E+000'],
  '2018-04-27 00': ['0.000E+000'],
  '2018-04-28 00': ['3.000E-004'],
  '2018-04-29 00': ['0.000E+000'],
  '2018-04-30 00': ['3.000E-004'],
  '2018-05-01 00': ['0.000E+000'],
  '2018-05-02 00': ['8.800E-002'],
  '2018-05-03 00': ['1.403E+000'],
  '2018-05-04 00': ['1.200E-003'],
  '2018-05-05 00': ['0.000E+000'],
  '2018-05-06 00': ['0.000E+000'],
  '2018-05-07 00': ['0.000E+000'],
  '2018-05-08 00': ['0.000E+000'],
  '2018-05-09 00': ['1.000E-004'],
  '2018-05-10 00': ['0.000E+000'],
  '2018-05-11 00': ['0.000E+000'],
  '2018-05-12 00': ['4.000E-004'],
  '2018-05-13 00': ['0.000E+000'],
  '2018-05-14 00': ['2.800E-003'],
  '2018-05-15 00': ['0.000E+000'],
  '2018-05-16 00': ['0.000E+000'],
  '2018-05-17 00': ['0.000E+000'],
  '2018-05-18 00': ['1.060E-002'],
  '2018-05-19 00': ['2.260E-002'],
  '2018-05-20 00': ['1.324E-001'],
  '2018-05-21 00': ['4.000E-004'],
  '2018-05-22 00': ['0.000E+000'],
  '2018-05-23 00': ['1.400E-003'],
  '2018-05-24 00': ['0.000E+000'],
  '2018-05-25 00': ['0.000E+000'],
  '2018-05-26 00': ['0.000E+000'],
  '2018-05-27 00': ['0.000E+000'],
  '2018-05-28 00': ['2.800E-003'],
  '2018-05-29 00': ['4.000E-004'],
  '2018-05-30 00': ['2.000E-004'],
  '2018-05-31 00': ['0.000E+000'],
  '2018-06-01 00': ['0.000E+000'],
  '2018-06-02 00': ['0.000E+000'],
  '2018-06-03 00': ['0.000E+000'],
  '2018-06-04 00': ['8.000E-004'],
  '2018-06-05 00': ['0.000E+000'],
  '2018-06-06 00': ['0.000E+000'],
  '2018-06-07 00': ['0.000E+000'],
  '2018-06-08 00': ['0.000E+000'],
  '2018-06-09 00': ['0.000E+000'],
  '2018-06-10 00': ['0.000E+000'],
  '2018-06-11 00': ['0.000E+000'],
  '2018-06-12 00': ['0.000E+000'],
  '2018-06-13 00': ['0.000E+000'],
  '2018-06-14 00': ['0.000E+000'],
  '2018-06-15 00': ['0.000E+000'],
  '2018-06-16 00': ['0.000E+000'],
  '2018-06-17 00': ['7.434E-001'],
  '2018-06-18 00': ['2.223E-001'],
  '2018-06-19 00': ['0.000E+000'],
  '2018-06-20 00': ['0.000E+000'],
  '2018-06-21 00': ['0.000E+000'],
  '2018-06-22 00': ['0.000E+000'],
  '2018-06-23 00': ['0.000E+000'],
  '2018-06-24 00': ['6.600E-003'],
  '2018-06-25 00': ['0.000E+000'],
  '2018-06-26 00': ['0.000E+000'],
  '2018-06-27 00': ['0.000E+000'],
  '2018-06-28 00': ['0.000E+000'],
  '2018-06-29 00': ['0.000E+000'],
  '2018-06-30 00': ['0.000E+000'],
  '2018-07-01 00': ['0.000E+000'],
  '2018-07-02 00': ['0.000E+000'],
  '2018-07-03 00': ['0.000E+000'],
  '2018-07-04 00': ['0.000E+000'],
  '2018-07-05 00': ['3.375E+001'],
  '2018-07-06 00': ['0.000E+000'],
  '2018-07-07 00': ['0.000E+000'],
  '2018-07-08 00': ['2.200E-003'],
  '2018-07-09 00': ['6.000E-004'],
  '2018-07-10 00': ['0.000E+000'],
  '2018-07-11 00': ['0.000E+000'],
  '2018-07-12 00': ['2.600E-003'],
  '2018-07-13 00': ['0.000E+000'],
  '2018-07-14 00': ['0.000E+000'],
  '2018-07-15 00': ['5.000E-003'],
  '2018-07-16 00': ['1.613E-001'],
  '2018-07-17 00': ['5.840E-002'],
  '2018-07-18 00': ['2.000E-004'],
  '2018-07-19 00': ['0.000E+000'],
  '2018-07-20 00': ['0.000E+000'],
  '2018-07-21 00': ['1.410E-002'],
  '2018-07-22 00': ['8.000E-004'],
  '2018-07-23 00': ['1.219E+000'],
  '2018-07-24 00': ['1.053E-001'],
  '2018-07-25 00': ['1.370E-001'],
  '2018-07-26 00': ['3.100E-003'],
  '2018-07-27 00': ['3.600E-002'],
  '2018-07-28 00': ['1.524E-001'],
  '2018-07-29 00': ['2.000E-004'],
  '2018-07-30 00': ['0.000E+000'],
  '2018-07-31 00': ['0.000E+000'],
  '2018-08-01 00': ['0.000E+000'],
  '2018-08-02 00': ['0.000E+000'],
  '2018-08-03 00': ['6.100E-003'],
  '2018-08-04 00': ['0.000E+000'],
  '2018-08-05 00': ['5.200E-003'],
  '2018-08-06 00': ['1.800E-003'],
  '2018-08-07 00': ['2.000E-003'],
  '2018-08-08 00': ['2.000E-004'],
  '2018-08-09 00': ['0.000E+000'],
  '2018-08-10 00': ['0.000E+000'],
  '2018-08-11 00': ['0.000E+000'],
  '2018-08-12 00': ['0.000E+000'],
  '2018-08-13 00': ['0.000E+000'],
  '2018-08-14 00': ['0.000E+000'],
  '2018-08-15 00': ['1.420E-002'],
  '2018-08-16 00': ['0.000E+000'],
  '2018-08-17 00': ['2.494E-001'],
  '2018-08-18 00': ['0.000E+000'],
  '2018-08-19 00': ['0.000E+000'],
  '2018-08-20 00': ['0.000E+000'],
  '2018-08-21 00': ['3.514E-001'],
  '2018-08-22 00': ['8.460E-002'],
  '2018-08-23 00': ['0.000E+000'],
  '2018-08-24 00': ['0.000E+000'],
  '2018-08-25 00': ['0.000E+000'],
  '2018-08-26 00': ['7.000E-004'],
  '2018-08-27 00': ['0.000E+000'],
  '2018-08-28 00': ['0.000E+000'],
  '2018-08-29 00': ['0.000E+000'],
  '2018-08-30 00': ['0.000E+000'],
  '2018-08-31 00': ['0.000E+000'],
  '2018-09-01 00': ['1.000E-004'],
  '2018-09-02 00': ['0.000E+000'],
  '2018-09-03 00': ['0.000E+000'],
  '2018-09-04 00': ['8.000E-004'],
  '2018-09-05 00': ['3.300E-003'],
  '2018-09-06 00': ['4.747E-001'],
  '2018-09-07 00': ['9.250E-002'],
  '2018-09-08 00': ['0.000E+000'],
  '2018-09-09 00': ['0.000E+000'],
  '2018-09-10 00': ['0.000E+000'],
  '2018-09-11 00': ['0.000E+000'],
  '2018-09-12 00': ['0.000E+000'],
  '2018-09-13 00': ['0.000E+000'],
  '2018-09-14 00': ['0.000E+000'],
  '2018-09-15 00': ['0.000E+000'],
  '2018-09-16 00': ['0.000E+000'],
  '2018-09-17 00': ['0.000E+000'],
  '2018-09-18 00': ['0.000E+000'],
  '2018-09-19 00': ['1.000E-004'],
  '2018-09-20 00': ['2.000E-004'],
  '2018-09-21 00': ['0.000E+000'],
  '2018-09-22 00': ['0.000E+000'],
  '2018-09-23 00': ['0.000E+000'],
  '2018-09-24 00': ['0.000E+000'],
  '2018-09-25 00': ['0.000E+000'],
  '2018-09-26 00': ['0.000E+000'],
  '2018-09-27 00': ['0.000E+000'],
  '2018-09-28 00': ['0.000E+000'],
  '2018-09-29 00': ['0.000E+000'],
  '2018-09-30 00': ['0.000E+000'],
  '2018-10-01 00': ['0.000E+000'],
  '2018-10-02 00': ['2.000E-004'],
  '2018-10-03 00': ['0.000E+000'],
  '2018-10-04 00': ['1.800E-003'],
  '2018-10-05 00': ['0.000E+000'],
  '2018-10-06 00': ['1.546E-001'],
  '2018-10-07 00': ['0.000E+000'],
  '2018-10-08 00': ['6.680E-002'],
  '2018-10-09 00': ['1.060E-002'],
  '2018-10-10 00': ['3.500E-003'],
  '2018-10-11 00': ['0.000E+000'],
  '2018-10-12 00': ['0.000E+000'],
  '2018-10-13 00': ['0.000E+000'],
  '2018-10-14 00': ['0.000E+000'],
  '2018-10-15 00': ['7.000E-004'],
  '2018-10-16 00': ['0.000E+000'],
  '2018-10-17 00': ['0.000E+000'],
  '2018-10-18 00': ['0.000E+000'],
  '2018-10-19 00': ['0.000E+000'],
  '2018-10-20 00': ['0.000E+000'],
  '2018-10-21 00': ['0.000E+000'],
  '2018-10-22 00': ['0.000E+000'],
  '2018-10-23 00': ['0.000E+000'],
  '2018-10-24 00': ['0.000E+000'],
  '2018-10-25 00': ['0.000E+000'],
  '2018-10-26 00': ['0.000E+000'],
  '2018-10-27 00': ['0.000E+000'],
  '2018-10-28 00': ['0.000E+000'],
  '2018-10-29 00': ['0.000E+000'],
  '2018-10-30 00': ['3.962E-001'],
  '2018-10-31 00': ['2.360E-002'],
  '2018-11-01 00': ['0.000E+000'],
  '2018-11-02 00': ['0.000E+000'],
  '2018-11-03 00': ['2.300E-003'],
  '2018-11-04 00': ['4.000E-004'],
  '2018-11-05 00': ['0.000E+000'],
  '2018-11-06 00': ['0.000E+000'],
  '2018-11-07 00': ['0.000E+000'],
  '2018-11-08 00': ['0.000E+000'],
  '2018-11-09 00': ['0.000E+000'],
  '2018-11-10 00': ['1.000E-004'],
  '2018-11-11 00': ['0.000E+000'],
  '2018-11-12 00': ['0.000E+000'],
  '2018-11-13 00': ['7.900E-003'],
  '2018-11-14 00': ['2.380E-002'],
  '2018-11-15 00': ['1.900E-003'],
  '2018-11-16 00': ['0.000E+000'],
  '2018-11-17 00': ['0.000E+000'],
  '2018-11-18 00': ['4.000E-004'],
  '2018-11-19 00': ['0.000E+000'],
  '2018-11-20 00': ['0.000E+000'],
  '2018-11-21 00': ['0.000E+000'],
  '2018-11-22 00': ['0.000E+000'],
  '2018-11-23 00': ['0.000E+000'],
  '2018-11-24 00': ['4.100E-003'],
  '2018-11-25 00': ['0.000E+000'],
  '2018-11-26 00': ['0.000E+000'],
  '2018-11-27 00': ['0.000E+000'],
  '2018-11-28 00': ['0.000E+000'],
  '2018-11-29 00': ['0.000E+000'],
  '2018-11-30 00': ['0.000E+000'],
  '2018-12-01 00': ['0.000E+000'],
  '2018-12-02 00': ['0.000E+000'],
  '2018-12-03 00': ['0.000E+000'],
  '2018-12-04 00': ['0.000E+000'],
  '2018-12-05 00': ['6.900E-003'],
  '2018-12-06 00': ['8.000E-004'],
  '2018-12-07 00': ['3.700E-003'],
  '2018-12-08 00': ['2.000E-003'],
  '2018-12-09 00': ['3.000E-004'],
  '2018-12-10 00': ['0.000E+000'],
  '2018-12-11 00': ['8.000E-004'],
  '2018-12-12 00': ['7.000E-004'],
  '2018-12-13 00': ['2.000E-004'],
  '2018-12-14 00': ['1.500E-003'],
  '2018-12-15 00': ['1.450E-002'],
  '2018-12-16 00': ['2.600E-003'],
  '2018-12-17 00': ['2.600E-003'],
  '2018-12-18 00': ['2.700E-003'],
  '2018-12-19 00': ['9.000E-003'],
  '2018-12-20 00': ['1.100E-003'],
  '2018-12-21 00': ['8.000E-004'],
  '2018-12-22 00': ['3.300E-002'],
  '2018-12-23 00': ['1.700E-003'],
  '2018-12-24 00': ['3.100E-003'],
  '2018-12-25 00': ['1.200E-003'],
  '2018-12-26 00': ['1.650E-002'],
  '2018-12-27 00': ['7.600E-003'],
  '2018-12-28 00': ['0.000E+000'],
  '2018-12-29 00': ['1.000E-004'],
  '2018-12-30 00': ['7.690E-002'],
  '2018-12-31 00': ['0.000E+000']}}

In [119]:
output3['metadata'].keys()

dict_keys(['catchment_comid', 'nldas_prod_name', 'nldas_param_short_name', 'nldas_param_name', 'nldas_unit', 'nldas_undef', 'nldas_begin_time', 'nldas_end_time', 'nldas_time_interval[hour]', 'nldas_tot_record', 'nldas_grid_y', 'nldas_grid_x', 'nldas_elevation[m]', 'nldas_dlat', 'nldas_dlon', 'nldas_ydim(original data set)', 'nldas_xdim(original data set)', 'nldas_start_lat(original data set)', 'nldas_start_lon(original data set)', 'nldas_Last_update', 'nldas_begin_time_index', 'nldas_end_time_index', 'nldas_lat', 'nldas_lon', 'nldas_Request_time', 'nldas_temporalresolution', 'column_1', 'column_2', 'nldas_timeZone', 'nldas_tz_offset', 'Daily Total_sum', 'Daily Total_mean', 'Daily Total_max', 'Daily Total_standard_deviation', 'Daily Total_variance', 'Daily Total_median', 'Daily Total_entropy', 'Daily Total_geometric_mean', 'Daily Total_skewness', 'Daily Total_root_mean_square', 'Daily Total_99_percentile', 'Daily Total_99_percentile_count', 'Daily Total_95_percentile', 'Daily Total_95_percentile_count', 'Daily Total_75_percentile', 'Daily Total_75_percentile_count', 'Daily Total_zero_count', 'timeseries_timezone', 'request_url'])

In [121]:
output3['metadata']['nldas_lat'], output3['metadata']['nldas_lon']

('  37.1875', ' -80.0625')

In [ ]:
'nldas_lat': '  39.3125',
'nldas_lon': '-105.1875',

In [128]:
data_temp_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": 35.925673,\n      "longitude": -105.355723\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
data_temp_input = json.loads(data_temp_test)
#data_temp_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent date change in scope

#To acquire the lat long nldas comid extract point from which the comid data is extracted !!!NEW
data_temp_input['geometry']['point'].update({'latitude': str(output3['metadata']['nldas_lat']), 'longitude': str(output3['metadata']['nldas_lon'])}) #correct for point update
#data_temp_input['geometry']['comID'] = str(comid_list[0][i])
data_temp_new = json.dumps(data_temp_input)
print(data_temp_new) 
headers = {
    'accept': '*/*',
    'Content-Type': 'application/json-patch+json',
}

data = data_temp_new
#qedcloud.net/hms
response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/temperature', headers=headers, data=data)

#response = requests.post('https://qed.epa.gov/hms/rest/api/hydrology/temperature', headers=headers, data=data)
output1 = response.json()
print(output1)
temp_all = output1['data']
#for daymet data without Avg Temp daily column needs to be calculated in third column for code to work 
#df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp'] )
#df_temp_all['Avg Temp'] = np.mean(df_temp_all.values, axis=1)
#for nldas
df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp', 'Avg Temp'] )
df_temp_all['C'] = df_temp_all['Avg Temp'] - 273.15
df_temp_all['date']= pd.to_datetime(df_temp_all.index[:])
        
df_temp_all.info()

{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01T00:00:00", "endDate": "1998-12-31T00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

In [132]:
for comid in comid_list[0]:
    print(comid)

8625279
8625313
8625375
8625523
8625547
8625615
8625685
8625697
8625717
8625727
8625731
8625735
8625739
8625747
8625775
8627469
8628577
8628579
8628581
8628587
8628591
8628603
8628611
8628623
8628627
8628631
8628641
8628643
8629331

In [136]:
df_focus_all = pd.DataFrame()
#correct accessibility of location list 
for comid in comid_list:
    for year in np_year:
        start_year = int(year)
        start_date = str('1/1/') +str(start_year)
        end_date = str('12/31/') +str(start_year)
        #print(start_date, end_date)
        year_parse = pd.date_range(start=start_date, end=end_date, freq='D')
        #year_parse chunking to remove possible bottlenecks 
        print(year_parse.min(), year_parse.max()) #now in date time format for call in on api 
        #Now acquiring the surface runoff by comid into one data frame from nldas 
        data_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "01/01/2015 00:00:00",\n    "endDate": "12/31/2015 00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": null,\n    "geometryMetadata": {\n      "gaugestation": null\n    },\n    "timezone": null\n  },\n  "dataValueFormat": "F5",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_input  =json.loads(data_test)
        data_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent change in scope
        #Updating comid in in json request
        data_input['geometry']['comID'] = str(comid_list[0][i])
        #data_input['geometry'].update(comID = str(comid_list[0][-1]) #correct for comid update
        #data_temp_input['geometry']['comID'] = str(comid) #correct for comid update
        #updated above comid acquistion rather than latitude and long by cell
        #print(data_input)
        data_new = json.dumps(data_input)
        data_new
 
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }

        data = data_new
        #Acquiring Surface Runoff Per COMID 
        response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/surfacerunoff', headers=headers, data=data)
        #print(response.json())
        output3= response.json()
        #dataframe used to collect all data for the year and store annually
        df_runoff_out = pd.DataFrame.from_dict(output3['data'], orient='index',columns=['Sfc_Runoff'] )
        df_runoff_out['comid'] = comid_list[0][i]
        
        #Temperature Conversion 
        data_temp_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": 35.925673,\n      "longitude": -105.355723\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        #data_temp_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": null,\n      "longitude": null\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_temp_input = json.loads(data_temp_test)
        data_temp_input['geometry']['point'].update({'latitude': str(output3['metadata']['nldas_lat']), 'longitude': str(output3['metadata']['nldas_lon'])}) #correct for point update
        #Old Below- revised above 
        data_temp_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent date change in scope
        #data_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent change in scope

        #data_temp_input['geometry']['point'].update({'latitude': str(df_2['lat'].iloc[(int(cell))]), 'longitude': str(df_2['long'].iloc[(int(cell))])}) #correct for point update
        #data_temp_input['geometry']['comID'] = str(comid_list[0][i])
        data_temp_new = json.dumps(data_temp_input)
        print(data_temp_new) 
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }
        data = data_temp_new
        #qedcloud.net/hms
        response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/temperature', headers=headers, data=data)

        #response = requests.post('https://qed.epa.gov/hms/rest/api/hydrology/temperature', headers=headers, data=data)
        output1 = response.json()
        temp_all = output1['data']
        #for daymet data without Avg Temp daily column needs to be calculated in third column for code to work 
        #df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp'] )
        #df_temp_all['Avg Temp'] = np.mean(df_temp_all.values, axis=1)
        #for nldas
        df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp', 'Avg Temp'] )
        df_temp_all['C'] = df_temp_all['Avg Temp'] - 273.15
        df_temp_all['date']= pd.to_datetime(df_temp_all.index[:])
        
        df_temp_all.info()
        #Joining avg temp in C to runoff
        
        df_runoff_out['C'] = df_temp_all['C'][:]
        
        #Precipitation API Acquisition
        data_precip_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": null,\n      "longitude": null\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "F2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        #data_test = '{\n  "source": "nwm",\n  "dateTimeSpan": {\n    "startDate": "01/01/2015 00:00:00",\n    "endDate": "12/31/2015 00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": null,\n    "geometryMetadata": {\n      "gaugestation": null\n    },\n    "timezone": null\n  },\n  "dataValueFormat": "E3",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_precip_input  =json.loads(data_precip_test)
        data_precip_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent date change in scope
        #New from comid extrapolation of nldas point
        data_precip_input['geometry']['point'].update({'latitude': str(output3['metadata']['nldas_lat']), 'longitude': str(output3['metadata']['nldas_lon'])}) #correct for point update
        #data_precip_input['geometry']['point'].update({'latitude': str(df_2['lat'].iloc[(int(cell))]), 'longitude': str(df_2['long'].iloc[(int(cell))])}) #correct for point update
        #data_precip_input['geometry']['comID'] = str(comid_list[0][i])
        #print(data_input)
        data_precip_new = json.dumps(data_precip_input)
        print(data_precip_new)
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }

        data = data_precip_new
        response = requests.post('https://qedcloud.net/hms/rest/api/meteorology/precipitation', headers=headers, data=data)

        #response = requests.post('https://qed.epa.gov/hms/rest/api/meteorology/precipitation', headers=headers, data=data)
        output2 = response.json()
        precip_all = output2['data']
        df_precip_all = pd.DataFrame.from_dict(precip_all, dtype=float, orient='index', columns=['Precip'])
        # Completes Precipitation  
        #Adding the precip to the runoff out dataframe for year as a column
        df_runoff_out['Precip'] = df_precip_all['Precip'][:]
        
        # Now we can use dt for unique time series analysis and convert over to the mm/day from streamflow validation in VELMA watershed comparison 
        df_focus_all = pd.concat([df_runoff_out, df_focus_all])
        df_focus_all = df_focus_all.sort_index()
        df_focus_all.info()

1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  365 non-null    object
 1   comid       365 non-null    int64
 2   C           365 non-null    float64
 3   Precip      365 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 14.3+ KB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 730 entries, 1981-01-01 00 to 1982-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  730 non-null    object
 1   comid       730 non-null    int64
 2   C           730 non-null    float64
 3   Precip      730 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 28.5+ KB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 1095 entries, 1981-01-01 00 to 1983-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  1095 non-null   object
 1   comid       1095 non-null   int64
 2   C           1095 non-null   float64
 3   Precip      1095 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 42.8+ KB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 1461 entries, 1981-01-01 00 to 1984-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  1461 non-null   object
 1   comid       1461 non-null   int64
 2   C           1461 non-null   float64
 3   Precip      1461 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 57.1+ KB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 1826 entries, 1981-01-01 00 to 1985-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  1826 non-null   object
 1   comid       1826 non-null   int64
 2   C           1826 non-null   float64
 3   Precip      1826 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 71.3+ KB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 2191 entries, 1981-01-01 00 to 1986-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  2191 non-null   object
 1   comid       2191 non-null   int64
 2   C           2191 non-null   float64
 3   Precip      2191 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 85.6+ KB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 2556 entries, 1981-01-01 00 to 1987-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  2556 non-null   object
 1   comid       2556 non-null   int64
 2   C           2556 non-null   float64
 3   Precip      2556 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 99.8+ KB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 2922 entries, 1981-01-01 00 to 1988-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  2922 non-null   object
 1   comid       2922 non-null   int64
 2   C           2922 non-null   float64
 3   Precip      2922 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 114.1+ KB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 3287 entries, 1981-01-01 00 to 1989-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  3287 non-null   object
 1   comid       3287 non-null   int64
 2   C           3287 non-null   float64
 3   Precip      3287 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 128.4+ KB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 3652 entries, 1981-01-01 00 to 1990-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  3652 non-null   object
 1   comid       3652 non-null   int64
 2   C           3652 non-null   float64
 3   Precip      3652 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 142.7+ KB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 4017 entries, 1981-01-01 00 to 1991-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  4017 non-null   object
 1   comid       4017 non-null   int64
 2   C           4017 non-null   float64
 3   Precip      4017 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 156.9+ KB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 4383 entries, 1981-01-01 00 to 1992-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  4383 non-null   object
 1   comid       4383 non-null   int64
 2   C           4383 non-null   float64
 3   Precip      4383 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 171.2+ KB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 4748 entries, 1981-01-01 00 to 1993-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  4748 non-null   object
 1   comid       4748 non-null   int64
 2   C           4748 non-null   float64
 3   Precip      4748 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 185.5+ KB
1994-01-01 00:00:00 1994-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 5113 entries, 1981-01-01 00 to 1994-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  5113 non-null   object
 1   comid       5113 non-null   int64
 2   C           5113 non-null   float64
 3   Precip      5113 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 199.7+ KB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 5478 entries, 1981-01-01 00 to 1995-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  5478 non-null   object
 1   comid       5478 non-null   int64
 2   C           5478 non-null   float64
 3   Precip      5478 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.0+ KB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 5844 entries, 1981-01-01 00 to 1996-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  5844 non-null   object
 1   comid       5844 non-null   int64
 2   C           5844 non-null   float64
 3   Precip      5844 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 228.3+ KB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 6209 entries, 1981-01-01 00 to 1997-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  6209 non-null   object
 1   comid       6209 non-null   int64
 2   C           6209 non-null   float64
 3   Precip      6209 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 242.5+ KB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 6574 entries, 1981-01-01 00 to 1998-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  6574 non-null   object
 1   comid       6574 non-null   int64
 2   C           6574 non-null   float64
 3   Precip      6574 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 256.8+ KB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 6939 entries, 1981-01-01 00 to 1999-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  6939 non-null   object
 1   comid       6939 non-null   int64
 2   C           6939 non-null   float64
 3   Precip      6939 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 271.1+ KB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 7305 entries, 1981-01-01 00 to 2000-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  7305 non-null   object
 1   comid       7305 non-null   int64
 2   C           7305 non-null   float64
 3   Precip      7305 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 285.4+ KB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 7670 entries, 1981-01-01 00 to 2001-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  7670 non-null   object
 1   comid       7670 non-null   int64
 2   C           7670 non-null   float64
 3   Precip      7670 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 299.6+ KB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 8035 entries, 1981-01-01 00 to 2002-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  8035 non-null   object
 1   comid       8035 non-null   int64
 2   C           8035 non-null   float64
 3   Precip      8035 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 313.9+ KB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 8400 entries, 1981-01-01 00 to 2003-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  8400 non-null   object
 1   comid       8400 non-null   int64
 2   C           8400 non-null   float64
 3   Precip      8400 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 328.1+ KB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 8766 entries, 1981-01-01 00 to 2004-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  8766 non-null   object
 1   comid       8766 non-null   int64
 2   C           8766 non-null   float64
 3   Precip      8766 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 342.4+ KB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 9131 entries, 1981-01-01 00 to 2005-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  9131 non-null   object
 1   comid       9131 non-null   int64
 2   C           9131 non-null   float64
 3   Precip      9131 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 356.7+ KB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 9496 entries, 1981-01-01 00 to 2006-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  9496 non-null   object
 1   comid       9496 non-null   int64
 2   C           9496 non-null   float64
 3   Precip      9496 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 370.9+ KB
2007-01-01 00:00:00 2007-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 9861 entries, 1981-01-01 00 to 2007-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  9861 non-null   object
 1   comid       9861 non-null   int64
 2   C           9861 non-null   float64
 3   Precip      9861 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 385.2+ KB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 10227 entries, 1981-01-01 00 to 2008-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  10227 non-null  object
 1   comid       10227 non-null  int64
 2   C           10227 non-null  float64
 3   Precip      10227 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 399.5+ KB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 10592 entries, 1981-01-01 00 to 2009-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  10592 non-null  object
 1   comid       10592 non-null  int64
 2   C           10592 non-null  float64
 3   Precip      10592 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 413.8+ KB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 10957 entries, 1981-01-01 00 to 2010-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  10957 non-null  object
 1   comid       10957 non-null  int64
 2   C           10957 non-null  float64
 3   Precip      10957 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 428.0+ KB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 11322 entries, 1981-01-01 00 to 2011-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  11322 non-null  object
 1   comid       11322 non-null  int64
 2   C           11322 non-null  float64
 3   Precip      11322 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 442.3+ KB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 11688 entries, 1981-01-01 00 to 2012-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  11688 non-null  object
 1   comid       11688 non-null  int64
 2   C           11688 non-null  float64
 3   Precip      11688 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 456.6+ KB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 12053 entries, 1981-01-01 00 to 2013-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12053 non-null  object
 1   comid       12053 non-null  int64
 2   C           12053 non-null  float64
 3   Precip      12053 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 470.8+ KB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 12418 entries, 1981-01-01 00 to 2014-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12418 non-null  object
 1   comid       12418 non-null  int64
 2   C           12418 non-null  float64
 3   Precip      12418 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 485.1+ KB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 12783 entries, 1981-01-01 00 to 2015-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12783 non-null  object
 1   comid       12783 non-null  int64
 2   C           12783 non-null  float64
 3   Precip      12783 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 499.3+ KB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 13149 entries, 1981-01-01 00 to 2016-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13149 non-null  object
 1   comid       13149 non-null  int64
 2   C           13149 non-null  float64
 3   Precip      13149 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 513.6+ KB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 13514 entries, 1981-01-01 00 to 2017-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13514 non-null  object
 1   comid       13514 non-null  int64
 2   C           13514 non-null  float64
 3   Precip      13514 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 527.9+ KB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": "yyyy-MM-dd HH"}, "geometry": {"description": null, "comID": 190641, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "F2", "temporalResolution": "daily", "timeLocalized": false, "units": "metric", "outputFormat": "json", "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 13879 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB

In [137]:
df_focus_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13879 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB

In [138]:
df_focus_all.comid.unique()

array([8629331], dtype=int64)

In [96]:
df_focus_all = df_focus_all.sort_index()

In [139]:
df_focus_all.head() #Temperature retrieval appears to have issue obtaining from NLDAS server not HMS during current test. 
#Above represents the data acquistion for a single comid (where the loop hadn't fully been implemented --> below attempts to resolve for full acquistion)

              Sfc_Runoff    comid      C  Precip
1981-01-01 00    0.00030  8629331   1.25    0.39
1981-01-02 00    0.00000  8629331  -1.35    0.06
1981-01-03 00    0.00000  8629331  -2.10    0.00
1981-01-04 00    0.00000  8629331  -6.00    0.00
1981-01-05 00    0.00000  8629331 -11.84    0.00

In [152]:
df_focus_all = pd.DataFrame()
#correct accessibility of location list 
for comid in comid_list[0]:
    for year in np_year:
        start_year = int(year)
        start_date = str('1/1/') +str(start_year)
        end_date = str('12/31/') +str(start_year)
        #print(start_date, end_date)
        year_parse = pd.date_range(start=start_date, end=end_date, freq='D')
        #year_parse chunking to remove possible bottlenecks 
        print(year_parse.min(), year_parse.max()) #now in date time format for call in on api 
        #Now acquiring the surface runoff by comid into one data frame from nldas 
        data_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "01/01/2015 00:00:00",\n    "endDate": "12/31/2015 00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": null,\n    "geometryMetadata": {\n      "gaugestation": null\n    },\n    "timezone": null\n  },\n  "dataValueFormat": "F5",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_input  =json.loads(data_test)
        data_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent change in scope
        #Updating comid in in json request
        #ata_input['geometry']['comID'] = str(comid)
        data_input['geometry'].update(comID = str(comid)) #correct for comid update
        #data_temp_input['geometry']['comID'] = str(comid) #correct for comid update
        #updated above comid acquistion rather than latitude and long by cell
        #print(data_input)
        data_new = json.dumps(data_input)
        data_new
 
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }

        data = data_new
        #Acquiring Surface Runoff Per COMID 
        response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/surfacerunoff', headers=headers, data=data)
        #print(response.json())
        output3= response.json()
        #dataframe used to collect all data for the year and store annually
        df_runoff_out = pd.DataFrame.from_dict(output3['data'], orient='index',columns=['Sfc_Runoff'] )
        df_runoff_out['comid'] = comid
        
        #Temperature Conversion 
        data_temp_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": 35.925673,\n      "longitude": -105.355723\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        #data_temp_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": null,\n      "longitude": null\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_temp_input = json.loads(data_temp_test)
        data_temp_input['geometry']['point'].update({'latitude': str(output3['metadata']['nldas_lat']), 'longitude': str(output3['metadata']['nldas_lon'])}) #correct for point update
        #Old Below- revised above 
        data_temp_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent date change in scope
        #data_temp_input['geometry']['point'].update({'latitude': str(df_2['lat'].iloc[(int(cell))]), 'longitude': str(df_2['long'].iloc[(int(cell))])}) #correct for point update
        #data_temp_input['geometry']['comID'] = str(comid_list[0][i])
        data_temp_new = json.dumps(data_temp_input)
        print(data_temp_new) 
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }
        data = data_temp_new
        #qedcloud.net/hms
        response = requests.post('https://qedcloud.net/hms/rest/api/hydrology/temperature', headers=headers, data=data)

        #response = requests.post('https://qed.epa.gov/hms/rest/api/hydrology/temperature', headers=headers, data=data)
        output1 = response.json()
        temp_all = output1['data']
        #for daymet data without Avg Temp daily column needs to be calculated in third column for code to work 
        #df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp'] )
        #df_temp_all['Avg Temp'] = np.mean(df_temp_all.values, axis=1)
        #for nldas
        df_temp_all = pd.DataFrame.from_dict(temp_all, dtype=float, orient='index', columns=['Max Temp', 'Min Temp', 'Avg Temp'] )
        df_temp_all['C'] = df_temp_all['Avg Temp'] - 273.15
        df_temp_all['date']= pd.to_datetime(df_temp_all.index[:])
        
        df_temp_all.info()
        #Joining avg temp in C to runoff
        
        df_runoff_out['C'] = df_temp_all['C'][:]
        
        #Precipitation API Acquisition
        data_precip_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": null\n  },\n  "geometry": {\n    "description": null,\n    "comID": 0,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": 35.925673,\n      "longitude": -105.355723\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "f2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": null,\n  "outputFormat": null,\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        #data_precip_test = '{\n  "source": "nldas",\n  "dateTimeSpan": {\n    "startDate": "1998-01-01T00:00:00",\n    "endDate": "1998-12-31T00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": {\n      "latitude": null,\n      "longitude": null\n    },\n    "geometryMetadata": null,\n    "timezone": null\n  },\n  "dataValueFormat": "F2",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        #data_test = '{\n  "source": "nwm",\n  "dateTimeSpan": {\n    "startDate": "01/01/2015 00:00:00",\n    "endDate": "12/31/2015 00:00:00",\n    "dateTimeFormat": "yyyy-MM-dd HH"\n  },\n  "geometry": {\n    "description": null,\n    "comID": 190641,\n    "hucID": null,\n    "stationID": null,\n    "point": null,\n    "geometryMetadata": {\n      "gaugestation": null\n    },\n    "timezone": null\n  },\n  "dataValueFormat": "E3",\n  "temporalResolution": "daily",\n  "timeLocalized": false,\n  "units": "metric",\n  "outputFormat": "json",\n  "baseURL": null,\n  "inputTimeSeries": null\n}'
        data_precip_input  =json.loads(data_precip_test)
        data_precip_input['dateTimeSpan'].update(startDate= str(year_parse.min()), endDate= str(year_parse.max()))#permanent date change in scope
        #New from comid extrapolation of nldas point
        data_precip_input['geometry']['point'].update({'latitude': str(output3['metadata']['nldas_lat']), 'longitude': str(output3['metadata']['nldas_lon'])}) #correct for point update
        #data_precip_input['geometry']['point'].update({'latitude': str(df_2['lat'].iloc[(int(cell))]), 'longitude': str(df_2['long'].iloc[(int(cell))])}) #correct for point update
        #data_precip_input['geometry']['comID'] = str(comid_list[0][i])
        #print(data_input)
        data_precip_new = json.dumps(data_precip_input)
        print(data_precip_new)
        headers = {
        'accept': '*/*',
        'Content-Type': 'application/json-patch+json',
        }

        data = data_precip_new
        response = requests.post('https://qedcloud.net/hms/rest/api/meteorology/precipitation', headers=headers, data=data)

        #response = requests.post('https://qed.epa.gov/hms/rest/api/meteorology/precipitation', headers=headers, data=data)
        output2 = response.json()
        precip_all = output2['data']
        df_precip_all = pd.DataFrame.from_dict(precip_all, dtype=float, orient='index', columns=['Precip'])
        # Completes Precipitation  
        #Adding the precip to the runoff out dataframe for year as a column
        df_runoff_out['Precip'] = df_precip_all['Precip'][:]
        
        # Now we can use dt for unique time series analysis and convert over to the mm/day from streamflow validation in VELMA watershed comparison 
        df_focus_all = pd.concat([df_runoff_out, df_focus_all])
        df_focus_all = df_focus_all.sort_index()
        df_focus_all.info()

1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  365 non-null    object
 1   comid       365 non-null    int64
 2   C           365 non-null    float64
 3   Precip      365 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 14.3+ KB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 730 entries, 1981-01-01 00 to 1982-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  730 non-null    object
 1   comid       730 non-null    int64
 2   C           730 non-null    float64
 3   Precip      730 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 28.5+ KB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 1095 entries, 1981-01-01 00 to 1983-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  1095 non-null   object
 1   comid       1095 non-null   int64
 2   C           1095 non-null   float64
 3   Precip      1095 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 42.8+ KB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 1461 entries, 1981-01-01 00 to 1984-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  1461 non-null   object
 1   comid       1461 non-null   int64
 2   C           1461 non-null   float64
 3   Precip      1461 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 57.1+ KB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 1826 entries, 1981-01-01 00 to 1985-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  1826 non-null   object
 1   comid       1826 non-null   int64
 2   C           1826 non-null   float64
 3   Precip      1826 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 71.3+ KB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 2191 entries, 1981-01-01 00 to 1986-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  2191 non-null   object
 1   comid       2191 non-null   int64
 2   C           2191 non-null   float64
 3   Precip      2191 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 85.6+ KB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 2556 entries, 1981-01-01 00 to 1987-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  2556 non-null   object
 1   comid       2556 non-null   int64
 2   C           2556 non-null   float64
 3   Precip      2556 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 99.8+ KB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 2922 entries, 1981-01-01 00 to 1988-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  2922 non-null   object
 1   comid       2922 non-null   int64
 2   C           2922 non-null   float64
 3   Precip      2922 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 114.1+ KB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 3287 entries, 1981-01-01 00 to 1989-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  3287 non-null   object
 1   comid       3287 non-null   int64
 2   C           3287 non-null   float64
 3   Precip      3287 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 128.4+ KB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 3652 entries, 1981-01-01 00 to 1990-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  3652 non-null   object
 1   comid       3652 non-null   int64
 2   C           3652 non-null   float64
 3   Precip      3652 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 142.7+ KB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 4017 entries, 1981-01-01 00 to 1991-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  4017 non-null   object
 1   comid       4017 non-null   int64
 2   C           4017 non-null   float64
 3   Precip      4017 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 156.9+ KB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 4383 entries, 1981-01-01 00 to 1992-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  4383 non-null   object
 1   comid       4383 non-null   int64
 2   C           4383 non-null   float64
 3   Precip      4383 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 171.2+ KB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 4748 entries, 1981-01-01 00 to 1993-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  4748 non-null   object
 1   comid       4748 non-null   int64
 2   C           4748 non-null   float64
 3   Precip      4748 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 185.5+ KB
1994-01-01 00:00:00 1994-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 5113 entries, 1981-01-01 00 to 1994-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  5113 non-null   object
 1   comid       5113 non-null   int64
 2   C           5113 non-null   float64
 3   Precip      5113 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 199.7+ KB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 5478 entries, 1981-01-01 00 to 1995-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  5478 non-null   object
 1   comid       5478 non-null   int64
 2   C           5478 non-null   float64
 3   Precip      5478 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.0+ KB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 5844 entries, 1981-01-01 00 to 1996-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  5844 non-null   object
 1   comid       5844 non-null   int64
 2   C           5844 non-null   float64
 3   Precip      5844 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 228.3+ KB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 6209 entries, 1981-01-01 00 to 1997-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  6209 non-null   object
 1   comid       6209 non-null   int64
 2   C           6209 non-null   float64
 3   Precip      6209 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 242.5+ KB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 6574 entries, 1981-01-01 00 to 1998-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  6574 non-null   object
 1   comid       6574 non-null   int64
 2   C           6574 non-null   float64
 3   Precip      6574 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 256.8+ KB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 6939 entries, 1981-01-01 00 to 1999-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  6939 non-null   object
 1   comid       6939 non-null   int64
 2   C           6939 non-null   float64
 3   Precip      6939 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 271.1+ KB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 7305 entries, 1981-01-01 00 to 2000-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  7305 non-null   object
 1   comid       7305 non-null   int64
 2   C           7305 non-null   float64
 3   Precip      7305 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 285.4+ KB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 7670 entries, 1981-01-01 00 to 2001-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  7670 non-null   object
 1   comid       7670 non-null   int64
 2   C           7670 non-null   float64
 3   Precip      7670 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 299.6+ KB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 8035 entries, 1981-01-01 00 to 2002-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  8035 non-null   object
 1   comid       8035 non-null   int64
 2   C           8035 non-null   float64
 3   Precip      8035 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 313.9+ KB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 8400 entries, 1981-01-01 00 to 2003-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  8400 non-null   object
 1   comid       8400 non-null   int64
 2   C           8400 non-null   float64
 3   Precip      8400 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 328.1+ KB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 8766 entries, 1981-01-01 00 to 2004-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  8766 non-null   object
 1   comid       8766 non-null   int64
 2   C           8766 non-null   float64
 3   Precip      8766 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 342.4+ KB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 9131 entries, 1981-01-01 00 to 2005-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  9131 non-null   object
 1   comid       9131 non-null   int64
 2   C           9131 non-null   float64
 3   Precip      9131 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 356.7+ KB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 9496 entries, 1981-01-01 00 to 2006-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  9496 non-null   object
 1   comid       9496 non-null   int64
 2   C           9496 non-null   float64
 3   Precip      9496 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 370.9+ KB
2007-01-01 00:00:00 2007-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 9861 entries, 1981-01-01 00 to 2007-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  9861 non-null   object
 1   comid       9861 non-null   int64
 2   C           9861 non-null   float64
 3   Precip      9861 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 385.2+ KB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 10227 entries, 1981-01-01 00 to 2008-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  10227 non-null  object
 1   comid       10227 non-null  int64
 2   C           10227 non-null  float64
 3   Precip      10227 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 399.5+ KB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 10592 entries, 1981-01-01 00 to 2009-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  10592 non-null  object
 1   comid       10592 non-null  int64
 2   C           10592 non-null  float64
 3   Precip      10592 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 413.8+ KB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 10957 entries, 1981-01-01 00 to 2010-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  10957 non-null  object
 1   comid       10957 non-null  int64
 2   C           10957 non-null  float64
 3   Precip      10957 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 428.0+ KB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 11322 entries, 1981-01-01 00 to 2011-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  11322 non-null  object
 1   comid       11322 non-null  int64
 2   C           11322 non-null  float64
 3   Precip      11322 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 442.3+ KB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 11688 entries, 1981-01-01 00 to 2012-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  11688 non-null  object
 1   comid       11688 non-null  int64
 2   C           11688 non-null  float64
 3   Precip      11688 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 456.6+ KB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 12053 entries, 1981-01-01 00 to 2013-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12053 non-null  object
 1   comid       12053 non-null  int64
 2   C           12053 non-null  float64
 3   Precip      12053 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 470.8+ KB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 12418 entries, 1981-01-01 00 to 2014-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12418 non-null  object
 1   comid       12418 non-null  int64
 2   C           12418 non-null  float64
 3   Precip      12418 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 485.1+ KB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 12783 entries, 1981-01-01 00 to 2015-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12783 non-null  object
 1   comid       12783 non-null  int64
 2   C           12783 non-null  float64
 3   Precip      12783 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 499.3+ KB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 13149 entries, 1981-01-01 00 to 2016-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13149 non-null  object
 1   comid       13149 non-null  int64
 2   C           13149 non-null  float64
 3   Precip      13149 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 513.6+ KB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 13514 entries, 1981-01-01 00 to 2017-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13514 non-null  object
 1   comid       13514 non-null  int64
 2   C           13514 non-null  float64
 3   Precip      13514 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 527.9+ KB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 13879 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 14244 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  14244 non-null  object
 1   comid       14244 non-null  int64
 2   C           14244 non-null  float64
 3   Precip      14244 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 556.4+ KB
1982-01-01 00:00:00 1982-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 14609 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  14609 non-null  object
 1   comid       14609 non-null  int64
 2   C           14609 non-null  float64
 3   Precip      14609 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 570.7+ KB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 14974 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  14974 non-null  object
 1   comid       14974 non-null  int64
 2   C           14974 non-null  float64
 3   Precip      14974 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 584.9+ KB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 15340 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  15340 non-null  object
 1   comid       15340 non-null  int64
 2   C           15340 non-null  float64
 3   Precip      15340 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 599.2+ KB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 15705 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  15705 non-null  object
 1   comid       15705 non-null  int64
 2   C           15705 non-null  float64
 3   Precip      15705 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 613.5+ KB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 16070 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  16070 non-null  object
 1   comid       16070 non-null  int64
 2   C           16070 non-null  float64
 3   Precip      16070 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 627.7+ KB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 16435 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  16435 non-null  object
 1   comid       16435 non-null  int64
 2   C           16435 non-null  float64
 3   Precip      16435 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 642.0+ KB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 16801 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  16801 non-null  object
 1   comid       16801 non-null  int64
 2   C           16801 non-null  float64
 3   Precip      16801 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 656.3+ KB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 17166 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  17166 non-null  object
 1   comid       17166 non-null  int64
 2   C           17166 non-null  float64
 3   Precip      17166 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 670.5+ KB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 17531 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  17531 non-null  object
 1   comid       17531 non-null  int64
 2   C           17531 non-null  float64
 3   Precip      17531 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 684.8+ KB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 17896 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  17896 non-null  object
 1   comid       17896 non-null  int64
 2   C           17896 non-null  float64
 3   Precip      17896 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 699.1+ KB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 18262 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  18262 non-null  object
 1   comid       18262 non-null  int64
 2   C           18262 non-null  float64
 3   Precip      18262 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 713.4+ KB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 18627 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  18627 non-null  object
 1   comid       18627 non-null  int64
 2   C           18627 non-null  float64
 3   Precip      18627 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 727.6+ KB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 18992 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  18992 non-null  object
 1   comid       18992 non-null  int64
 2   C           18992 non-null  float64
 3   Precip      18992 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 741.9+ KB
1995-01-01 00:00:00 1995-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 19357 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  19357 non-null  object
 1   comid       19357 non-null  int64
 2   C           19357 non-null  float64
 3   Precip      19357 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 756.1+ KB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 19723 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  19723 non-null  object
 1   comid       19723 non-null  int64
 2   C           19723 non-null  float64
 3   Precip      19723 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 770.4+ KB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 20088 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  20088 non-null  object
 1   comid       20088 non-null  int64
 2   C           20088 non-null  float64
 3   Precip      20088 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 784.7+ KB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 20453 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  20453 non-null  object
 1   comid       20453 non-null  int64
 2   C           20453 non-null  float64
 3   Precip      20453 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 798.9+ KB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 20818 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  20818 non-null  object
 1   comid       20818 non-null  int64
 2   C           20818 non-null  float64
 3   Precip      20818 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 813.2+ KB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 21184 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  21184 non-null  object
 1   comid       21184 non-null  int64
 2   C           21184 non-null  float64
 3   Precip      21184 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 827.5+ KB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 21549 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  21549 non-null  object
 1   comid       21549 non-null  int64
 2   C           21549 non-null  float64
 3   Precip      21549 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 841.8+ KB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 21914 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  21914 non-null  object
 1   comid       21914 non-null  int64
 2   C           21914 non-null  float64
 3   Precip      21914 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 856.0+ KB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 22279 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  22279 non-null  object
 1   comid       22279 non-null  int64
 2   C           22279 non-null  float64
 3   Precip      22279 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 870.3+ KB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 22645 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  22645 non-null  object
 1   comid       22645 non-null  int64
 2   C           22645 non-null  float64
 3   Precip      22645 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 884.6+ KB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 23010 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  23010 non-null  object
 1   comid       23010 non-null  int64
 2   C           23010 non-null  float64
 3   Precip      23010 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 898.8+ KB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 23375 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  23375 non-null  object
 1   comid       23375 non-null  int64
 2   C           23375 non-null  float64
 3   Precip      23375 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 913.1+ KB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 23740 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  23740 non-null  object
 1   comid       23740 non-null  int64
 2   C           23740 non-null  float64
 3   Precip      23740 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 927.3+ KB
2008-01-01 00:00:00 2008-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 24106 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  24106 non-null  object
 1   comid       24106 non-null  int64
 2   C           24106 non-null  float64
 3   Precip      24106 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 941.6+ KB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 24471 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  24471 non-null  object
 1   comid       24471 non-null  int64
 2   C           24471 non-null  float64
 3   Precip      24471 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 955.9+ KB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 24836 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  24836 non-null  object
 1   comid       24836 non-null  int64
 2   C           24836 non-null  float64
 3   Precip      24836 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 970.2+ KB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 25201 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  25201 non-null  object
 1   comid       25201 non-null  int64
 2   C           25201 non-null  float64
 3   Precip      25201 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 984.4+ KB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 25567 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  25567 non-null  object
 1   comid       25567 non-null  int64
 2   C           25567 non-null  float64
 3   Precip      25567 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 998.7+ KB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 25932 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  25932 non-null  object
 1   comid       25932 non-null  int64
 2   C           25932 non-null  float64
 3   Precip      25932 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1013.0+ KB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 26297 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  26297 non-null  object
 1   comid       26297 non-null  int64
 2   C           26297 non-null  float64
 3   Precip      26297 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.0+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 26662 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  26662 non-null  object
 1   comid       26662 non-null  int64
 2   C           26662 non-null  float64
 3   Precip      26662 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.0+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 27028 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  27028 non-null  object
 1   comid       27028 non-null  int64
 2   C           27028 non-null  float64
 3   Precip      27028 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.0+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 27393 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  27393 non-null  object
 1   comid       27393 non-null  int64
 2   C           27393 non-null  float64
 3   Precip      27393 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.0+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 27758 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  27758 non-null  object
 1   comid       27758 non-null  int64
 2   C           27758 non-null  float64
 3   Precip      27758 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 28123 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  28123 non-null  object
 1   comid       28123 non-null  int64
 2   C           28123 non-null  float64
 3   Precip      28123 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 28488 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  28488 non-null  object
 1   comid       28488 non-null  int64
 2   C           28488 non-null  float64
 3   Precip      28488 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 28853 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  28853 non-null  object
 1   comid       28853 non-null  int64
 2   C           28853 non-null  float64
 3   Precip      28853 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 29219 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  29219 non-null  object
 1   comid       29219 non-null  int64
 2   C           29219 non-null  float64
 3   Precip      29219 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 29584 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  29584 non-null  object
 1   comid       29584 non-null  int64
 2   C           29584 non-null  float64
 3   Precip      29584 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 29949 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  29949 non-null  object
 1   comid       29949 non-null  int64
 2   C           29949 non-null  float64
 3   Precip      29949 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 30314 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  30314 non-null  object
 1   comid       30314 non-null  int64
 2   C           30314 non-null  float64
 3   Precip      30314 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 30680 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  30680 non-null  object
 1   comid       30680 non-null  int64
 2   C           30680 non-null  float64
 3   Precip      30680 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 31045 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  31045 non-null  object
 1   comid       31045 non-null  int64
 2   C           31045 non-null  float64
 3   Precip      31045 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 31410 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  31410 non-null  object
 1   comid       31410 non-null  int64
 2   C           31410 non-null  float64
 3   Precip      31410 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 31775 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  31775 non-null  object
 1   comid       31775 non-null  int64
 2   C           31775 non-null  float64
 3   Precip      31775 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 32141 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  32141 non-null  object
 1   comid       32141 non-null  int64
 2   C           32141 non-null  float64
 3   Precip      32141 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 32506 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  32506 non-null  object
 1   comid       32506 non-null  int64
 2   C           32506 non-null  float64
 3   Precip      32506 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 32871 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  32871 non-null  object
 1   comid       32871 non-null  int64
 2   C           32871 non-null  float64
 3   Precip      32871 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 33236 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  33236 non-null  object
 1   comid       33236 non-null  int64
 2   C           33236 non-null  float64
 3   Precip      33236 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 33602 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  33602 non-null  object
 1   comid       33602 non-null  int64
 2   C           33602 non-null  float64
 3   Precip      33602 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 33967 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  33967 non-null  object
 1   comid       33967 non-null  int64
 2   C           33967 non-null  float64
 3   Precip      33967 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 34332 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  34332 non-null  object
 1   comid       34332 non-null  int64
 2   C           34332 non-null  float64
 3   Precip      34332 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 34697 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  34697 non-null  object
 1   comid       34697 non-null  int64
 2   C           34697 non-null  float64
 3   Precip      34697 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 35063 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  35063 non-null  object
 1   comid       35063 non-null  int64
 2   C           35063 non-null  float64
 3   Precip      35063 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.3+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 35428 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  35428 non-null  object
 1   comid       35428 non-null  int64
 2   C           35428 non-null  float64
 3   Precip      35428 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 35793 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  35793 non-null  object
 1   comid       35793 non-null  int64
 2   C           35793 non-null  float64
 3   Precip      35793 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 36158 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  36158 non-null  object
 1   comid       36158 non-null  int64
 2   C           36158 non-null  float64
 3   Precip      36158 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 36524 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  36524 non-null  object
 1   comid       36524 non-null  int64
 2   C           36524 non-null  float64
 3   Precip      36524 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 36889 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  36889 non-null  object
 1   comid       36889 non-null  int64
 2   C           36889 non-null  float64
 3   Precip      36889 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 37254 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  37254 non-null  object
 1   comid       37254 non-null  int64
 2   C           37254 non-null  float64
 3   Precip      37254 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 37619 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  37619 non-null  object
 1   comid       37619 non-null  int64
 2   C           37619 non-null  float64
 3   Precip      37619 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 37985 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  37985 non-null  object
 1   comid       37985 non-null  int64
 2   C           37985 non-null  float64
 3   Precip      37985 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 38350 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  38350 non-null  object
 1   comid       38350 non-null  int64
 2   C           38350 non-null  float64
 3   Precip      38350 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 38715 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  38715 non-null  object
 1   comid       38715 non-null  int64
 2   C           38715 non-null  float64
 3   Precip      38715 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 39080 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  39080 non-null  object
 1   comid       39080 non-null  int64
 2   C           39080 non-null  float64
 3   Precip      39080 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 39446 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  39446 non-null  object
 1   comid       39446 non-null  int64
 2   C           39446 non-null  float64
 3   Precip      39446 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 39811 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  39811 non-null  object
 1   comid       39811 non-null  int64
 2   C           39811 non-null  float64
 3   Precip      39811 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 40176 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  40176 non-null  object
 1   comid       40176 non-null  int64
 2   C           40176 non-null  float64
 3   Precip      40176 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 40541 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  40541 non-null  object
 1   comid       40541 non-null  int64
 2   C           40541 non-null  float64
 3   Precip      40541 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.5+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 40907 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  40907 non-null  object
 1   comid       40907 non-null  int64
 2   C           40907 non-null  float64
 3   Precip      40907 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 41272 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  41272 non-null  object
 1   comid       41272 non-null  int64
 2   C           41272 non-null  float64
 3   Precip      41272 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 41637 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  41637 non-null  object
 1   comid       41637 non-null  int64
 2   C           41637 non-null  float64
 3   Precip      41637 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 42002 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  42002 non-null  object
 1   comid       42002 non-null  int64
 2   C           42002 non-null  float64
 3   Precip      42002 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 42367 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  42367 non-null  object
 1   comid       42367 non-null  int64
 2   C           42367 non-null  float64
 3   Precip      42367 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 42732 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  42732 non-null  object
 1   comid       42732 non-null  int64
 2   C           42732 non-null  float64
 3   Precip      42732 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 43098 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  43098 non-null  object
 1   comid       43098 non-null  int64
 2   C           43098 non-null  float64
 3   Precip      43098 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 43463 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  43463 non-null  object
 1   comid       43463 non-null  int64
 2   C           43463 non-null  float64
 3   Precip      43463 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 43828 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  43828 non-null  object
 1   comid       43828 non-null  int64
 2   C           43828 non-null  float64
 3   Precip      43828 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 44193 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  44193 non-null  object
 1   comid       44193 non-null  int64
 2   C           44193 non-null  float64
 3   Precip      44193 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 44559 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  44559 non-null  object
 1   comid       44559 non-null  int64
 2   C           44559 non-null  float64
 3   Precip      44559 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 44924 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  44924 non-null  object
 1   comid       44924 non-null  int64
 2   C           44924 non-null  float64
 3   Precip      44924 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 45289 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  45289 non-null  object
 1   comid       45289 non-null  int64
 2   C           45289 non-null  float64
 3   Precip      45289 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 45654 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  45654 non-null  object
 1   comid       45654 non-null  int64
 2   C           45654 non-null  float64
 3   Precip      45654 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.7+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 46020 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  46020 non-null  object
 1   comid       46020 non-null  int64
 2   C           46020 non-null  float64
 3   Precip      46020 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 46385 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  46385 non-null  object
 1   comid       46385 non-null  int64
 2   C           46385 non-null  float64
 3   Precip      46385 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 46750 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  46750 non-null  object
 1   comid       46750 non-null  int64
 2   C           46750 non-null  float64
 3   Precip      46750 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 47115 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  47115 non-null  object
 1   comid       47115 non-null  int64
 2   C           47115 non-null  float64
 3   Precip      47115 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 47481 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  47481 non-null  object
 1   comid       47481 non-null  int64
 2   C           47481 non-null  float64
 3   Precip      47481 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 47846 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  47846 non-null  object
 1   comid       47846 non-null  int64
 2   C           47846 non-null  float64
 3   Precip      47846 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 48211 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  48211 non-null  object
 1   comid       48211 non-null  int64
 2   C           48211 non-null  float64
 3   Precip      48211 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 48576 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  48576 non-null  object
 1   comid       48576 non-null  int64
 2   C           48576 non-null  float64
 3   Precip      48576 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 48942 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  48942 non-null  object
 1   comid       48942 non-null  int64
 2   C           48942 non-null  float64
 3   Precip      48942 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 49307 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  49307 non-null  object
 1   comid       49307 non-null  int64
 2   C           49307 non-null  float64
 3   Precip      49307 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 49672 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  49672 non-null  object
 1   comid       49672 non-null  int64
 2   C           49672 non-null  float64
 3   Precip      49672 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 50037 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  50037 non-null  object
 1   comid       50037 non-null  int64
 2   C           50037 non-null  float64
 3   Precip      50037 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 50403 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  50403 non-null  object
 1   comid       50403 non-null  int64
 2   C           50403 non-null  float64
 3   Precip      50403 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 50768 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  50768 non-null  object
 1   comid       50768 non-null  int64
 2   C           50768 non-null  float64
 3   Precip      50768 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 51133 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  51133 non-null  object
 1   comid       51133 non-null  int64
 2   C           51133 non-null  float64
 3   Precip      51133 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 51498 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  51498 non-null  object
 1   comid       51498 non-null  int64
 2   C           51498 non-null  float64
 3   Precip      51498 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 51864 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  51864 non-null  object
 1   comid       51864 non-null  int64
 2   C           51864 non-null  float64
 3   Precip      51864 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 52229 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  52229 non-null  object
 1   comid       52229 non-null  int64
 2   C           52229 non-null  float64
 3   Precip      52229 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 52594 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  52594 non-null  object
 1   comid       52594 non-null  int64
 2   C           52594 non-null  float64
 3   Precip      52594 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 52959 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  52959 non-null  object
 1   comid       52959 non-null  int64
 2   C           52959 non-null  float64
 3   Precip      52959 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 53325 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  53325 non-null  object
 1   comid       53325 non-null  int64
 2   C           53325 non-null  float64
 3   Precip      53325 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 53690 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  53690 non-null  object
 1   comid       53690 non-null  int64
 2   C           53690 non-null  float64
 3   Precip      53690 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 54055 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  54055 non-null  object
 1   comid       54055 non-null  int64
 2   C           54055 non-null  float64
 3   Precip      54055 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 54420 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  54420 non-null  object
 1   comid       54420 non-null  int64
 2   C           54420 non-null  float64
 3   Precip      54420 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 54786 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  54786 non-null  object
 1   comid       54786 non-null  int64
 2   C           54786 non-null  float64
 3   Precip      54786 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 55151 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  55151 non-null  object
 1   comid       55151 non-null  int64
 2   C           55151 non-null  float64
 3   Precip      55151 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 55516 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  55516 non-null  object
 1   comid       55516 non-null  int64
 2   C           55516 non-null  float64
 3   Precip      55516 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 55881 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  55881 non-null  object
 1   comid       55881 non-null  int64
 2   C           55881 non-null  float64
 3   Precip      55881 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 56246 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  56246 non-null  object
 1   comid       56246 non-null  int64
 2   C           56246 non-null  float64
 3   Precip      56246 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.1+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 56611 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  56611 non-null  object
 1   comid       56611 non-null  int64
 2   C           56611 non-null  float64
 3   Precip      56611 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 56977 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  56977 non-null  object
 1   comid       56977 non-null  int64
 2   C           56977 non-null  float64
 3   Precip      56977 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 57342 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  57342 non-null  object
 1   comid       57342 non-null  int64
 2   C           57342 non-null  float64
 3   Precip      57342 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 57707 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  57707 non-null  object
 1   comid       57707 non-null  int64
 2   C           57707 non-null  float64
 3   Precip      57707 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 58072 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  58072 non-null  object
 1   comid       58072 non-null  int64
 2   C           58072 non-null  float64
 3   Precip      58072 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 58438 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  58438 non-null  object
 1   comid       58438 non-null  int64
 2   C           58438 non-null  float64
 3   Precip      58438 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 58803 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  58803 non-null  object
 1   comid       58803 non-null  int64
 2   C           58803 non-null  float64
 3   Precip      58803 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 59168 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  59168 non-null  object
 1   comid       59168 non-null  int64
 2   C           59168 non-null  float64
 3   Precip      59168 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 59533 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  59533 non-null  object
 1   comid       59533 non-null  int64
 2   C           59533 non-null  float64
 3   Precip      59533 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 59899 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  59899 non-null  object
 1   comid       59899 non-null  int64
 2   C           59899 non-null  float64
 3   Precip      59899 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 60264 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  60264 non-null  object
 1   comid       60264 non-null  int64
 2   C           60264 non-null  float64
 3   Precip      60264 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 60629 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  60629 non-null  object
 1   comid       60629 non-null  int64
 2   C           60629 non-null  float64
 3   Precip      60629 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 60994 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  60994 non-null  object
 1   comid       60994 non-null  int64
 2   C           60994 non-null  float64
 3   Precip      60994 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 61360 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  61360 non-null  object
 1   comid       61360 non-null  int64
 2   C           61360 non-null  float64
 3   Precip      61360 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.3+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 61725 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  61725 non-null  object
 1   comid       61725 non-null  int64
 2   C           61725 non-null  float64
 3   Precip      61725 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 62090 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  62090 non-null  object
 1   comid       62090 non-null  int64
 2   C           62090 non-null  float64
 3   Precip      62090 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 62455 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  62455 non-null  object
 1   comid       62455 non-null  int64
 2   C           62455 non-null  float64
 3   Precip      62455 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 62821 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  62821 non-null  object
 1   comid       62821 non-null  int64
 2   C           62821 non-null  float64
 3   Precip      62821 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 63186 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  63186 non-null  object
 1   comid       63186 non-null  int64
 2   C           63186 non-null  float64
 3   Precip      63186 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 63551 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  63551 non-null  object
 1   comid       63551 non-null  int64
 2   C           63551 non-null  float64
 3   Precip      63551 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 63916 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  63916 non-null  object
 1   comid       63916 non-null  int64
 2   C           63916 non-null  float64
 3   Precip      63916 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 64282 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  64282 non-null  object
 1   comid       64282 non-null  int64
 2   C           64282 non-null  float64
 3   Precip      64282 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 64647 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  64647 non-null  object
 1   comid       64647 non-null  int64
 2   C           64647 non-null  float64
 3   Precip      64647 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 65012 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  65012 non-null  object
 1   comid       65012 non-null  int64
 2   C           65012 non-null  float64
 3   Precip      65012 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 65377 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  65377 non-null  object
 1   comid       65377 non-null  int64
 2   C           65377 non-null  float64
 3   Precip      65377 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 65743 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  65743 non-null  object
 1   comid       65743 non-null  int64
 2   C           65743 non-null  float64
 3   Precip      65743 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 66108 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  66108 non-null  object
 1   comid       66108 non-null  int64
 2   C           66108 non-null  float64
 3   Precip      66108 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 66473 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  66473 non-null  object
 1   comid       66473 non-null  int64
 2   C           66473 non-null  float64
 3   Precip      66473 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 66838 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  66838 non-null  object
 1   comid       66838 non-null  int64
 2   C           66838 non-null  float64
 3   Precip      66838 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 67204 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  67204 non-null  object
 1   comid       67204 non-null  int64
 2   C           67204 non-null  float64
 3   Precip      67204 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 67569 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  67569 non-null  object
 1   comid       67569 non-null  int64
 2   C           67569 non-null  float64
 3   Precip      67569 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 67934 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  67934 non-null  object
 1   comid       67934 non-null  int64
 2   C           67934 non-null  float64
 3   Precip      67934 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 68299 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  68299 non-null  object
 1   comid       68299 non-null  int64
 2   C           68299 non-null  float64
 3   Precip      68299 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 68665 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  68665 non-null  object
 1   comid       68665 non-null  int64
 2   C           68665 non-null  float64
 3   Precip      68665 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 69030 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  69030 non-null  object
 1   comid       69030 non-null  int64
 2   C           69030 non-null  float64
 3   Precip      69030 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 69395 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  69395 non-null  object
 1   comid       69395 non-null  int64
 2   C           69395 non-null  float64
 3   Precip      69395 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.6+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 69760 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  69760 non-null  object
 1   comid       69760 non-null  int64
 2   C           69760 non-null  float64
 3   Precip      69760 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 70125 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  70125 non-null  object
 1   comid       70125 non-null  int64
 2   C           70125 non-null  float64
 3   Precip      70125 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 70490 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  70490 non-null  object
 1   comid       70490 non-null  int64
 2   C           70490 non-null  float64
 3   Precip      70490 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 70856 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  70856 non-null  object
 1   comid       70856 non-null  int64
 2   C           70856 non-null  float64
 3   Precip      70856 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 71221 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  71221 non-null  object
 1   comid       71221 non-null  int64
 2   C           71221 non-null  float64
 3   Precip      71221 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 71586 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  71586 non-null  object
 1   comid       71586 non-null  int64
 2   C           71586 non-null  float64
 3   Precip      71586 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 71951 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  71951 non-null  object
 1   comid       71951 non-null  int64
 2   C           71951 non-null  float64
 3   Precip      71951 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.7+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 72317 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  72317 non-null  object
 1   comid       72317 non-null  int64
 2   C           72317 non-null  float64
 3   Precip      72317 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 72682 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  72682 non-null  object
 1   comid       72682 non-null  int64
 2   C           72682 non-null  float64
 3   Precip      72682 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 73047 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  73047 non-null  object
 1   comid       73047 non-null  int64
 2   C           73047 non-null  float64
 3   Precip      73047 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 73412 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  73412 non-null  object
 1   comid       73412 non-null  int64
 2   C           73412 non-null  float64
 3   Precip      73412 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 73778 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  73778 non-null  object
 1   comid       73778 non-null  int64
 2   C           73778 non-null  float64
 3   Precip      73778 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 74143 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  74143 non-null  object
 1   comid       74143 non-null  int64
 2   C           74143 non-null  float64
 3   Precip      74143 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 74508 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  74508 non-null  object
 1   comid       74508 non-null  int64
 2   C           74508 non-null  float64
 3   Precip      74508 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.8+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 74873 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  74873 non-null  object
 1   comid       74873 non-null  int64
 2   C           74873 non-null  float64
 3   Precip      74873 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 75239 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  75239 non-null  object
 1   comid       75239 non-null  int64
 2   C           75239 non-null  float64
 3   Precip      75239 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 75604 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  75604 non-null  object
 1   comid       75604 non-null  int64
 2   C           75604 non-null  float64
 3   Precip      75604 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 75969 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  75969 non-null  object
 1   comid       75969 non-null  int64
 2   C           75969 non-null  float64
 3   Precip      75969 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 76334 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  76334 non-null  object
 1   comid       76334 non-null  int64
 2   C           76334 non-null  float64
 3   Precip      76334 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 76700 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  76700 non-null  object
 1   comid       76700 non-null  int64
 2   C           76700 non-null  float64
 3   Precip      76700 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 77065 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  77065 non-null  object
 1   comid       77065 non-null  int64
 2   C           77065 non-null  float64
 3   Precip      77065 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 77430 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  77430 non-null  object
 1   comid       77430 non-null  int64
 2   C           77430 non-null  float64
 3   Precip      77430 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 77795 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  77795 non-null  object
 1   comid       77795 non-null  int64
 2   C           77795 non-null  float64
 3   Precip      77795 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 78161 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  78161 non-null  object
 1   comid       78161 non-null  int64
 2   C           78161 non-null  float64
 3   Precip      78161 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 78526 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  78526 non-null  object
 1   comid       78526 non-null  int64
 2   C           78526 non-null  float64
 3   Precip      78526 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 78891 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  78891 non-null  object
 1   comid       78891 non-null  int64
 2   C           78891 non-null  float64
 3   Precip      78891 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 79256 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  79256 non-null  object
 1   comid       79256 non-null  int64
 2   C           79256 non-null  float64
 3   Precip      79256 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 79622 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  79622 non-null  object
 1   comid       79622 non-null  int64
 2   C           79622 non-null  float64
 3   Precip      79622 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.0+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 79987 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  79987 non-null  object
 1   comid       79987 non-null  int64
 2   C           79987 non-null  float64
 3   Precip      79987 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 80352 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  80352 non-null  object
 1   comid       80352 non-null  int64
 2   C           80352 non-null  float64
 3   Precip      80352 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 80717 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  80717 non-null  object
 1   comid       80717 non-null  int64
 2   C           80717 non-null  float64
 3   Precip      80717 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 81083 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  81083 non-null  object
 1   comid       81083 non-null  int64
 2   C           81083 non-null  float64
 3   Precip      81083 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 81448 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  81448 non-null  object
 1   comid       81448 non-null  int64
 2   C           81448 non-null  float64
 3   Precip      81448 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 81813 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  81813 non-null  object
 1   comid       81813 non-null  int64
 2   C           81813 non-null  float64
 3   Precip      81813 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 82178 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  82178 non-null  object
 1   comid       82178 non-null  int64
 2   C           82178 non-null  float64
 3   Precip      82178 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 82544 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  82544 non-null  object
 1   comid       82544 non-null  int64
 2   C           82544 non-null  float64
 3   Precip      82544 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 82909 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  82909 non-null  object
 1   comid       82909 non-null  int64
 2   C           82909 non-null  float64
 3   Precip      82909 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 83274 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  83274 non-null  object
 1   comid       83274 non-null  int64
 2   C           83274 non-null  float64
 3   Precip      83274 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 83639 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  83639 non-null  object
 1   comid       83639 non-null  int64
 2   C           83639 non-null  float64
 3   Precip      83639 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 84004 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  84004 non-null  object
 1   comid       84004 non-null  int64
 2   C           84004 non-null  float64
 3   Precip      84004 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 84369 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  84369 non-null  object
 1   comid       84369 non-null  int64
 2   C           84369 non-null  float64
 3   Precip      84369 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 84735 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  84735 non-null  object
 1   comid       84735 non-null  int64
 2   C           84735 non-null  float64
 3   Precip      84735 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 85100 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  85100 non-null  object
 1   comid       85100 non-null  int64
 2   C           85100 non-null  float64
 3   Precip      85100 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 85465 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  85465 non-null  object
 1   comid       85465 non-null  int64
 2   C           85465 non-null  float64
 3   Precip      85465 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 85830 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  85830 non-null  object
 1   comid       85830 non-null  int64
 2   C           85830 non-null  float64
 3   Precip      85830 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 86196 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  86196 non-null  object
 1   comid       86196 non-null  int64
 2   C           86196 non-null  float64
 3   Precip      86196 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 86561 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  86561 non-null  object
 1   comid       86561 non-null  int64
 2   C           86561 non-null  float64
 3   Precip      86561 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 86926 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  86926 non-null  object
 1   comid       86926 non-null  int64
 2   C           86926 non-null  float64
 3   Precip      86926 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 87291 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  87291 non-null  object
 1   comid       87291 non-null  int64
 2   C           87291 non-null  float64
 3   Precip      87291 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 87657 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  87657 non-null  object
 1   comid       87657 non-null  int64
 2   C           87657 non-null  float64
 3   Precip      87657 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.3+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 88022 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  88022 non-null  object
 1   comid       88022 non-null  int64
 2   C           88022 non-null  float64
 3   Precip      88022 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 88387 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  88387 non-null  object
 1   comid       88387 non-null  int64
 2   C           88387 non-null  float64
 3   Precip      88387 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 88752 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  88752 non-null  object
 1   comid       88752 non-null  int64
 2   C           88752 non-null  float64
 3   Precip      88752 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 89118 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  89118 non-null  object
 1   comid       89118 non-null  int64
 2   C           89118 non-null  float64
 3   Precip      89118 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 89483 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  89483 non-null  object
 1   comid       89483 non-null  int64
 2   C           89483 non-null  float64
 3   Precip      89483 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 89848 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  89848 non-null  object
 1   comid       89848 non-null  int64
 2   C           89848 non-null  float64
 3   Precip      89848 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 90213 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  90213 non-null  object
 1   comid       90213 non-null  int64
 2   C           90213 non-null  float64
 3   Precip      90213 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.4+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 90579 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  90579 non-null  object
 1   comid       90579 non-null  int64
 2   C           90579 non-null  float64
 3   Precip      90579 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 90944 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  90944 non-null  object
 1   comid       90944 non-null  int64
 2   C           90944 non-null  float64
 3   Precip      90944 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 91309 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  91309 non-null  object
 1   comid       91309 non-null  int64
 2   C           91309 non-null  float64
 3   Precip      91309 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 91674 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  91674 non-null  object
 1   comid       91674 non-null  int64
 2   C           91674 non-null  float64
 3   Precip      91674 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 92040 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  92040 non-null  object
 1   comid       92040 non-null  int64
 2   C           92040 non-null  float64
 3   Precip      92040 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 92405 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  92405 non-null  object
 1   comid       92405 non-null  int64
 2   C           92405 non-null  float64
 3   Precip      92405 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 92770 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  92770 non-null  object
 1   comid       92770 non-null  int64
 2   C           92770 non-null  float64
 3   Precip      92770 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 93135 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  93135 non-null  object
 1   comid       93135 non-null  int64
 2   C           93135 non-null  float64
 3   Precip      93135 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 93501 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  93501 non-null  object
 1   comid       93501 non-null  int64
 2   C           93501 non-null  float64
 3   Precip      93501 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 93866 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  93866 non-null  object
 1   comid       93866 non-null  int64
 2   C           93866 non-null  float64
 3   Precip      93866 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 94231 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  94231 non-null  object
 1   comid       94231 non-null  int64
 2   C           94231 non-null  float64
 3   Precip      94231 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 94596 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  94596 non-null  object
 1   comid       94596 non-null  int64
 2   C           94596 non-null  float64
 3   Precip      94596 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 94962 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  94962 non-null  object
 1   comid       94962 non-null  int64
 2   C           94962 non-null  float64
 3   Precip      94962 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 95327 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  95327 non-null  object
 1   comid       95327 non-null  int64
 2   C           95327 non-null  float64
 3   Precip      95327 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.6+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 95692 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  95692 non-null  object
 1   comid       95692 non-null  int64
 2   C           95692 non-null  float64
 3   Precip      95692 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 96057 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  96057 non-null  object
 1   comid       96057 non-null  int64
 2   C           96057 non-null  float64
 3   Precip      96057 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 96423 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  96423 non-null  object
 1   comid       96423 non-null  int64
 2   C           96423 non-null  float64
 3   Precip      96423 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 96788 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  96788 non-null  object
 1   comid       96788 non-null  int64
 2   C           96788 non-null  float64
 3   Precip      96788 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 97153 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  97153 non-null  object
 1   comid       97153 non-null  int64
 2   C           97153 non-null  float64
 3   Precip      97153 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 97518 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  97518 non-null  object
 1   comid       97518 non-null  int64
 2   C           97518 non-null  float64
 3   Precip      97518 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 97883 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  97883 non-null  object
 1   comid       97883 non-null  int64
 2   C           97883 non-null  float64
 3   Precip      97883 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 98248 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  98248 non-null  object
 1   comid       98248 non-null  int64
 2   C           98248 non-null  float64
 3   Precip      98248 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 98614 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  98614 non-null  object
 1   comid       98614 non-null  int64
 2   C           98614 non-null  float64
 3   Precip      98614 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 98979 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  98979 non-null  object
 1   comid       98979 non-null  int64
 2   C           98979 non-null  float64
 3   Precip      98979 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 99344 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  99344 non-null  object
 1   comid       99344 non-null  int64
 2   C           99344 non-null  float64
 3   Precip      99344 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 99709 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  99709 non-null  object
 1   comid       99709 non-null  int64
 2   C           99709 non-null  float64
 3   Precip      99709 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 100075 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  100075 non-null  object
 1   comid       100075 non-null  int64
 2   C           100075 non-null  float64
 3   Precip      100075 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 100440 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  100440 non-null  object
 1   comid       100440 non-null  int64
 2   C           100440 non-null  float64
 3   Precip      100440 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 100805 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  100805 non-null  object
 1   comid       100805 non-null  int64
 2   C           100805 non-null  float64
 3   Precip      100805 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.8+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 101170 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  101170 non-null  object
 1   comid       101170 non-null  int64
 2   C           101170 non-null  float64
 3   Precip      101170 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 101536 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  101536 non-null  object
 1   comid       101536 non-null  int64
 2   C           101536 non-null  float64
 3   Precip      101536 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 101901 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  101901 non-null  object
 1   comid       101901 non-null  int64
 2   C           101901 non-null  float64
 3   Precip      101901 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 102266 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  102266 non-null  object
 1   comid       102266 non-null  int64
 2   C           102266 non-null  float64
 3   Precip      102266 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 102631 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  102631 non-null  object
 1   comid       102631 non-null  int64
 2   C           102631 non-null  float64
 3   Precip      102631 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 102997 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  102997 non-null  object
 1   comid       102997 non-null  int64
 2   C           102997 non-null  float64
 3   Precip      102997 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 103362 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  103362 non-null  object
 1   comid       103362 non-null  int64
 2   C           103362 non-null  float64
 3   Precip      103362 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.9+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 103727 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  103727 non-null  object
 1   comid       103727 non-null  int64
 2   C           103727 non-null  float64
 3   Precip      103727 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 104092 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  104092 non-null  object
 1   comid       104092 non-null  int64
 2   C           104092 non-null  float64
 3   Precip      104092 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 104458 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  104458 non-null  object
 1   comid       104458 non-null  int64
 2   C           104458 non-null  float64
 3   Precip      104458 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 104823 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  104823 non-null  object
 1   comid       104823 non-null  int64
 2   C           104823 non-null  float64
 3   Precip      104823 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 105188 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  105188 non-null  object
 1   comid       105188 non-null  int64
 2   C           105188 non-null  float64
 3   Precip      105188 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 105553 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  105553 non-null  object
 1   comid       105553 non-null  int64
 2   C           105553 non-null  float64
 3   Precip      105553 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 105919 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  105919 non-null  object
 1   comid       105919 non-null  int64
 2   C           105919 non-null  float64
 3   Precip      105919 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.0+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 106284 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  106284 non-null  object
 1   comid       106284 non-null  int64
 2   C           106284 non-null  float64
 3   Precip      106284 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 106649 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  106649 non-null  object
 1   comid       106649 non-null  int64
 2   C           106649 non-null  float64
 3   Precip      106649 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 107014 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  107014 non-null  object
 1   comid       107014 non-null  int64
 2   C           107014 non-null  float64
 3   Precip      107014 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 107380 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  107380 non-null  object
 1   comid       107380 non-null  int64
 2   C           107380 non-null  float64
 3   Precip      107380 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 107745 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  107745 non-null  object
 1   comid       107745 non-null  int64
 2   C           107745 non-null  float64
 3   Precip      107745 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 108110 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  108110 non-null  object
 1   comid       108110 non-null  int64
 2   C           108110 non-null  float64
 3   Precip      108110 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 108475 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  108475 non-null  object
 1   comid       108475 non-null  int64
 2   C           108475 non-null  float64
 3   Precip      108475 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.1+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 108841 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  108841 non-null  object
 1   comid       108841 non-null  int64
 2   C           108841 non-null  float64
 3   Precip      108841 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 109206 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  109206 non-null  object
 1   comid       109206 non-null  int64
 2   C           109206 non-null  float64
 3   Precip      109206 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 109571 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  109571 non-null  object
 1   comid       109571 non-null  int64
 2   C           109571 non-null  float64
 3   Precip      109571 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 109936 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  109936 non-null  object
 1   comid       109936 non-null  int64
 2   C           109936 non-null  float64
 3   Precip      109936 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 110302 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  110302 non-null  object
 1   comid       110302 non-null  int64
 2   C           110302 non-null  float64
 3   Precip      110302 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 110667 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  110667 non-null  object
 1   comid       110667 non-null  int64
 2   C           110667 non-null  float64
 3   Precip      110667 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 111032 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  111032 non-null  object
 1   comid       111032 non-null  int64
 2   C           111032 non-null  float64
 3   Precip      111032 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 111397 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  111397 non-null  object
 1   comid       111397 non-null  int64
 2   C           111397 non-null  float64
 3   Precip      111397 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.2+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 111762 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  111762 non-null  object
 1   comid       111762 non-null  int64
 2   C           111762 non-null  float64
 3   Precip      111762 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 112127 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  112127 non-null  object
 1   comid       112127 non-null  int64
 2   C           112127 non-null  float64
 3   Precip      112127 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 112493 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  112493 non-null  object
 1   comid       112493 non-null  int64
 2   C           112493 non-null  float64
 3   Precip      112493 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 112858 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  112858 non-null  object
 1   comid       112858 non-null  int64
 2   C           112858 non-null  float64
 3   Precip      112858 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 113223 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  113223 non-null  object
 1   comid       113223 non-null  int64
 2   C           113223 non-null  float64
 3   Precip      113223 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 113588 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  113588 non-null  object
 1   comid       113588 non-null  int64
 2   C           113588 non-null  float64
 3   Precip      113588 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 113954 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  113954 non-null  object
 1   comid       113954 non-null  int64
 2   C           113954 non-null  float64
 3   Precip      113954 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.3+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 114319 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  114319 non-null  object
 1   comid       114319 non-null  int64
 2   C           114319 non-null  float64
 3   Precip      114319 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 114684 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  114684 non-null  object
 1   comid       114684 non-null  int64
 2   C           114684 non-null  float64
 3   Precip      114684 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 115049 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  115049 non-null  object
 1   comid       115049 non-null  int64
 2   C           115049 non-null  float64
 3   Precip      115049 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 115415 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  115415 non-null  object
 1   comid       115415 non-null  int64
 2   C           115415 non-null  float64
 3   Precip      115415 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 115780 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  115780 non-null  object
 1   comid       115780 non-null  int64
 2   C           115780 non-null  float64
 3   Precip      115780 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 116145 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  116145 non-null  object
 1   comid       116145 non-null  int64
 2   C           116145 non-null  float64
 3   Precip      116145 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 116510 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  116510 non-null  object
 1   comid       116510 non-null  int64
 2   C           116510 non-null  float64
 3   Precip      116510 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.4+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 116876 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  116876 non-null  object
 1   comid       116876 non-null  int64
 2   C           116876 non-null  float64
 3   Precip      116876 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 117241 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  117241 non-null  object
 1   comid       117241 non-null  int64
 2   C           117241 non-null  float64
 3   Precip      117241 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 117606 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  117606 non-null  object
 1   comid       117606 non-null  int64
 2   C           117606 non-null  float64
 3   Precip      117606 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 117971 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  117971 non-null  object
 1   comid       117971 non-null  int64
 2   C           117971 non-null  float64
 3   Precip      117971 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 118337 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  118337 non-null  object
 1   comid       118337 non-null  int64
 2   C           118337 non-null  float64
 3   Precip      118337 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 118702 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  118702 non-null  object
 1   comid       118702 non-null  int64
 2   C           118702 non-null  float64
 3   Precip      118702 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 119067 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  119067 non-null  object
 1   comid       119067 non-null  int64
 2   C           119067 non-null  float64
 3   Precip      119067 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.5+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 119432 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  119432 non-null  object
 1   comid       119432 non-null  int64
 2   C           119432 non-null  float64
 3   Precip      119432 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 119798 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  119798 non-null  object
 1   comid       119798 non-null  int64
 2   C           119798 non-null  float64
 3   Precip      119798 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 120163 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  120163 non-null  object
 1   comid       120163 non-null  int64
 2   C           120163 non-null  float64
 3   Precip      120163 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 120528 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  120528 non-null  object
 1   comid       120528 non-null  int64
 2   C           120528 non-null  float64
 3   Precip      120528 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 120893 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  120893 non-null  object
 1   comid       120893 non-null  int64
 2   C           120893 non-null  float64
 3   Precip      120893 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 121259 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  121259 non-null  object
 1   comid       121259 non-null  int64
 2   C           121259 non-null  float64
 3   Precip      121259 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 121624 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  121624 non-null  object
 1   comid       121624 non-null  int64
 2   C           121624 non-null  float64
 3   Precip      121624 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 121989 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  121989 non-null  object
 1   comid       121989 non-null  int64
 2   C           121989 non-null  float64
 3   Precip      121989 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 122354 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  122354 non-null  object
 1   comid       122354 non-null  int64
 2   C           122354 non-null  float64
 3   Precip      122354 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 122720 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  122720 non-null  object
 1   comid       122720 non-null  int64
 2   C           122720 non-null  float64
 3   Precip      122720 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 123085 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  123085 non-null  object
 1   comid       123085 non-null  int64
 2   C           123085 non-null  float64
 3   Precip      123085 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 123450 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  123450 non-null  object
 1   comid       123450 non-null  int64
 2   C           123450 non-null  float64
 3   Precip      123450 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 123815 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  123815 non-null  object
 1   comid       123815 non-null  int64
 2   C           123815 non-null  float64
 3   Precip      123815 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 124181 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  124181 non-null  object
 1   comid       124181 non-null  int64
 2   C           124181 non-null  float64
 3   Precip      124181 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.7+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 124546 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  124546 non-null  object
 1   comid       124546 non-null  int64
 2   C           124546 non-null  float64
 3   Precip      124546 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 124911 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  124911 non-null  object
 1   comid       124911 non-null  int64
 2   C           124911 non-null  float64
 3   Precip      124911 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 125276 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  125276 non-null  object
 1   comid       125276 non-null  int64
 2   C           125276 non-null  float64
 3   Precip      125276 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 125641 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  125641 non-null  object
 1   comid       125641 non-null  int64
 2   C           125641 non-null  float64
 3   Precip      125641 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 126006 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  126006 non-null  object
 1   comid       126006 non-null  int64
 2   C           126006 non-null  float64
 3   Precip      126006 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 126372 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  126372 non-null  object
 1   comid       126372 non-null  int64
 2   C           126372 non-null  float64
 3   Precip      126372 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 126737 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  126737 non-null  object
 1   comid       126737 non-null  int64
 2   C           126737 non-null  float64
 3   Precip      126737 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 127102 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  127102 non-null  object
 1   comid       127102 non-null  int64
 2   C           127102 non-null  float64
 3   Precip      127102 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 127467 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  127467 non-null  object
 1   comid       127467 non-null  int64
 2   C           127467 non-null  float64
 3   Precip      127467 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 127833 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  127833 non-null  object
 1   comid       127833 non-null  int64
 2   C           127833 non-null  float64
 3   Precip      127833 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 128198 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  128198 non-null  object
 1   comid       128198 non-null  int64
 2   C           128198 non-null  float64
 3   Precip      128198 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 128563 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  128563 non-null  object
 1   comid       128563 non-null  int64
 2   C           128563 non-null  float64
 3   Precip      128563 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 128928 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  128928 non-null  object
 1   comid       128928 non-null  int64
 2   C           128928 non-null  float64
 3   Precip      128928 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 129294 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  129294 non-null  object
 1   comid       129294 non-null  int64
 2   C           129294 non-null  float64
 3   Precip      129294 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 129659 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  129659 non-null  object
 1   comid       129659 non-null  int64
 2   C           129659 non-null  float64
 3   Precip      129659 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.9+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 130024 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  130024 non-null  object
 1   comid       130024 non-null  int64
 2   C           130024 non-null  float64
 3   Precip      130024 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 130389 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  130389 non-null  object
 1   comid       130389 non-null  int64
 2   C           130389 non-null  float64
 3   Precip      130389 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 130755 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  130755 non-null  object
 1   comid       130755 non-null  int64
 2   C           130755 non-null  float64
 3   Precip      130755 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 131120 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  131120 non-null  object
 1   comid       131120 non-null  int64
 2   C           131120 non-null  float64
 3   Precip      131120 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 131485 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  131485 non-null  object
 1   comid       131485 non-null  int64
 2   C           131485 non-null  float64
 3   Precip      131485 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 131850 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  131850 non-null  object
 1   comid       131850 non-null  int64
 2   C           131850 non-null  float64
 3   Precip      131850 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 132216 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  132216 non-null  object
 1   comid       132216 non-null  int64
 2   C           132216 non-null  float64
 3   Precip      132216 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.0+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 132581 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  132581 non-null  object
 1   comid       132581 non-null  int64
 2   C           132581 non-null  float64
 3   Precip      132581 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 132946 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  132946 non-null  object
 1   comid       132946 non-null  int64
 2   C           132946 non-null  float64
 3   Precip      132946 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 133311 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  133311 non-null  object
 1   comid       133311 non-null  int64
 2   C           133311 non-null  float64
 3   Precip      133311 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 133677 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  133677 non-null  object
 1   comid       133677 non-null  int64
 2   C           133677 non-null  float64
 3   Precip      133677 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 134042 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  134042 non-null  object
 1   comid       134042 non-null  int64
 2   C           134042 non-null  float64
 3   Precip      134042 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 134407 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  134407 non-null  object
 1   comid       134407 non-null  int64
 2   C           134407 non-null  float64
 3   Precip      134407 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 134772 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  134772 non-null  object
 1   comid       134772 non-null  int64
 2   C           134772 non-null  float64
 3   Precip      134772 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.1+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 135138 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  135138 non-null  object
 1   comid       135138 non-null  int64
 2   C           135138 non-null  float64
 3   Precip      135138 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 135503 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  135503 non-null  object
 1   comid       135503 non-null  int64
 2   C           135503 non-null  float64
 3   Precip      135503 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 135868 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  135868 non-null  object
 1   comid       135868 non-null  int64
 2   C           135868 non-null  float64
 3   Precip      135868 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 136233 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  136233 non-null  object
 1   comid       136233 non-null  int64
 2   C           136233 non-null  float64
 3   Precip      136233 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 136599 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  136599 non-null  object
 1   comid       136599 non-null  int64
 2   C           136599 non-null  float64
 3   Precip      136599 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 136964 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  136964 non-null  object
 1   comid       136964 non-null  int64
 2   C           136964 non-null  float64
 3   Precip      136964 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 137329 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  137329 non-null  object
 1   comid       137329 non-null  int64
 2   C           137329 non-null  float64
 3   Precip      137329 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.2+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 137694 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  137694 non-null  object
 1   comid       137694 non-null  int64
 2   C           137694 non-null  float64
 3   Precip      137694 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 138060 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  138060 non-null  object
 1   comid       138060 non-null  int64
 2   C           138060 non-null  float64
 3   Precip      138060 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 138425 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  138425 non-null  object
 1   comid       138425 non-null  int64
 2   C           138425 non-null  float64
 3   Precip      138425 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 138790 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  138790 non-null  object
 1   comid       138790 non-null  int64
 2   C           138790 non-null  float64
 3   Precip      138790 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 139155 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  139155 non-null  object
 1   comid       139155 non-null  int64
 2   C           139155 non-null  float64
 3   Precip      139155 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 139520 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  139520 non-null  object
 1   comid       139520 non-null  int64
 2   C           139520 non-null  float64
 3   Precip      139520 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 139885 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  139885 non-null  object
 1   comid       139885 non-null  int64
 2   C           139885 non-null  float64
 3   Precip      139885 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.3+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 140251 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  140251 non-null  object
 1   comid       140251 non-null  int64
 2   C           140251 non-null  float64
 3   Precip      140251 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 140616 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  140616 non-null  object
 1   comid       140616 non-null  int64
 2   C           140616 non-null  float64
 3   Precip      140616 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 140981 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  140981 non-null  object
 1   comid       140981 non-null  int64
 2   C           140981 non-null  float64
 3   Precip      140981 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 141346 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  141346 non-null  object
 1   comid       141346 non-null  int64
 2   C           141346 non-null  float64
 3   Precip      141346 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 141712 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  141712 non-null  object
 1   comid       141712 non-null  int64
 2   C           141712 non-null  float64
 3   Precip      141712 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 142077 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  142077 non-null  object
 1   comid       142077 non-null  int64
 2   C           142077 non-null  float64
 3   Precip      142077 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 142442 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  142442 non-null  object
 1   comid       142442 non-null  int64
 2   C           142442 non-null  float64
 3   Precip      142442 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 142807 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  142807 non-null  object
 1   comid       142807 non-null  int64
 2   C           142807 non-null  float64
 3   Precip      142807 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 143173 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  143173 non-null  object
 1   comid       143173 non-null  int64
 2   C           143173 non-null  float64
 3   Precip      143173 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 143538 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  143538 non-null  object
 1   comid       143538 non-null  int64
 2   C           143538 non-null  float64
 3   Precip      143538 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 143903 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  143903 non-null  object
 1   comid       143903 non-null  int64
 2   C           143903 non-null  float64
 3   Precip      143903 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 144268 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  144268 non-null  object
 1   comid       144268 non-null  int64
 2   C           144268 non-null  float64
 3   Precip      144268 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 144634 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  144634 non-null  object
 1   comid       144634 non-null  int64
 2   C           144634 non-null  float64
 3   Precip      144634 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 144999 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  144999 non-null  object
 1   comid       144999 non-null  int64
 2   C           144999 non-null  float64
 3   Precip      144999 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 145364 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  145364 non-null  object
 1   comid       145364 non-null  int64
 2   C           145364 non-null  float64
 3   Precip      145364 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 145729 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  145729 non-null  object
 1   comid       145729 non-null  int64
 2   C           145729 non-null  float64
 3   Precip      145729 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 146095 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  146095 non-null  object
 1   comid       146095 non-null  int64
 2   C           146095 non-null  float64
 3   Precip      146095 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 146460 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  146460 non-null  object
 1   comid       146460 non-null  int64
 2   C           146460 non-null  float64
 3   Precip      146460 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 146825 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  146825 non-null  object
 1   comid       146825 non-null  int64
 2   C           146825 non-null  float64
 3   Precip      146825 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 147190 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  147190 non-null  object
 1   comid       147190 non-null  int64
 2   C           147190 non-null  float64
 3   Precip      147190 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 147556 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  147556 non-null  object
 1   comid       147556 non-null  int64
 2   C           147556 non-null  float64
 3   Precip      147556 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 147921 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  147921 non-null  object
 1   comid       147921 non-null  int64
 2   C           147921 non-null  float64
 3   Precip      147921 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.6+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 148286 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  148286 non-null  object
 1   comid       148286 non-null  int64
 2   C           148286 non-null  float64
 3   Precip      148286 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 148651 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  148651 non-null  object
 1   comid       148651 non-null  int64
 2   C           148651 non-null  float64
 3   Precip      148651 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 149017 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  149017 non-null  object
 1   comid       149017 non-null  int64
 2   C           149017 non-null  float64
 3   Precip      149017 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 149382 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  149382 non-null  object
 1   comid       149382 non-null  int64
 2   C           149382 non-null  float64
 3   Precip      149382 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 149747 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  149747 non-null  object
 1   comid       149747 non-null  int64
 2   C           149747 non-null  float64
 3   Precip      149747 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 150112 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  150112 non-null  object
 1   comid       150112 non-null  int64
 2   C           150112 non-null  float64
 3   Precip      150112 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 150478 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  150478 non-null  object
 1   comid       150478 non-null  int64
 2   C           150478 non-null  float64
 3   Precip      150478 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 150843 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  150843 non-null  object
 1   comid       150843 non-null  int64
 2   C           150843 non-null  float64
 3   Precip      150843 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 151208 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  151208 non-null  object
 1   comid       151208 non-null  int64
 2   C           151208 non-null  float64
 3   Precip      151208 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 151573 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  151573 non-null  object
 1   comid       151573 non-null  int64
 2   C           151573 non-null  float64
 3   Precip      151573 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 151939 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  151939 non-null  object
 1   comid       151939 non-null  int64
 2   C           151939 non-null  float64
 3   Precip      151939 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 152304 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  152304 non-null  object
 1   comid       152304 non-null  int64
 2   C           152304 non-null  float64
 3   Precip      152304 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 152669 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  152669 non-null  object
 1   comid       152669 non-null  int64
 2   C           152669 non-null  float64
 3   Precip      152669 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 153034 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  153034 non-null  object
 1   comid       153034 non-null  int64
 2   C           153034 non-null  float64
 3   Precip      153034 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.8+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 153399 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  153399 non-null  object
 1   comid       153399 non-null  int64
 2   C           153399 non-null  float64
 3   Precip      153399 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 153764 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  153764 non-null  object
 1   comid       153764 non-null  int64
 2   C           153764 non-null  float64
 3   Precip      153764 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 154130 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  154130 non-null  object
 1   comid       154130 non-null  int64
 2   C           154130 non-null  float64
 3   Precip      154130 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 154495 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  154495 non-null  object
 1   comid       154495 non-null  int64
 2   C           154495 non-null  float64
 3   Precip      154495 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 154860 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  154860 non-null  object
 1   comid       154860 non-null  int64
 2   C           154860 non-null  float64
 3   Precip      154860 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 155225 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  155225 non-null  object
 1   comid       155225 non-null  int64
 2   C           155225 non-null  float64
 3   Precip      155225 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 155591 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  155591 non-null  object
 1   comid       155591 non-null  int64
 2   C           155591 non-null  float64
 3   Precip      155591 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 155956 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  155956 non-null  object
 1   comid       155956 non-null  int64
 2   C           155956 non-null  float64
 3   Precip      155956 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.9+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 156321 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  156321 non-null  object
 1   comid       156321 non-null  int64
 2   C           156321 non-null  float64
 3   Precip      156321 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 156686 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  156686 non-null  object
 1   comid       156686 non-null  int64
 2   C           156686 non-null  float64
 3   Precip      156686 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 157052 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  157052 non-null  object
 1   comid       157052 non-null  int64
 2   C           157052 non-null  float64
 3   Precip      157052 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 157417 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  157417 non-null  object
 1   comid       157417 non-null  int64
 2   C           157417 non-null  float64
 3   Precip      157417 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 157782 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  157782 non-null  object
 1   comid       157782 non-null  int64
 2   C           157782 non-null  float64
 3   Precip      157782 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 158147 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  158147 non-null  object
 1   comid       158147 non-null  int64
 2   C           158147 non-null  float64
 3   Precip      158147 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 158513 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  158513 non-null  object
 1   comid       158513 non-null  int64
 2   C           158513 non-null  float64
 3   Precip      158513 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.0+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 158878 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  158878 non-null  object
 1   comid       158878 non-null  int64
 2   C           158878 non-null  float64
 3   Precip      158878 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 159243 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  159243 non-null  object
 1   comid       159243 non-null  int64
 2   C           159243 non-null  float64
 3   Precip      159243 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 159608 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  159608 non-null  object
 1   comid       159608 non-null  int64
 2   C           159608 non-null  float64
 3   Precip      159608 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 159974 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  159974 non-null  object
 1   comid       159974 non-null  int64
 2   C           159974 non-null  float64
 3   Precip      159974 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 160339 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  160339 non-null  object
 1   comid       160339 non-null  int64
 2   C           160339 non-null  float64
 3   Precip      160339 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 160704 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  160704 non-null  object
 1   comid       160704 non-null  int64
 2   C           160704 non-null  float64
 3   Precip      160704 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 161069 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  161069 non-null  object
 1   comid       161069 non-null  int64
 2   C           161069 non-null  float64
 3   Precip      161069 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.1+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 161435 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  161435 non-null  object
 1   comid       161435 non-null  int64
 2   C           161435 non-null  float64
 3   Precip      161435 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 161800 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  161800 non-null  object
 1   comid       161800 non-null  int64
 2   C           161800 non-null  float64
 3   Precip      161800 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 162165 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  162165 non-null  object
 1   comid       162165 non-null  int64
 2   C           162165 non-null  float64
 3   Precip      162165 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 162530 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  162530 non-null  object
 1   comid       162530 non-null  int64
 2   C           162530 non-null  float64
 3   Precip      162530 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 162896 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  162896 non-null  object
 1   comid       162896 non-null  int64
 2   C           162896 non-null  float64
 3   Precip      162896 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 163261 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  163261 non-null  object
 1   comid       163261 non-null  int64
 2   C           163261 non-null  float64
 3   Precip      163261 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 163626 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  163626 non-null  object
 1   comid       163626 non-null  int64
 2   C           163626 non-null  float64
 3   Precip      163626 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.2+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 163991 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  163991 non-null  object
 1   comid       163991 non-null  int64
 2   C           163991 non-null  float64
 3   Precip      163991 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 164357 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  164357 non-null  object
 1   comid       164357 non-null  int64
 2   C           164357 non-null  float64
 3   Precip      164357 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 164722 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  164722 non-null  object
 1   comid       164722 non-null  int64
 2   C           164722 non-null  float64
 3   Precip      164722 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 165087 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  165087 non-null  object
 1   comid       165087 non-null  int64
 2   C           165087 non-null  float64
 3   Precip      165087 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 165452 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  165452 non-null  object
 1   comid       165452 non-null  int64
 2   C           165452 non-null  float64
 3   Precip      165452 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 165818 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  165818 non-null  object
 1   comid       165818 non-null  int64
 2   C           165818 non-null  float64
 3   Precip      165818 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 166183 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  166183 non-null  object
 1   comid       166183 non-null  int64
 2   C           166183 non-null  float64
 3   Precip      166183 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.3+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 166548 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  166548 non-null  object
 1   comid       166548 non-null  int64
 2   C           166548 non-null  float64
 3   Precip      166548 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 166913 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  166913 non-null  object
 1   comid       166913 non-null  int64
 2   C           166913 non-null  float64
 3   Precip      166913 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 167278 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  167278 non-null  object
 1   comid       167278 non-null  int64
 2   C           167278 non-null  float64
 3   Precip      167278 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 167643 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  167643 non-null  object
 1   comid       167643 non-null  int64
 2   C           167643 non-null  float64
 3   Precip      167643 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 168009 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  168009 non-null  object
 1   comid       168009 non-null  int64
 2   C           168009 non-null  float64
 3   Precip      168009 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 168374 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  168374 non-null  object
 1   comid       168374 non-null  int64
 2   C           168374 non-null  float64
 3   Precip      168374 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 168739 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  168739 non-null  object
 1   comid       168739 non-null  int64
 2   C           168739 non-null  float64
 3   Precip      168739 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 169104 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  169104 non-null  object
 1   comid       169104 non-null  int64
 2   C           169104 non-null  float64
 3   Precip      169104 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 169470 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  169470 non-null  object
 1   comid       169470 non-null  int64
 2   C           169470 non-null  float64
 3   Precip      169470 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 169835 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  169835 non-null  object
 1   comid       169835 non-null  int64
 2   C           169835 non-null  float64
 3   Precip      169835 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 170200 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  170200 non-null  object
 1   comid       170200 non-null  int64
 2   C           170200 non-null  float64
 3   Precip      170200 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 170565 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  170565 non-null  object
 1   comid       170565 non-null  int64
 2   C           170565 non-null  float64
 3   Precip      170565 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 170931 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  170931 non-null  object
 1   comid       170931 non-null  int64
 2   C           170931 non-null  float64
 3   Precip      170931 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 171296 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  171296 non-null  object
 1   comid       171296 non-null  int64
 2   C           171296 non-null  float64
 3   Precip      171296 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 171661 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  171661 non-null  object
 1   comid       171661 non-null  int64
 2   C           171661 non-null  float64
 3   Precip      171661 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.5+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 172026 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  172026 non-null  object
 1   comid       172026 non-null  int64
 2   C           172026 non-null  float64
 3   Precip      172026 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 172392 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  172392 non-null  object
 1   comid       172392 non-null  int64
 2   C           172392 non-null  float64
 3   Precip      172392 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 172757 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  172757 non-null  object
 1   comid       172757 non-null  int64
 2   C           172757 non-null  float64
 3   Precip      172757 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 173122 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  173122 non-null  object
 1   comid       173122 non-null  int64
 2   C           173122 non-null  float64
 3   Precip      173122 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 173487 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  173487 non-null  object
 1   comid       173487 non-null  int64
 2   C           173487 non-null  float64
 3   Precip      173487 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 173853 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  173853 non-null  object
 1   comid       173853 non-null  int64
 2   C           173853 non-null  float64
 3   Precip      173853 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 174218 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  174218 non-null  object
 1   comid       174218 non-null  int64
 2   C           174218 non-null  float64
 3   Precip      174218 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.6+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 174583 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  174583 non-null  object
 1   comid       174583 non-null  int64
 2   C           174583 non-null  float64
 3   Precip      174583 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 174948 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  174948 non-null  object
 1   comid       174948 non-null  int64
 2   C           174948 non-null  float64
 3   Precip      174948 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 175314 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  175314 non-null  object
 1   comid       175314 non-null  int64
 2   C           175314 non-null  float64
 3   Precip      175314 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 175679 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  175679 non-null  object
 1   comid       175679 non-null  int64
 2   C           175679 non-null  float64
 3   Precip      175679 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 176044 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  176044 non-null  object
 1   comid       176044 non-null  int64
 2   C           176044 non-null  float64
 3   Precip      176044 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 176409 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  176409 non-null  object
 1   comid       176409 non-null  int64
 2   C           176409 non-null  float64
 3   Precip      176409 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 176775 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  176775 non-null  object
 1   comid       176775 non-null  int64
 2   C           176775 non-null  float64
 3   Precip      176775 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.7+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 177140 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  177140 non-null  object
 1   comid       177140 non-null  int64
 2   C           177140 non-null  float64
 3   Precip      177140 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 177505 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  177505 non-null  object
 1   comid       177505 non-null  int64
 2   C           177505 non-null  float64
 3   Precip      177505 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 177870 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  177870 non-null  object
 1   comid       177870 non-null  int64
 2   C           177870 non-null  float64
 3   Precip      177870 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 178236 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  178236 non-null  object
 1   comid       178236 non-null  int64
 2   C           178236 non-null  float64
 3   Precip      178236 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 178601 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  178601 non-null  object
 1   comid       178601 non-null  int64
 2   C           178601 non-null  float64
 3   Precip      178601 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 178966 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  178966 non-null  object
 1   comid       178966 non-null  int64
 2   C           178966 non-null  float64
 3   Precip      178966 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 179331 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  179331 non-null  object
 1   comid       179331 non-null  int64
 2   C           179331 non-null  float64
 3   Precip      179331 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 179697 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  179697 non-null  object
 1   comid       179697 non-null  int64
 2   C           179697 non-null  float64
 3   Precip      179697 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 180062 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  180062 non-null  object
 1   comid       180062 non-null  int64
 2   C           180062 non-null  float64
 3   Precip      180062 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 180427 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  180427 non-null  object
 1   comid       180427 non-null  int64
 2   C           180427 non-null  float64
 3   Precip      180427 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 180792 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  180792 non-null  object
 1   comid       180792 non-null  int64
 2   C           180792 non-null  float64
 3   Precip      180792 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 181157 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  181157 non-null  object
 1   comid       181157 non-null  int64
 2   C           181157 non-null  float64
 3   Precip      181157 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 181522 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  181522 non-null  object
 1   comid       181522 non-null  int64
 2   C           181522 non-null  float64
 3   Precip      181522 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 181888 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  181888 non-null  object
 1   comid       181888 non-null  int64
 2   C           181888 non-null  float64
 3   Precip      181888 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 182253 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  182253 non-null  object
 1   comid       182253 non-null  int64
 2   C           182253 non-null  float64
 3   Precip      182253 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 182618 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  182618 non-null  object
 1   comid       182618 non-null  int64
 2   C           182618 non-null  float64
 3   Precip      182618 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 182983 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  182983 non-null  object
 1   comid       182983 non-null  int64
 2   C           182983 non-null  float64
 3   Precip      182983 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 183349 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  183349 non-null  object
 1   comid       183349 non-null  int64
 2   C           183349 non-null  float64
 3   Precip      183349 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 183714 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  183714 non-null  object
 1   comid       183714 non-null  int64
 2   C           183714 non-null  float64
 3   Precip      183714 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 184079 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  184079 non-null  object
 1   comid       184079 non-null  int64
 2   C           184079 non-null  float64
 3   Precip      184079 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 184444 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  184444 non-null  object
 1   comid       184444 non-null  int64
 2   C           184444 non-null  float64
 3   Precip      184444 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 184810 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  184810 non-null  object
 1   comid       184810 non-null  int64
 2   C           184810 non-null  float64
 3   Precip      184810 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.0+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 185175 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  185175 non-null  object
 1   comid       185175 non-null  int64
 2   C           185175 non-null  float64
 3   Precip      185175 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 185540 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  185540 non-null  object
 1   comid       185540 non-null  int64
 2   C           185540 non-null  float64
 3   Precip      185540 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 185905 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  185905 non-null  object
 1   comid       185905 non-null  int64
 2   C           185905 non-null  float64
 3   Precip      185905 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 186271 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  186271 non-null  object
 1   comid       186271 non-null  int64
 2   C           186271 non-null  float64
 3   Precip      186271 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 186636 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  186636 non-null  object
 1   comid       186636 non-null  int64
 2   C           186636 non-null  float64
 3   Precip      186636 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 187001 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  187001 non-null  object
 1   comid       187001 non-null  int64
 2   C           187001 non-null  float64
 3   Precip      187001 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 187366 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  187366 non-null  object
 1   comid       187366 non-null  int64
 2   C           187366 non-null  float64
 3   Precip      187366 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 187732 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  187732 non-null  object
 1   comid       187732 non-null  int64
 2   C           187732 non-null  float64
 3   Precip      187732 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 188097 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  188097 non-null  object
 1   comid       188097 non-null  int64
 2   C           188097 non-null  float64
 3   Precip      188097 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 188462 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  188462 non-null  object
 1   comid       188462 non-null  int64
 2   C           188462 non-null  float64
 3   Precip      188462 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 188827 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  188827 non-null  object
 1   comid       188827 non-null  int64
 2   C           188827 non-null  float64
 3   Precip      188827 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 189193 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  189193 non-null  object
 1   comid       189193 non-null  int64
 2   C           189193 non-null  float64
 3   Precip      189193 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 189558 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  189558 non-null  object
 1   comid       189558 non-null  int64
 2   C           189558 non-null  float64
 3   Precip      189558 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 189923 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  189923 non-null  object
 1   comid       189923 non-null  int64
 2   C           189923 non-null  float64
 3   Precip      189923 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.2+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 190288 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  190288 non-null  object
 1   comid       190288 non-null  int64
 2   C           190288 non-null  float64
 3   Precip      190288 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 190654 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  190654 non-null  object
 1   comid       190654 non-null  int64
 2   C           190654 non-null  float64
 3   Precip      190654 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 191019 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  191019 non-null  object
 1   comid       191019 non-null  int64
 2   C           191019 non-null  float64
 3   Precip      191019 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 191384 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  191384 non-null  object
 1   comid       191384 non-null  int64
 2   C           191384 non-null  float64
 3   Precip      191384 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 191749 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  191749 non-null  object
 1   comid       191749 non-null  int64
 2   C           191749 non-null  float64
 3   Precip      191749 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 192115 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  192115 non-null  object
 1   comid       192115 non-null  int64
 2   C           192115 non-null  float64
 3   Precip      192115 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 192480 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  192480 non-null  object
 1   comid       192480 non-null  int64
 2   C           192480 non-null  float64
 3   Precip      192480 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.3+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 192845 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  192845 non-null  object
 1   comid       192845 non-null  int64
 2   C           192845 non-null  float64
 3   Precip      192845 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 193210 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  193210 non-null  object
 1   comid       193210 non-null  int64
 2   C           193210 non-null  float64
 3   Precip      193210 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 193576 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  193576 non-null  object
 1   comid       193576 non-null  int64
 2   C           193576 non-null  float64
 3   Precip      193576 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 193941 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  193941 non-null  object
 1   comid       193941 non-null  int64
 2   C           193941 non-null  float64
 3   Precip      193941 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 194306 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  194306 non-null  object
 1   comid       194306 non-null  int64
 2   C           194306 non-null  float64
 3   Precip      194306 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 194671 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  194671 non-null  object
 1   comid       194671 non-null  int64
 2   C           194671 non-null  float64
 3   Precip      194671 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 195036 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  195036 non-null  object
 1   comid       195036 non-null  int64
 2   C           195036 non-null  float64
 3   Precip      195036 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.4+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 195401 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  195401 non-null  object
 1   comid       195401 non-null  int64
 2   C           195401 non-null  float64
 3   Precip      195401 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 195767 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  195767 non-null  object
 1   comid       195767 non-null  int64
 2   C           195767 non-null  float64
 3   Precip      195767 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 196132 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  196132 non-null  object
 1   comid       196132 non-null  int64
 2   C           196132 non-null  float64
 3   Precip      196132 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 196497 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  196497 non-null  object
 1   comid       196497 non-null  int64
 2   C           196497 non-null  float64
 3   Precip      196497 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 196862 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  196862 non-null  object
 1   comid       196862 non-null  int64
 2   C           196862 non-null  float64
 3   Precip      196862 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 197228 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  197228 non-null  object
 1   comid       197228 non-null  int64
 2   C           197228 non-null  float64
 3   Precip      197228 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 197593 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  197593 non-null  object
 1   comid       197593 non-null  int64
 2   C           197593 non-null  float64
 3   Precip      197593 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.5+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 197958 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  197958 non-null  object
 1   comid       197958 non-null  int64
 2   C           197958 non-null  float64
 3   Precip      197958 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 198323 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  198323 non-null  object
 1   comid       198323 non-null  int64
 2   C           198323 non-null  float64
 3   Precip      198323 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 198689 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  198689 non-null  object
 1   comid       198689 non-null  int64
 2   C           198689 non-null  float64
 3   Precip      198689 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 199054 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  199054 non-null  object
 1   comid       199054 non-null  int64
 2   C           199054 non-null  float64
 3   Precip      199054 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 199419 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  199419 non-null  object
 1   comid       199419 non-null  int64
 2   C           199419 non-null  float64
 3   Precip      199419 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 199784 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  199784 non-null  object
 1   comid       199784 non-null  int64
 2   C           199784 non-null  float64
 3   Precip      199784 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 200150 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  200150 non-null  object
 1   comid       200150 non-null  int64
 2   C           200150 non-null  float64
 3   Precip      200150 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 200515 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  200515 non-null  object
 1   comid       200515 non-null  int64
 2   C           200515 non-null  float64
 3   Precip      200515 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.6+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 200880 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  200880 non-null  object
 1   comid       200880 non-null  int64
 2   C           200880 non-null  float64
 3   Precip      200880 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 201245 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  201245 non-null  object
 1   comid       201245 non-null  int64
 2   C           201245 non-null  float64
 3   Precip      201245 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 201611 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  201611 non-null  object
 1   comid       201611 non-null  int64
 2   C           201611 non-null  float64
 3   Precip      201611 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 201976 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  201976 non-null  object
 1   comid       201976 non-null  int64
 2   C           201976 non-null  float64
 3   Precip      201976 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 202341 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  202341 non-null  object
 1   comid       202341 non-null  int64
 2   C           202341 non-null  float64
 3   Precip      202341 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 202706 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  202706 non-null  object
 1   comid       202706 non-null  int64
 2   C           202706 non-null  float64
 3   Precip      202706 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 203072 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  203072 non-null  object
 1   comid       203072 non-null  int64
 2   C           203072 non-null  float64
 3   Precip      203072 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.7+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 203437 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  203437 non-null  object
 1   comid       203437 non-null  int64
 2   C           203437 non-null  float64
 3   Precip      203437 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 203802 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  203802 non-null  object
 1   comid       203802 non-null  int64
 2   C           203802 non-null  float64
 3   Precip      203802 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 204167 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  204167 non-null  object
 1   comid       204167 non-null  int64
 2   C           204167 non-null  float64
 3   Precip      204167 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 204533 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  204533 non-null  object
 1   comid       204533 non-null  int64
 2   C           204533 non-null  float64
 3   Precip      204533 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 204898 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  204898 non-null  object
 1   comid       204898 non-null  int64
 2   C           204898 non-null  float64
 3   Precip      204898 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 205263 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  205263 non-null  object
 1   comid       205263 non-null  int64
 2   C           205263 non-null  float64
 3   Precip      205263 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 205628 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  205628 non-null  object
 1   comid       205628 non-null  int64
 2   C           205628 non-null  float64
 3   Precip      205628 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 205994 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  205994 non-null  object
 1   comid       205994 non-null  int64
 2   C           205994 non-null  float64
 3   Precip      205994 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 206359 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  206359 non-null  object
 1   comid       206359 non-null  int64
 2   C           206359 non-null  float64
 3   Precip      206359 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 206724 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  206724 non-null  object
 1   comid       206724 non-null  int64
 2   C           206724 non-null  float64
 3   Precip      206724 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 207089 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  207089 non-null  object
 1   comid       207089 non-null  int64
 2   C           207089 non-null  float64
 3   Precip      207089 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 207455 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  207455 non-null  object
 1   comid       207455 non-null  int64
 2   C           207455 non-null  float64
 3   Precip      207455 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 207820 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  207820 non-null  object
 1   comid       207820 non-null  int64
 2   C           207820 non-null  float64
 3   Precip      207820 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.9375"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 208185 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  208185 non-null  object
 1   comid       208185 non-null  int64
 2   C           208185 non-null  float64
 3   Precip      208185 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.9+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 208550 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  208550 non-null  object
 1   comid       208550 non-null  int64
 2   C           208550 non-null  float64
 3   Precip      208550 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 208915 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  208915 non-null  object
 1   comid       208915 non-null  int64
 2   C           208915 non-null  float64
 3   Precip      208915 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 209280 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  209280 non-null  object
 1   comid       209280 non-null  int64
 2   C           209280 non-null  float64
 3   Precip      209280 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 209646 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  209646 non-null  object
 1   comid       209646 non-null  int64
 2   C           209646 non-null  float64
 3   Precip      209646 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 210011 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  210011 non-null  object
 1   comid       210011 non-null  int64
 2   C           210011 non-null  float64
 3   Precip      210011 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 210376 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  210376 non-null  object
 1   comid       210376 non-null  int64
 2   C           210376 non-null  float64
 3   Precip      210376 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 210741 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  210741 non-null  object
 1   comid       210741 non-null  int64
 2   C           210741 non-null  float64
 3   Precip      210741 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.0+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 211107 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  211107 non-null  object
 1   comid       211107 non-null  int64
 2   C           211107 non-null  float64
 3   Precip      211107 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 211472 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  211472 non-null  object
 1   comid       211472 non-null  int64
 2   C           211472 non-null  float64
 3   Precip      211472 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 211837 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  211837 non-null  object
 1   comid       211837 non-null  int64
 2   C           211837 non-null  float64
 3   Precip      211837 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 212202 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  212202 non-null  object
 1   comid       212202 non-null  int64
 2   C           212202 non-null  float64
 3   Precip      212202 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 212568 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  212568 non-null  object
 1   comid       212568 non-null  int64
 2   C           212568 non-null  float64
 3   Precip      212568 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 212933 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  212933 non-null  object
 1   comid       212933 non-null  int64
 2   C           212933 non-null  float64
 3   Precip      212933 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 213298 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  213298 non-null  object
 1   comid       213298 non-null  int64
 2   C           213298 non-null  float64
 3   Precip      213298 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.1+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 213663 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  213663 non-null  object
 1   comid       213663 non-null  int64
 2   C           213663 non-null  float64
 3   Precip      213663 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 214029 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  214029 non-null  object
 1   comid       214029 non-null  int64
 2   C           214029 non-null  float64
 3   Precip      214029 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 214394 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  214394 non-null  object
 1   comid       214394 non-null  int64
 2   C           214394 non-null  float64
 3   Precip      214394 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 214759 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  214759 non-null  object
 1   comid       214759 non-null  int64
 2   C           214759 non-null  float64
 3   Precip      214759 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 215124 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  215124 non-null  object
 1   comid       215124 non-null  int64
 2   C           215124 non-null  float64
 3   Precip      215124 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 215490 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  215490 non-null  object
 1   comid       215490 non-null  int64
 2   C           215490 non-null  float64
 3   Precip      215490 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 215855 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  215855 non-null  object
 1   comid       215855 non-null  int64
 2   C           215855 non-null  float64
 3   Precip      215855 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 216220 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  216220 non-null  object
 1   comid       216220 non-null  int64
 2   C           216220 non-null  float64
 3   Precip      216220 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.2+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 216585 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  216585 non-null  object
 1   comid       216585 non-null  int64
 2   C           216585 non-null  float64
 3   Precip      216585 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 216951 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  216951 non-null  object
 1   comid       216951 non-null  int64
 2   C           216951 non-null  float64
 3   Precip      216951 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 217316 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  217316 non-null  object
 1   comid       217316 non-null  int64
 2   C           217316 non-null  float64
 3   Precip      217316 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 217681 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  217681 non-null  object
 1   comid       217681 non-null  int64
 2   C           217681 non-null  float64
 3   Precip      217681 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 218046 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  218046 non-null  object
 1   comid       218046 non-null  int64
 2   C           218046 non-null  float64
 3   Precip      218046 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 218412 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  218412 non-null  object
 1   comid       218412 non-null  int64
 2   C           218412 non-null  float64
 3   Precip      218412 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 218777 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  218777 non-null  object
 1   comid       218777 non-null  int64
 2   C           218777 non-null  float64
 3   Precip      218777 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 219142 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  219142 non-null  object
 1   comid       219142 non-null  int64
 2   C           219142 non-null  float64
 3   Precip      219142 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 219507 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  219507 non-null  object
 1   comid       219507 non-null  int64
 2   C           219507 non-null  float64
 3   Precip      219507 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 219873 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  219873 non-null  object
 1   comid       219873 non-null  int64
 2   C           219873 non-null  float64
 3   Precip      219873 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 220238 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  220238 non-null  object
 1   comid       220238 non-null  int64
 2   C           220238 non-null  float64
 3   Precip      220238 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 220603 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  220603 non-null  object
 1   comid       220603 non-null  int64
 2   C           220603 non-null  float64
 3   Precip      220603 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 220968 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  220968 non-null  object
 1   comid       220968 non-null  int64
 2   C           220968 non-null  float64
 3   Precip      220968 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 221334 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  221334 non-null  object
 1   comid       221334 non-null  int64
 2   C           221334 non-null  float64
 3   Precip      221334 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.4+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 221699 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  221699 non-null  object
 1   comid       221699 non-null  int64
 2   C           221699 non-null  float64
 3   Precip      221699 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -79.8125"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 222064 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  222064 non-null  object
 1   comid       222064 non-null  int64
 2   C           222064 non-null  float64
 3   Precip      222064 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 222429 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  222429 non-null  object
 1   comid       222429 non-null  int64
 2   C           222429 non-null  float64
 3   Precip      222429 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 222794 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  222794 non-null  object
 1   comid       222794 non-null  int64
 2   C           222794 non-null  float64
 3   Precip      222794 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 223159 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  223159 non-null  object
 1   comid       223159 non-null  int64
 2   C           223159 non-null  float64
 3   Precip      223159 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 223525 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  223525 non-null  object
 1   comid       223525 non-null  int64
 2   C           223525 non-null  float64
 3   Precip      223525 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 223890 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  223890 non-null  object
 1   comid       223890 non-null  int64
 2   C           223890 non-null  float64
 3   Precip      223890 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 224255 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  224255 non-null  object
 1   comid       224255 non-null  int64
 2   C           224255 non-null  float64
 3   Precip      224255 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 224620 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  224620 non-null  object
 1   comid       224620 non-null  int64
 2   C           224620 non-null  float64
 3   Precip      224620 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 224986 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  224986 non-null  object
 1   comid       224986 non-null  int64
 2   C           224986 non-null  float64
 3   Precip      224986 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 225351 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  225351 non-null  object
 1   comid       225351 non-null  int64
 2   C           225351 non-null  float64
 3   Precip      225351 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 225716 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  225716 non-null  object
 1   comid       225716 non-null  int64
 2   C           225716 non-null  float64
 3   Precip      225716 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 226081 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  226081 non-null  object
 1   comid       226081 non-null  int64
 2   C           226081 non-null  float64
 3   Precip      226081 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 226447 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  226447 non-null  object
 1   comid       226447 non-null  int64
 2   C           226447 non-null  float64
 3   Precip      226447 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.6+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 226812 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  226812 non-null  object
 1   comid       226812 non-null  int64
 2   C           226812 non-null  float64
 3   Precip      226812 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 227177 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  227177 non-null  object
 1   comid       227177 non-null  int64
 2   C           227177 non-null  float64
 3   Precip      227177 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 227542 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  227542 non-null  object
 1   comid       227542 non-null  int64
 2   C           227542 non-null  float64
 3   Precip      227542 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 227908 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  227908 non-null  object
 1   comid       227908 non-null  int64
 2   C           227908 non-null  float64
 3   Precip      227908 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 228273 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  228273 non-null  object
 1   comid       228273 non-null  int64
 2   C           228273 non-null  float64
 3   Precip      228273 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 228638 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  228638 non-null  object
 1   comid       228638 non-null  int64
 2   C           228638 non-null  float64
 3   Precip      228638 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 229003 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  229003 non-null  object
 1   comid       229003 non-null  int64
 2   C           229003 non-null  float64
 3   Precip      229003 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 229369 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  229369 non-null  object
 1   comid       229369 non-null  int64
 2   C           229369 non-null  float64
 3   Precip      229369 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 229734 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  229734 non-null  object
 1   comid       229734 non-null  int64
 2   C           229734 non-null  float64
 3   Precip      229734 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 230099 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  230099 non-null  object
 1   comid       230099 non-null  int64
 2   C           230099 non-null  float64
 3   Precip      230099 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 230464 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  230464 non-null  object
 1   comid       230464 non-null  int64
 2   C           230464 non-null  float64
 3   Precip      230464 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 230830 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  230830 non-null  object
 1   comid       230830 non-null  int64
 2   C           230830 non-null  float64
 3   Precip      230830 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 231195 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  231195 non-null  object
 1   comid       231195 non-null  int64
 2   C           231195 non-null  float64
 3   Precip      231195 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 231560 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  231560 non-null  object
 1   comid       231560 non-null  int64
 2   C           231560 non-null  float64
 3   Precip      231560 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 231925 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  231925 non-null  object
 1   comid       231925 non-null  int64
 2   C           231925 non-null  float64
 3   Precip      231925 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.8+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 232291 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  232291 non-null  object
 1   comid       232291 non-null  int64
 2   C           232291 non-null  float64
 3   Precip      232291 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 232656 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  232656 non-null  object
 1   comid       232656 non-null  int64
 2   C           232656 non-null  float64
 3   Precip      232656 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 233021 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  233021 non-null  object
 1   comid       233021 non-null  int64
 2   C           233021 non-null  float64
 3   Precip      233021 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 233386 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  233386 non-null  object
 1   comid       233386 non-null  int64
 2   C           233386 non-null  float64
 3   Precip      233386 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 233752 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  233752 non-null  object
 1   comid       233752 non-null  int64
 2   C           233752 non-null  float64
 3   Precip      233752 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 234117 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  234117 non-null  object
 1   comid       234117 non-null  int64
 2   C           234117 non-null  float64
 3   Precip      234117 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 234482 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  234482 non-null  object
 1   comid       234482 non-null  int64
 2   C           234482 non-null  float64
 3   Precip      234482 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.9+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 234847 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  234847 non-null  object
 1   comid       234847 non-null  int64
 2   C           234847 non-null  float64
 3   Precip      234847 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 235213 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  235213 non-null  object
 1   comid       235213 non-null  int64
 2   C           235213 non-null  float64
 3   Precip      235213 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 235578 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  235578 non-null  object
 1   comid       235578 non-null  int64
 2   C           235578 non-null  float64
 3   Precip      235578 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 235943 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  235943 non-null  object
 1   comid       235943 non-null  int64
 2   C           235943 non-null  float64
 3   Precip      235943 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 236308 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  236308 non-null  object
 1   comid       236308 non-null  int64
 2   C           236308 non-null  float64
 3   Precip      236308 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 236673 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  236673 non-null  object
 1   comid       236673 non-null  int64
 2   C           236673 non-null  float64
 3   Precip      236673 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 237038 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  237038 non-null  object
 1   comid       237038 non-null  int64
 2   C           237038 non-null  float64
 3   Precip      237038 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.0+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 237404 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  237404 non-null  object
 1   comid       237404 non-null  int64
 2   C           237404 non-null  float64
 3   Precip      237404 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 237769 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  237769 non-null  object
 1   comid       237769 non-null  int64
 2   C           237769 non-null  float64
 3   Precip      237769 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 238134 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  238134 non-null  object
 1   comid       238134 non-null  int64
 2   C           238134 non-null  float64
 3   Precip      238134 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 238499 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  238499 non-null  object
 1   comid       238499 non-null  int64
 2   C           238499 non-null  float64
 3   Precip      238499 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 238865 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  238865 non-null  object
 1   comid       238865 non-null  int64
 2   C           238865 non-null  float64
 3   Precip      238865 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 239230 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  239230 non-null  object
 1   comid       239230 non-null  int64
 2   C           239230 non-null  float64
 3   Precip      239230 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 239595 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  239595 non-null  object
 1   comid       239595 non-null  int64
 2   C           239595 non-null  float64
 3   Precip      239595 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.1+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 239960 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  239960 non-null  object
 1   comid       239960 non-null  int64
 2   C           239960 non-null  float64
 3   Precip      239960 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 240326 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  240326 non-null  object
 1   comid       240326 non-null  int64
 2   C           240326 non-null  float64
 3   Precip      240326 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 240691 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  240691 non-null  object
 1   comid       240691 non-null  int64
 2   C           240691 non-null  float64
 3   Precip      240691 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 241056 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  241056 non-null  object
 1   comid       241056 non-null  int64
 2   C           241056 non-null  float64
 3   Precip      241056 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 241421 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  241421 non-null  object
 1   comid       241421 non-null  int64
 2   C           241421 non-null  float64
 3   Precip      241421 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 241787 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  241787 non-null  object
 1   comid       241787 non-null  int64
 2   C           241787 non-null  float64
 3   Precip      241787 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 242152 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  242152 non-null  object
 1   comid       242152 non-null  int64
 2   C           242152 non-null  float64
 3   Precip      242152 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.2+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 242517 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  242517 non-null  object
 1   comid       242517 non-null  int64
 2   C           242517 non-null  float64
 3   Precip      242517 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 242882 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  242882 non-null  object
 1   comid       242882 non-null  int64
 2   C           242882 non-null  float64
 3   Precip      242882 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 243248 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  243248 non-null  object
 1   comid       243248 non-null  int64
 2   C           243248 non-null  float64
 3   Precip      243248 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 243613 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  243613 non-null  object
 1   comid       243613 non-null  int64
 2   C           243613 non-null  float64
 3   Precip      243613 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 243978 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  243978 non-null  object
 1   comid       243978 non-null  int64
 2   C           243978 non-null  float64
 3   Precip      243978 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 244343 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  244343 non-null  object
 1   comid       244343 non-null  int64
 2   C           244343 non-null  float64
 3   Precip      244343 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 244709 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  244709 non-null  object
 1   comid       244709 non-null  int64
 2   C           244709 non-null  float64
 3   Precip      244709 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 245074 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  245074 non-null  object
 1   comid       245074 non-null  int64
 2   C           245074 non-null  float64
 3   Precip      245074 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.3+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 245439 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  245439 non-null  object
 1   comid       245439 non-null  int64
 2   C           245439 non-null  float64
 3   Precip      245439 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 245804 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  245804 non-null  object
 1   comid       245804 non-null  int64
 2   C           245804 non-null  float64
 3   Precip      245804 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 246170 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  246170 non-null  object
 1   comid       246170 non-null  int64
 2   C           246170 non-null  float64
 3   Precip      246170 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 246535 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  246535 non-null  object
 1   comid       246535 non-null  int64
 2   C           246535 non-null  float64
 3   Precip      246535 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 246900 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  246900 non-null  object
 1   comid       246900 non-null  int64
 2   C           246900 non-null  float64
 3   Precip      246900 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 247265 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  247265 non-null  object
 1   comid       247265 non-null  int64
 2   C           247265 non-null  float64
 3   Precip      247265 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 247631 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  247631 non-null  object
 1   comid       247631 non-null  int64
 2   C           247631 non-null  float64
 3   Precip      247631 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 247996 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  247996 non-null  object
 1   comid       247996 non-null  int64
 2   C           247996 non-null  float64
 3   Precip      247996 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 248361 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  248361 non-null  object
 1   comid       248361 non-null  int64
 2   C           248361 non-null  float64
 3   Precip      248361 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 248726 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  248726 non-null  object
 1   comid       248726 non-null  int64
 2   C           248726 non-null  float64
 3   Precip      248726 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 249092 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  249092 non-null  object
 1   comid       249092 non-null  int64
 2   C           249092 non-null  float64
 3   Precip      249092 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 249457 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  249457 non-null  object
 1   comid       249457 non-null  int64
 2   C           249457 non-null  float64
 3   Precip      249457 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 249822 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  249822 non-null  object
 1   comid       249822 non-null  int64
 2   C           249822 non-null  float64
 3   Precip      249822 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 250187 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  250187 non-null  object
 1   comid       250187 non-null  int64
 2   C           250187 non-null  float64
 3   Precip      250187 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.5+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 250552 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  250552 non-null  object
 1   comid       250552 non-null  int64
 2   C           250552 non-null  float64
 3   Precip      250552 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 250917 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  250917 non-null  object
 1   comid       250917 non-null  int64
 2   C           250917 non-null  float64
 3   Precip      250917 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 251283 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  251283 non-null  object
 1   comid       251283 non-null  int64
 2   C           251283 non-null  float64
 3   Precip      251283 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 251648 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  251648 non-null  object
 1   comid       251648 non-null  int64
 2   C           251648 non-null  float64
 3   Precip      251648 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 252013 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  252013 non-null  object
 1   comid       252013 non-null  int64
 2   C           252013 non-null  float64
 3   Precip      252013 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 252378 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  252378 non-null  object
 1   comid       252378 non-null  int64
 2   C           252378 non-null  float64
 3   Precip      252378 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 252744 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  252744 non-null  object
 1   comid       252744 non-null  int64
 2   C           252744 non-null  float64
 3   Precip      252744 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.6+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 253109 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  253109 non-null  object
 1   comid       253109 non-null  int64
 2   C           253109 non-null  float64
 3   Precip      253109 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 253474 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  253474 non-null  object
 1   comid       253474 non-null  int64
 2   C           253474 non-null  float64
 3   Precip      253474 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 253839 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  253839 non-null  object
 1   comid       253839 non-null  int64
 2   C           253839 non-null  float64
 3   Precip      253839 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 254205 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  254205 non-null  object
 1   comid       254205 non-null  int64
 2   C           254205 non-null  float64
 3   Precip      254205 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 254570 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  254570 non-null  object
 1   comid       254570 non-null  int64
 2   C           254570 non-null  float64
 3   Precip      254570 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 254935 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  254935 non-null  object
 1   comid       254935 non-null  int64
 2   C           254935 non-null  float64
 3   Precip      254935 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 255300 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  255300 non-null  object
 1   comid       255300 non-null  int64
 2   C           255300 non-null  float64
 3   Precip      255300 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.7+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 255666 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  255666 non-null  object
 1   comid       255666 non-null  int64
 2   C           255666 non-null  float64
 3   Precip      255666 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 256031 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  256031 non-null  object
 1   comid       256031 non-null  int64
 2   C           256031 non-null  float64
 3   Precip      256031 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 256396 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  256396 non-null  object
 1   comid       256396 non-null  int64
 2   C           256396 non-null  float64
 3   Precip      256396 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 256761 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  256761 non-null  object
 1   comid       256761 non-null  int64
 2   C           256761 non-null  float64
 3   Precip      256761 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 257127 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  257127 non-null  object
 1   comid       257127 non-null  int64
 2   C           257127 non-null  float64
 3   Precip      257127 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 257492 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  257492 non-null  object
 1   comid       257492 non-null  int64
 2   C           257492 non-null  float64
 3   Precip      257492 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 257857 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  257857 non-null  object
 1   comid       257857 non-null  int64
 2   C           257857 non-null  float64
 3   Precip      257857 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.8+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 258222 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  258222 non-null  object
 1   comid       258222 non-null  int64
 2   C           258222 non-null  float64
 3   Precip      258222 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 258588 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  258588 non-null  object
 1   comid       258588 non-null  int64
 2   C           258588 non-null  float64
 3   Precip      258588 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 258953 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  258953 non-null  object
 1   comid       258953 non-null  int64
 2   C           258953 non-null  float64
 3   Precip      258953 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 259318 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  259318 non-null  object
 1   comid       259318 non-null  int64
 2   C           259318 non-null  float64
 3   Precip      259318 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 259683 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  259683 non-null  object
 1   comid       259683 non-null  int64
 2   C           259683 non-null  float64
 3   Precip      259683 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 260049 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  260049 non-null  object
 1   comid       260049 non-null  int64
 2   C           260049 non-null  float64
 3   Precip      260049 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 260414 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  260414 non-null  object
 1   comid       260414 non-null  int64
 2   C           260414 non-null  float64
 3   Precip      260414 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 260779 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  260779 non-null  object
 1   comid       260779 non-null  int64
 2   C           260779 non-null  float64
 3   Precip      260779 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 261144 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  261144 non-null  object
 1   comid       261144 non-null  int64
 2   C           261144 non-null  float64
 3   Precip      261144 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 261510 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  261510 non-null  object
 1   comid       261510 non-null  int64
 2   C           261510 non-null  float64
 3   Precip      261510 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 261875 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  261875 non-null  object
 1   comid       261875 non-null  int64
 2   C           261875 non-null  float64
 3   Precip      261875 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 262240 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  262240 non-null  object
 1   comid       262240 non-null  int64
 2   C           262240 non-null  float64
 3   Precip      262240 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 262605 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  262605 non-null  object
 1   comid       262605 non-null  int64
 2   C           262605 non-null  float64
 3   Precip      262605 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 262971 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  262971 non-null  object
 1   comid       262971 non-null  int64
 2   C           262971 non-null  float64
 3   Precip      262971 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 263336 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  263336 non-null  object
 1   comid       263336 non-null  int64
 2   C           263336 non-null  float64
 3   Precip      263336 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.0+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 263701 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  263701 non-null  object
 1   comid       263701 non-null  int64
 2   C           263701 non-null  float64
 3   Precip      263701 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 264066 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  264066 non-null  object
 1   comid       264066 non-null  int64
 2   C           264066 non-null  float64
 3   Precip      264066 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 264431 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  264431 non-null  object
 1   comid       264431 non-null  int64
 2   C           264431 non-null  float64
 3   Precip      264431 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 264796 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  264796 non-null  object
 1   comid       264796 non-null  int64
 2   C           264796 non-null  float64
 3   Precip      264796 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 265162 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  265162 non-null  object
 1   comid       265162 non-null  int64
 2   C           265162 non-null  float64
 3   Precip      265162 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 265527 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  265527 non-null  object
 1   comid       265527 non-null  int64
 2   C           265527 non-null  float64
 3   Precip      265527 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 265892 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  265892 non-null  object
 1   comid       265892 non-null  int64
 2   C           265892 non-null  float64
 3   Precip      265892 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.1+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 266257 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  266257 non-null  object
 1   comid       266257 non-null  int64
 2   C           266257 non-null  float64
 3   Precip      266257 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 266623 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  266623 non-null  object
 1   comid       266623 non-null  int64
 2   C           266623 non-null  float64
 3   Precip      266623 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 266988 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  266988 non-null  object
 1   comid       266988 non-null  int64
 2   C           266988 non-null  float64
 3   Precip      266988 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 267353 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  267353 non-null  object
 1   comid       267353 non-null  int64
 2   C           267353 non-null  float64
 3   Precip      267353 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 267718 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  267718 non-null  object
 1   comid       267718 non-null  int64
 2   C           267718 non-null  float64
 3   Precip      267718 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 268084 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  268084 non-null  object
 1   comid       268084 non-null  int64
 2   C           268084 non-null  float64
 3   Precip      268084 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 268449 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  268449 non-null  object
 1   comid       268449 non-null  int64
 2   C           268449 non-null  float64
 3   Precip      268449 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 268814 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  268814 non-null  object
 1   comid       268814 non-null  int64
 2   C           268814 non-null  float64
 3   Precip      268814 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 269179 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  269179 non-null  object
 1   comid       269179 non-null  int64
 2   C           269179 non-null  float64
 3   Precip      269179 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 269545 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  269545 non-null  object
 1   comid       269545 non-null  int64
 2   C           269545 non-null  float64
 3   Precip      269545 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 269910 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  269910 non-null  object
 1   comid       269910 non-null  int64
 2   C           269910 non-null  float64
 3   Precip      269910 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 270275 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  270275 non-null  object
 1   comid       270275 non-null  int64
 2   C           270275 non-null  float64
 3   Precip      270275 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 270640 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  270640 non-null  object
 1   comid       270640 non-null  int64
 2   C           270640 non-null  float64
 3   Precip      270640 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 271006 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  271006 non-null  object
 1   comid       271006 non-null  int64
 2   C           271006 non-null  float64
 3   Precip      271006 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 271371 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  271371 non-null  object
 1   comid       271371 non-null  int64
 2   C           271371 non-null  float64
 3   Precip      271371 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 271736 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  271736 non-null  object
 1   comid       271736 non-null  int64
 2   C           271736 non-null  float64
 3   Precip      271736 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 272101 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  272101 non-null  object
 1   comid       272101 non-null  int64
 2   C           272101 non-null  float64
 3   Precip      272101 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 272467 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  272467 non-null  object
 1   comid       272467 non-null  int64
 2   C           272467 non-null  float64
 3   Precip      272467 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 272832 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  272832 non-null  object
 1   comid       272832 non-null  int64
 2   C           272832 non-null  float64
 3   Precip      272832 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 273197 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  273197 non-null  object
 1   comid       273197 non-null  int64
 2   C           273197 non-null  float64
 3   Precip      273197 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 273562 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  273562 non-null  object
 1   comid       273562 non-null  int64
 2   C           273562 non-null  float64
 3   Precip      273562 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 273928 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  273928 non-null  object
 1   comid       273928 non-null  int64
 2   C           273928 non-null  float64
 3   Precip      273928 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 274293 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  274293 non-null  object
 1   comid       274293 non-null  int64
 2   C           274293 non-null  float64
 3   Precip      274293 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 274658 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  274658 non-null  object
 1   comid       274658 non-null  int64
 2   C           274658 non-null  float64
 3   Precip      274658 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 275023 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  275023 non-null  object
 1   comid       275023 non-null  int64
 2   C           275023 non-null  float64
 3   Precip      275023 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 275389 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  275389 non-null  object
 1   comid       275389 non-null  int64
 2   C           275389 non-null  float64
 3   Precip      275389 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 275754 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  275754 non-null  object
 1   comid       275754 non-null  int64
 2   C           275754 non-null  float64
 3   Precip      275754 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 276119 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  276119 non-null  object
 1   comid       276119 non-null  int64
 2   C           276119 non-null  float64
 3   Precip      276119 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 276484 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  276484 non-null  object
 1   comid       276484 non-null  int64
 2   C           276484 non-null  float64
 3   Precip      276484 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 276850 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  276850 non-null  object
 1   comid       276850 non-null  int64
 2   C           276850 non-null  float64
 3   Precip      276850 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 277215 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  277215 non-null  object
 1   comid       277215 non-null  int64
 2   C           277215 non-null  float64
 3   Precip      277215 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 277580 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  277580 non-null  object
 1   comid       277580 non-null  int64
 2   C           277580 non-null  float64
 3   Precip      277580 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 277945 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  277945 non-null  object
 1   comid       277945 non-null  int64
 2   C           277945 non-null  float64
 3   Precip      277945 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 278310 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  278310 non-null  object
 1   comid       278310 non-null  int64
 2   C           278310 non-null  float64
 3   Precip      278310 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 278675 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  278675 non-null  object
 1   comid       278675 non-null  int64
 2   C           278675 non-null  float64
 3   Precip      278675 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 279041 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  279041 non-null  object
 1   comid       279041 non-null  int64
 2   C           279041 non-null  float64
 3   Precip      279041 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 279406 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  279406 non-null  object
 1   comid       279406 non-null  int64
 2   C           279406 non-null  float64
 3   Precip      279406 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 279771 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  279771 non-null  object
 1   comid       279771 non-null  int64
 2   C           279771 non-null  float64
 3   Precip      279771 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 280136 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  280136 non-null  object
 1   comid       280136 non-null  int64
 2   C           280136 non-null  float64
 3   Precip      280136 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 280502 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  280502 non-null  object
 1   comid       280502 non-null  int64
 2   C           280502 non-null  float64
 3   Precip      280502 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 280867 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  280867 non-null  object
 1   comid       280867 non-null  int64
 2   C           280867 non-null  float64
 3   Precip      280867 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 281232 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  281232 non-null  object
 1   comid       281232 non-null  int64
 2   C           281232 non-null  float64
 3   Precip      281232 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 281597 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  281597 non-null  object
 1   comid       281597 non-null  int64
 2   C           281597 non-null  float64
 3   Precip      281597 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.7+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 281963 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  281963 non-null  object
 1   comid       281963 non-null  int64
 2   C           281963 non-null  float64
 3   Precip      281963 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 282328 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  282328 non-null  object
 1   comid       282328 non-null  int64
 2   C           282328 non-null  float64
 3   Precip      282328 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 282693 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  282693 non-null  object
 1   comid       282693 non-null  int64
 2   C           282693 non-null  float64
 3   Precip      282693 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 283058 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  283058 non-null  object
 1   comid       283058 non-null  int64
 2   C           283058 non-null  float64
 3   Precip      283058 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 283424 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  283424 non-null  object
 1   comid       283424 non-null  int64
 2   C           283424 non-null  float64
 3   Precip      283424 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 283789 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  283789 non-null  object
 1   comid       283789 non-null  int64
 2   C           283789 non-null  float64
 3   Precip      283789 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 284154 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  284154 non-null  object
 1   comid       284154 non-null  int64
 2   C           284154 non-null  float64
 3   Precip      284154 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.8+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 284519 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  284519 non-null  object
 1   comid       284519 non-null  int64
 2   C           284519 non-null  float64
 3   Precip      284519 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 284885 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  284885 non-null  object
 1   comid       284885 non-null  int64
 2   C           284885 non-null  float64
 3   Precip      284885 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 285250 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  285250 non-null  object
 1   comid       285250 non-null  int64
 2   C           285250 non-null  float64
 3   Precip      285250 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 285615 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  285615 non-null  object
 1   comid       285615 non-null  int64
 2   C           285615 non-null  float64
 3   Precip      285615 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 285980 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  285980 non-null  object
 1   comid       285980 non-null  int64
 2   C           285980 non-null  float64
 3   Precip      285980 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 286346 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  286346 non-null  object
 1   comid       286346 non-null  int64
 2   C           286346 non-null  float64
 3   Precip      286346 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 286711 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  286711 non-null  object
 1   comid       286711 non-null  int64
 2   C           286711 non-null  float64
 3   Precip      286711 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.9+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 287076 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  287076 non-null  object
 1   comid       287076 non-null  int64
 2   C           287076 non-null  float64
 3   Precip      287076 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 287441 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  287441 non-null  object
 1   comid       287441 non-null  int64
 2   C           287441 non-null  float64
 3   Precip      287441 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 287807 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  287807 non-null  object
 1   comid       287807 non-null  int64
 2   C           287807 non-null  float64
 3   Precip      287807 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 288172 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  288172 non-null  object
 1   comid       288172 non-null  int64
 2   C           288172 non-null  float64
 3   Precip      288172 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 288537 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  288537 non-null  object
 1   comid       288537 non-null  int64
 2   C           288537 non-null  float64
 3   Precip      288537 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 288902 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  288902 non-null  object
 1   comid       288902 non-null  int64
 2   C           288902 non-null  float64
 3   Precip      288902 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 289268 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  289268 non-null  object
 1   comid       289268 non-null  int64
 2   C           289268 non-null  float64
 3   Precip      289268 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 289633 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  289633 non-null  object
 1   comid       289633 non-null  int64
 2   C           289633 non-null  float64
 3   Precip      289633 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 289998 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  289998 non-null  object
 1   comid       289998 non-null  int64
 2   C           289998 non-null  float64
 3   Precip      289998 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 290363 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  290363 non-null  object
 1   comid       290363 non-null  int64
 2   C           290363 non-null  float64
 3   Precip      290363 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 290729 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  290729 non-null  object
 1   comid       290729 non-null  int64
 2   C           290729 non-null  float64
 3   Precip      290729 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 291094 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  291094 non-null  object
 1   comid       291094 non-null  int64
 2   C           291094 non-null  float64
 3   Precip      291094 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 291459 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  291459 non-null  object
 1   comid       291459 non-null  int64
 2   C           291459 non-null  float64
 3   Precip      291459 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 291824 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  291824 non-null  object
 1   comid       291824 non-null  int64
 2   C           291824 non-null  float64
 3   Precip      291824 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 292189 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  292189 non-null  object
 1   comid       292189 non-null  int64
 2   C           292189 non-null  float64
 3   Precip      292189 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 292554 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  292554 non-null  object
 1   comid       292554 non-null  int64
 2   C           292554 non-null  float64
 3   Precip      292554 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 292920 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  292920 non-null  object
 1   comid       292920 non-null  int64
 2   C           292920 non-null  float64
 3   Precip      292920 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 293285 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  293285 non-null  object
 1   comid       293285 non-null  int64
 2   C           293285 non-null  float64
 3   Precip      293285 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 293650 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  293650 non-null  object
 1   comid       293650 non-null  int64
 2   C           293650 non-null  float64
 3   Precip      293650 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 294015 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  294015 non-null  object
 1   comid       294015 non-null  int64
 2   C           294015 non-null  float64
 3   Precip      294015 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 294381 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  294381 non-null  object
 1   comid       294381 non-null  int64
 2   C           294381 non-null  float64
 3   Precip      294381 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 294746 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  294746 non-null  object
 1   comid       294746 non-null  int64
 2   C           294746 non-null  float64
 3   Precip      294746 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 295111 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  295111 non-null  object
 1   comid       295111 non-null  int64
 2   C           295111 non-null  float64
 3   Precip      295111 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 295476 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  295476 non-null  object
 1   comid       295476 non-null  int64
 2   C           295476 non-null  float64
 3   Precip      295476 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 295842 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  295842 non-null  object
 1   comid       295842 non-null  int64
 2   C           295842 non-null  float64
 3   Precip      295842 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 296207 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  296207 non-null  object
 1   comid       296207 non-null  int64
 2   C           296207 non-null  float64
 3   Precip      296207 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 296572 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  296572 non-null  object
 1   comid       296572 non-null  int64
 2   C           296572 non-null  float64
 3   Precip      296572 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 296937 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  296937 non-null  object
 1   comid       296937 non-null  int64
 2   C           296937 non-null  float64
 3   Precip      296937 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 297303 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  297303 non-null  object
 1   comid       297303 non-null  int64
 2   C           297303 non-null  float64
 3   Precip      297303 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.3+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 297668 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  297668 non-null  object
 1   comid       297668 non-null  int64
 2   C           297668 non-null  float64
 3   Precip      297668 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 298033 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  298033 non-null  object
 1   comid       298033 non-null  int64
 2   C           298033 non-null  float64
 3   Precip      298033 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 298398 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  298398 non-null  object
 1   comid       298398 non-null  int64
 2   C           298398 non-null  float64
 3   Precip      298398 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 298764 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  298764 non-null  object
 1   comid       298764 non-null  int64
 2   C           298764 non-null  float64
 3   Precip      298764 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 299129 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  299129 non-null  object
 1   comid       299129 non-null  int64
 2   C           299129 non-null  float64
 3   Precip      299129 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 299494 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  299494 non-null  object
 1   comid       299494 non-null  int64
 2   C           299494 non-null  float64
 3   Precip      299494 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 299859 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  299859 non-null  object
 1   comid       299859 non-null  int64
 2   C           299859 non-null  float64
 3   Precip      299859 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.4+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 300225 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  300225 non-null  object
 1   comid       300225 non-null  int64
 2   C           300225 non-null  float64
 3   Precip      300225 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 300590 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  300590 non-null  object
 1   comid       300590 non-null  int64
 2   C           300590 non-null  float64
 3   Precip      300590 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 300955 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  300955 non-null  object
 1   comid       300955 non-null  int64
 2   C           300955 non-null  float64
 3   Precip      300955 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 301320 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  301320 non-null  object
 1   comid       301320 non-null  int64
 2   C           301320 non-null  float64
 3   Precip      301320 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 301686 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  301686 non-null  object
 1   comid       301686 non-null  int64
 2   C           301686 non-null  float64
 3   Precip      301686 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 302051 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  302051 non-null  object
 1   comid       302051 non-null  int64
 2   C           302051 non-null  float64
 3   Precip      302051 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 302416 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  302416 non-null  object
 1   comid       302416 non-null  int64
 2   C           302416 non-null  float64
 3   Precip      302416 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 302781 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  302781 non-null  object
 1   comid       302781 non-null  int64
 2   C           302781 non-null  float64
 3   Precip      302781 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 303147 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  303147 non-null  object
 1   comid       303147 non-null  int64
 2   C           303147 non-null  float64
 3   Precip      303147 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 303512 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  303512 non-null  object
 1   comid       303512 non-null  int64
 2   C           303512 non-null  float64
 3   Precip      303512 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 303877 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  303877 non-null  object
 1   comid       303877 non-null  int64
 2   C           303877 non-null  float64
 3   Precip      303877 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 304242 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  304242 non-null  object
 1   comid       304242 non-null  int64
 2   C           304242 non-null  float64
 3   Precip      304242 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 304608 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  304608 non-null  object
 1   comid       304608 non-null  int64
 2   C           304608 non-null  float64
 3   Precip      304608 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2017-01-01 00:00:00 2017-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2017-01-01 00 to 2017-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2017-01-01 00:00:00", "endDate": "2017-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 304973 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  304973 non-null  object
 1   comid       304973 non-null  int64
 2   C           304973 non-null  float64
 3   Precip      304973 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
2018-01-01 00:00:00 2018-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2018-01-01 00 to 2018-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2018-01-01 00:00:00", "endDate": "2018-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 305338 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  305338 non-null  object
 1   comid       305338 non-null  int64
 2   C           305338 non-null  float64
 3   Precip      305338 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ MB
1981-01-01 00:00:00 1981-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1981-01-01 00 to 1981-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1981-01-01 00:00:00", "endDate": "1981-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 305703 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  305703 non-null  object
 1   comid       305703 non-null  int64
 2   C           305703 non-null  float64
 3   Precip      305703 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1982-01-01 00:00:00 1982-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1982-01-01 00 to 1982-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1982-01-01 00:00:00", "endDate": "1982-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 306068 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  306068 non-null  object
 1   comid       306068 non-null  int64
 2   C           306068 non-null  float64
 3   Precip      306068 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1983-01-01 00:00:00 1983-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1983-01-01 00 to 1983-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1983-01-01 00:00:00", "endDate": "1983-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 306433 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  306433 non-null  object
 1   comid       306433 non-null  int64
 2   C           306433 non-null  float64
 3   Precip      306433 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1984-01-01 00:00:00 1984-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1984-01-01 00 to 1984-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1984-01-01 00:00:00", "endDate": "1984-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 306799 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  306799 non-null  object
 1   comid       306799 non-null  int64
 2   C           306799 non-null  float64
 3   Precip      306799 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1985-01-01 00:00:00 1985-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1985-01-01 00 to 1985-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1985-01-01 00:00:00", "endDate": "1985-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 307164 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  307164 non-null  object
 1   comid       307164 non-null  int64
 2   C           307164 non-null  float64
 3   Precip      307164 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1986-01-01 00:00:00 1986-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1986-01-01 00 to 1986-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1986-01-01 00:00:00", "endDate": "1986-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 307529 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  307529 non-null  object
 1   comid       307529 non-null  int64
 2   C           307529 non-null  float64
 3   Precip      307529 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1987-01-01 00:00:00 1987-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1987-01-01 00 to 1987-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1987-01-01 00:00:00", "endDate": "1987-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 307894 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  307894 non-null  object
 1   comid       307894 non-null  int64
 2   C           307894 non-null  float64
 3   Precip      307894 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.7+ MB
1988-01-01 00:00:00 1988-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1988-01-01 00 to 1988-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1988-01-01 00:00:00", "endDate": "1988-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 308260 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  308260 non-null  object
 1   comid       308260 non-null  int64
 2   C           308260 non-null  float64
 3   Precip      308260 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1989-01-01 00:00:00 1989-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1989-01-01 00 to 1989-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1989-01-01 00:00:00", "endDate": "1989-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 308625 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  308625 non-null  object
 1   comid       308625 non-null  int64
 2   C           308625 non-null  float64
 3   Precip      308625 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1990-01-01 00:00:00 1990-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1990-01-01 00 to 1990-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1990-01-01 00:00:00", "endDate": "1990-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 308990 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  308990 non-null  object
 1   comid       308990 non-null  int64
 2   C           308990 non-null  float64
 3   Precip      308990 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1991-01-01 00:00:00 1991-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1991-01-01 00 to 1991-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1991-01-01 00:00:00", "endDate": "1991-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 309355 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  309355 non-null  object
 1   comid       309355 non-null  int64
 2   C           309355 non-null  float64
 3   Precip      309355 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1992-01-01 00:00:00 1992-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1992-01-01 00 to 1992-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1992-01-01 00:00:00", "endDate": "1992-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 309721 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  309721 non-null  object
 1   comid       309721 non-null  int64
 2   C           309721 non-null  float64
 3   Precip      309721 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1993-01-01 00:00:00 1993-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1993-01-01 00 to 1993-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1993-01-01 00:00:00", "endDate": "1993-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 310086 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  310086 non-null  object
 1   comid       310086 non-null  int64
 2   C           310086 non-null  float64
 3   Precip      310086 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1994-01-01 00:00:00 1994-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1994-01-01 00 to 1994-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1994-01-01 00:00:00", "endDate": "1994-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 310451 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  310451 non-null  object
 1   comid       310451 non-null  int64
 2   C           310451 non-null  float64
 3   Precip      310451 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.8+ MB
1995-01-01 00:00:00 1995-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1995-01-01 00 to 1995-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1995-01-01 00:00:00", "endDate": "1995-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 310816 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  310816 non-null  object
 1   comid       310816 non-null  int64
 2   C           310816 non-null  float64
 3   Precip      310816 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
1996-01-01 00:00:00 1996-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 1996-01-01 00 to 1996-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1996-01-01 00:00:00", "endDate": "1996-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 311182 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  311182 non-null  object
 1   comid       311182 non-null  int64
 2   C           311182 non-null  float64
 3   Precip      311182 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
1997-01-01 00:00:00 1997-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1997-01-01 00 to 1997-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1997-01-01 00:00:00", "endDate": "1997-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 311547 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  311547 non-null  object
 1   comid       311547 non-null  int64
 2   C           311547 non-null  float64
 3   Precip      311547 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
1998-01-01 00:00:00 1998-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1998-01-01 00 to 1998-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1998-01-01 00:00:00", "endDate": "1998-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 311912 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  311912 non-null  object
 1   comid       311912 non-null  int64
 2   C           311912 non-null  float64
 3   Precip      311912 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
1999-01-01 00:00:00 1999-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1999-01-01 00 to 1999-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "1999-01-01 00:00:00", "endDate": "1999-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 312277 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  312277 non-null  object
 1   comid       312277 non-null  int64
 2   C           312277 non-null  float64
 3   Precip      312277 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
2000-01-01 00:00:00 2000-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2000-01-01 00 to 2000-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2000-01-01 00:00:00", "endDate": "2000-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 312643 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  312643 non-null  object
 1   comid       312643 non-null  int64
 2   C           312643 non-null  float64
 3   Precip      312643 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
2001-01-01 00:00:00 2001-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2001-01-01 00 to 2001-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2001-01-01 00:00:00", "endDate": "2001-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 313008 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  313008 non-null  object
 1   comid       313008 non-null  int64
 2   C           313008 non-null  float64
 3   Precip      313008 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.9+ MB
2002-01-01 00:00:00 2002-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2002-01-01 00 to 2002-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2002-01-01 00:00:00", "endDate": "2002-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 313373 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  313373 non-null  object
 1   comid       313373 non-null  int64
 2   C           313373 non-null  float64
 3   Precip      313373 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2003-01-01 00:00:00 2003-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2003-01-01 00 to 2003-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2003-01-01 00:00:00", "endDate": "2003-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 313738 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  313738 non-null  object
 1   comid       313738 non-null  int64
 2   C           313738 non-null  float64
 3   Precip      313738 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2004-01-01 00:00:00 2004-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2004-01-01 00 to 2004-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2004-01-01 00:00:00", "endDate": "2004-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 314104 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  314104 non-null  object
 1   comid       314104 non-null  int64
 2   C           314104 non-null  float64
 3   Precip      314104 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2005-01-01 00:00:00 2005-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2005-01-01 00 to 2005-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2005-01-01 00:00:00", "endDate": "2005-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 314469 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  314469 non-null  object
 1   comid       314469 non-null  int64
 2   C           314469 non-null  float64
 3   Precip      314469 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2006-01-01 00:00:00 2006-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2006-01-01 00 to 2006-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2006-01-01 00:00:00", "endDate": "2006-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 314834 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  314834 non-null  object
 1   comid       314834 non-null  int64
 2   C           314834 non-null  float64
 3   Precip      314834 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2007-01-01 00:00:00 2007-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2007-01-01 00 to 2007-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2007-01-01 00:00:00", "endDate": "2007-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 315199 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  315199 non-null  object
 1   comid       315199 non-null  int64
 2   C           315199 non-null  float64
 3   Precip      315199 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2008-01-01 00:00:00 2008-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2008-01-01 00 to 2008-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2008-01-01 00:00:00", "endDate": "2008-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 315565 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  315565 non-null  object
 1   comid       315565 non-null  int64
 2   C           315565 non-null  float64
 3   Precip      315565 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.0+ MB
2009-01-01 00:00:00 2009-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2009-01-01 00 to 2009-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2009-01-01 00:00:00", "endDate": "2009-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 315930 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  315930 non-null  object
 1   comid       315930 non-null  int64
 2   C           315930 non-null  float64
 3   Precip      315930 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2010-01-01 00:00:00 2010-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2010-01-01 00 to 2010-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2010-01-01 00:00:00", "endDate": "2010-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 316295 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  316295 non-null  object
 1   comid       316295 non-null  int64
 2   C           316295 non-null  float64
 3   Precip      316295 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2011-01-01 00:00:00 2011-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 00 to 2011-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2011-01-01 00:00:00", "endDate": "2011-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

<class 'pandas.core.frame.DataFrame'>
Index: 316660 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  316660 non-null  object
 1   comid       316660 non-null  int64
 2   C           316660 non-null  float64
 3   Precip      316660 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2012-01-01 00:00:00 2012-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2012-01-01 00 to 2012-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2012-01-01 00:00:00", "endDate": "2012-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 317026 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  317026 non-null  object
 1   comid       317026 non-null  int64
 2   C           317026 non-null  float64
 3   Precip      317026 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2013-01-01 00:00:00 2013-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2013-01-01 00 to 2013-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2013-01-01 00:00:00", "endDate": "2013-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 317391 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  317391 non-null  object
 1   comid       317391 non-null  int64
 2   C           317391 non-null  float64
 3   Precip      317391 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2014-01-01 00:00:00 2014-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2014-01-01 00 to 2014-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2014-01-01 00:00:00", "endDate": "2014-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 317756 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  317756 non-null  object
 1   comid       317756 non-null  int64
 2   C           317756 non-null  float64
 3   Precip      317756 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2015-01-01 00:00:00 2015-12-31 00:00:00
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2015-01-01 00 to 2015-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  365 non-null    float64
 1   Min Temp  365 non-null    float64
 2   Avg Temp  365 non-null    float64
 3   C         365 non-null    float64
 4   date      365 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.1+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2015-01-01 00:00:00", "endDate": "2015-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 318121 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  318121 non-null  object
 1   comid       318121 non-null  int64
 2   C           318121 non-null  float64
 3   Precip      318121 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB
2016-01-01 00:00:00 2016-12-31 00:00:00

{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}
<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 2016-01-01 00 to 2016-12-31 00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Max Temp  366 non-null    float64
 1   Min Temp  366 non-null    float64
 2   Avg Temp  366 non-null    float64
 3   C         366 non-null    float64
 4   date      366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 17.2+ KB
{"source": "nldas", "dateTimeSpan": {"startDate": "2016-01-01 00:00:00", "endDate": "2016-12-31 00:00:00", "dateTimeFormat": null}, "geometry": {"description": null, "comID": 0, "hucID": null, "stationID": null, "point": {"latitude": "  37.1875", "longitude": " -80.0625"}, "geometryMetadata": null, "timezone": null}, "dataValueFormat": "f2", "temporalResolution": "daily", "timeLocalized": false, "units": null, "outputFormat": null, "baseURL": null, "inputTimeSeries": null}

ConnectionError: ('Connection aborted.', TimeoutError(10060, 'A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond', None, 10060, None))

In [153]:
df_focus_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 318121 entries, 1981-01-01 00 to 2018-12-31 00
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sfc_Runoff  318121 non-null  object
 1   comid       318121 non-null  int64
 2   C           318121 non-null  float64
 3   Precip      318121 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.1+ MB

In [154]:
df_focus_all.comid.unique()

array([8625739, 8628603, 8625735, 8625685, 8625523, 8628581, 8625717,
       8628611, 8625313, 8628587, 8628579, 8625615, 8628591, 8625279,
       8625547, 8625697, 8627469, 8625775, 8625727, 8625747, 8628577,
       8625731, 8625375], dtype=int64)

In [155]:
df_focus_all.head(-1)

              Sfc_Runoff    comid     C  Precip
1981-01-01 00    0.00040  8625739  2.45    0.41
1981-01-01 00    0.00030  8628603  1.25    0.39
1981-01-01 00    0.00040  8625735  2.45    0.41
1981-01-01 00    0.00040  8625685  2.45    0.41
1981-01-01 00    0.00040  8625523  2.45    0.41
...                  ...      ...   ...     ...
2018-12-31 00    0.01660  8628581  7.51    1.82
2018-12-31 00    0.02260  8625313  8.62    2.29
2018-12-31 00    0.01440  8625727  8.37    1.93
2018-12-31 00    0.01440  8625717  8.37    1.93
2018-12-31 00    0.01440  8625731  8.37    1.93

[318120 rows x 4 columns]

In [156]:
df_focus_all = df_focus_all.set_index(pd.to_datetime(df_focus_all.index)) #allows for parsing of dates

In [157]:
import datetime as dt
import os

In [158]:
now = (dt.datetime.now().date())
now

datetime.date(2023, 6, 5)

In [159]:
filename = str(now) + '_COMID_' + str(comid_list[0][-1])
print(filename)

2023-06-05_COMID_8629331

In [160]:
for comid in comid_list[0]:
    df_focus_all.loc[df_focus_all['comid'] == comid].info() #partioned the cells which were focused on Haven't fully iterated yet
    file_comid = str(comid)
    #includes time span 
    filename2 = str(now) +'_' + output3['dataSource'] +'_SR_&_Climate_COMID_' + file_comid + '_'+ str(df_focus_all.index[0].year) + '_' + str(df_focus_all.index[-1].year) + '.csv'
    print(filename2)
    df_focus_all_2 = df_focus_all.loc[df_focus_all['comid'] == comid]#.drop(columns={'cell'})
    df_focus_all_2.info()
    #print(f"SW_Index_{cell}.csv")
    #file =  f"SW_Index_{cell}.csv"
    df_focus_all_2.drop(columns={'comid'}).to_csv(filename2, header=True, index=True)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625279_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625313_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625375_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625523_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625547_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625615_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625685_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625697_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625717_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625727_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625731_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625735_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625739_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625747_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8625775_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8627469_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628577_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628579_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628581_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628587_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628591_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628603_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1981-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  13879 non-null  object
 1   comid       13879 non-null  int64
 2   C           13879 non-null  float64
 3   Precip      13879 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 542.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12783 entries, 1981-01-01 to 2015-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12783 non-null  object
 1   comid       12783 non-null  int64
 2   C           12783 non-null  float64
 3   Precip      12783 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 499.3+ KB
2023-06-05_nldas_SR_&_Climate_COMID_8628611_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12783 entries, 1981-01-01 to 2015-12-31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  12783 non-null  object
 1   comid       12783 non-null  int64
 2   C           12783 non-null  float64
 3   Precip      12783 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 499.3+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
2023-06-05_nldas_SR_&_Climate_COMID_8628623_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
2023-06-05_nldas_SR_&_Climate_COMID_8628627_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
2023-06-05_nldas_SR_&_Climate_COMID_8628631_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
2023-06-05_nldas_SR_&_Climate_COMID_8628641_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
2023-06-05_nldas_SR_&_Climate_COMID_8628643_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes
2023-06-05_nldas_SR_&_Climate_COMID_8629331_1981_2018.csv
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sfc_Runoff  0 non-null      object
 1   comid       0 non-null      int64
 2   C           0 non-null      float64
 3   Precip      0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 0.0+ bytes

In [ ]:
#correct accessibility of location list and auotomation of exporting files inclusive of current date, source of data, units
#Index number and start and end year e.g. (filename2 = 2023-03-17_nldas_SR_mm_COMID_262790_1992_2019.csv)
for comid in comid_list:
    df_focus_all.loc[df_focus_all['comid'] == comid].info() #partioned the cells which were focused on 
    file_comid = str(comid)
    #includes time span 
    filename2 = str(now) +'_' + output3['source'] +'_SR_mm_COMID_' + file_comid + '_'+ str(df_focus_all.index[0].year) + '_' + str(df_foucs_all.index[-1].year) + '.csv'
    print(filename2)
    df_runoff_all_2 = df_focus_all.loc[df_focus_all['comid'] == comid]#.drop(columns={'cell'})
    df_runoff_all_2.info()
    #print(f"SW_Index_{cell}.csv")
    #file =  f"SW_Index_{cell}.csv"
    df_runoff_all_2.drop(columns={'cell'}).to_csv(filename2, header=False, index=False)